* {
    outline: none !important;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

a:active,
a:focus {
    outline: none !important;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--body-background) !important;
}

//General-scss
.font-family {
    font-family: "DM Sans", sans-serif !important;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.no-padding {
    padding: 0px;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

a,
a:visited,
a:hover {
    display: block;
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

input[type="text"] {
    min-width: 200px;
}

.list {
    transition: transform 0.4s ease-in-out;
}

.dropit {
    button {
        background: transparent;
        border: none;
    }
}

.list {
    position: absolute;
    right: 0;
    top: 39px;
    list-style-type: none;
    transform-origin: top;
    transition: transform 0.4s ease-in-out;
    overflow: hidden;
    z-index: 99;
    padding: 10px 0px;
    background: white;
    border-radius: 7px;
    li {
        min-width: 240px;
        a {
            display: block;
            width: 100%;
            padding: 0.25rem 1.5rem;
            clear: both;
            font-weight: 400;
            color: #424242;
            text-align: inherit;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
            text-decoration: none;
        }
    }
}

.slide-enter,
.slide-leave-to {
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
  
    -webkit-animation: fade-enter-active fade-leave-active 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              animation: fade-enter-active fade-leave-active 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  .fade-enter, .fade-leave-to , .fade-leave-active {
    opacity: 0;
  }

.dropit {
    cursor: pointer;
}

.dropit .user-list {
    padding: 0;
    button {
        background-color: var(--lightgreen);
        color: var(--text-white);
        text-transform: uppercase;
        font-size: 12px;
        width: 100%;
        margin-top: 5px;
    }
}

.admin-logout {
    padding: 10px 10px !important;
    width: max-content;
}

.button {
    @extend %button-property-shared;
    &:hover {
        background: var(--icon-hover-button) !important;
    }
    &:focus {
        background: var(--icon-hover-button) !important;
        outline: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    &:active {
        background: var(--icon-hover-button) !important;
    }
}

button:focus {
    outline: none !important;
}

.no-padding {
    padding: 0px !important;
}

.on {
    transition: all 0.5s;
    -webkit-transition: all 0.25s;
}

%button-property-shared {
    background-color: var(--lightgreen);
    margin-left: 10px;
    text-transform: uppercase;
    border: none;
    padding: 8px 9px 7px;
    font-size: 12px;
    color: var(--text-white);
    border-radius: 5px;
    min-width: 69px;
    font-weight: var(--bold-font) !important;
}

.button {
    @extend %button-property-shared;
}

.red-font {
    color: #f23658 !important;
}

.white-font {
    color: var(--white) !important;
}

.edit-icon {
    margin-left: 8px;
    font-size: 13px;
}

.btn.focus,
.btn:hover,
.btn:active {
    outline: 0px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.badge.focus,
.badge:hover,
.badge:active {
    outline: 0px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.yellowish {
    color: var(--yellowish-color) !important;
}

.green-font {
    color: var(--green-color) !important;
}

html {
    width: 100%;
    overflow: hidden;
    position: relative;
}

body {
    position: absolute;
    width: 100%;
    overflow-y: scroll;
    height: 100%;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

.hide {
    display: none !important;
}

//chart-scss
#users,
#messages {
    .highcharts-point {
        display: none;
    }
}

.highcharts-container {
    width: 100% !important;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    height: 100% !important;
}

.highcharts-root {
    width: 100% !important;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    height: 100% !important;
}

.normal {
    background: var(--bar-strip-sec-label-Color);
}

.above {
    background: var(--above-bg-color);
}

.high {
    background: var(--high-bg-color);
}

.very-high {
    background: var(--very-high-bg-color);
}

//search-styles
.dropdown-menu {
    right: 0 !important;
    margin-right: 0 !important;
    left: auto !important;
    top: 100% !important;
    -webkit-box-shadow: 2px 6px 21px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 6px 21px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 6px 21px -2px rgba(0, 0, 0, 0.75);
}

.collapse:not(.show) {
    display: block !important;
}

button {
    margin: 0;
    padding: 0;
}

.dropdown-icon {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    min-height: 30px;
    width: 8px;
    margin-left: 10px;
    margin-top: 0px;
    background-image: var(--icon-dropdown);
    float: right;
    border: none !important;
    .nav-link {
        padding: 0 !important;
    }
}

.is-active {
    display: block;
}

.dropdown-icon:hover {
    background-image: var(--icon-dropdown_hover);
}

.dropdown-icon.active {
    background-image: var(--icon-dropdown_hover);
}

.nav-link {
    padding: 0 !important;
}

.elite-bg {
    background: var(--elite-bg) !important;
}

.gold-bg {
    background: var(--gold-bg) !important;
}

.platinum-bg {
    background: var(--platinium-bg) !important;
}


/*
.elite-bg-border {
    border: 2px solid var(--elite-bg) !important; 
} 
.gold-bg-border {
    border: 2px solid var(--gold-bg) !important;  
}
.platinum-bg-border {
    border: 2px solid var(--platinium-bg) !important;  
}*/

.vue-highcharts {
    overflow: inherit !important;
}


/* container */

.my-scrollbar {
    width: 100%;
}

.highcharts-axis-labels.highcharts-yaxis-labels {
    display: none;
}

.leaderboardicon .add-icon {
    margin-right: 0px;
}


/* Content */

.fade-effect {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.fadeOne-enter-active,
.fadeOne-leave-active {
    transition: all 0.5s ease-out;
}

.fadeOne-enter,
.fadeOne-leave-to {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    transform: translate(0%, 100%);
}

.fadeTwo-enter-active,
.fadeTwo-leave-active {
    transition: all 0.5s ease-out;
}

.fadeTwo-enter,
.fadeTwo-leave-to {
    clip-path: polygon(0% 100%, 100% 100%, 0% 100%, 0% 100%);
    transform: translate(0%, -100%);
}