$textColorDefault: #4f566b;
$textColorDark: #2a2f45;
$linkColor: hsla(245, 60%, 50%, 1);
$backgroundColor: #302977;
$loadingIndicatorColor: hsla(156, 100%, 48%, 1);
$colorSuccess: #00d68f;
$colorActiveLeftNavLink: hsla(156, 100%, 48%, 1);
$navBarBg: #393184;

:root {
    --text-color-default-on-bg: rgba(255, 255, 255, 0.5);
    --text-color-default: #{$textColorDefault};
    --text-color-dark: #{$textColorDark};
    --link-color: #{$linkColor};
    --link-color-hover: #{lighten($linkColor, 5%)};
    --background-color: #{$backgroundColor};
    --loading-indicator-color: #{$loadingIndicatorColor};
    --color-success: #{$colorSuccess};
    --color-active-left-nav-link: #{$colorActiveLeftNavLink};
    --nav-bar-bg: #{$navBarBg};
}
