#loading,
.loading-shim {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

#loading div,
.loading-shim div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 2em;
}

#loading div span,
.loading-shim div span {
    width: 0.3em;
    height: 1em;
    background-color: var(--loading-indicator-color);
}

#loading div span:first-of-type,
.loading-shim div span:first-of-type {
    -webkit-animation: grow 1s ease-in-out 0ms infinite;
    animation: grow 1s ease-in-out 0ms infinite;
}

#loading div span:nth-of-type(2),
.loading-shim div span:nth-of-type(2) {
    -webkit-animation: grow 1s ease-in-out 0.15s infinite;
    animation: grow 1s ease-in-out 0.15s infinite;
}

#loading div span:nth-of-type(3),
.loading-shim div span:nth-of-type(3) {
    -webkit-animation: grow 1s ease-in-out 0.3s infinite;
    animation: grow 1s ease-in-out 0.3s infinite;
}

#loading div span:nth-of-type(4),
.loading-shim div span:nth-of-type(4) {
    -webkit-animation: grow 1s ease-in-out 0.45s infinite;
    animation: grow 1s ease-in-out 0.45s infinite;
}

@-webkit-keyframes grow {
    0%,
    to {
        transform: scaleY(1);
        opacity: 1;
    }
    50% {
        transform: scaleY(2);
        opacity: 0.8;
    }
}

@keyframes grow {
    0%,
    to {
        transform: scaleY(1);
        opacity: 1;
    }
    50% {
        transform: scaleY(2);
        opacity: 0.8;
    }
}

.container {
    width: 100%;
    max-width: 100%;
    margin: 0px auto;
    padding: 0px !important;
}

.avatar {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border: 2px solid var(--color-success);
    background-color: var(--color-success);
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 900;
    font-family: Nunito;
}

.mt-0,
.mt--0 {
    margin-top: 0;
}

.pt-0 {
    padding-top: 0;
}

.mb-0,
.mb--0 {
    margin-bottom: 0;
}

.pb-0 {
    padding-bottom: 0;
}

.ml-0,
.ml--0 {
    margin-left: 0;
}

.pl-0 {
    padding-left: 0;
}

.mr-0,
.mr--0 {
    margin-right: 0;
}

.pr-0 {
    padding-right: 0;
}

.mx-0 {
    margin-left: 0;
    margin-right: 0;
}

.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt--1 {
    margin-top: -0.25rem;
}

.pt-1 {
    padding-top: 0.25rem;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mb--1 {
    margin-bottom: -0.25rem;
}

.pb-1 {
    padding-bottom: 0.25rem;
}

.ml-1 {
    margin-left: 0.25rem;
}

.ml--1 {
    margin-left: -0.25rem;
}

.pl-1 {
    padding-left: 0.25rem;
}

.mr-1 {
    margin-right: 0.25rem;
}

.mr--1 {
    margin-right: -0.25rem;
}

.pr-1 {
    padding-right: 0.25rem;
}

.mx-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.my-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt--2 {
    margin-top: -0.5rem;
}

.pt-2 {
    padding-top: 0.5rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb--2 {
    margin-bottom: -0.5rem;
}

.pb-2 {
    padding-bottom: 0.5rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.ml--2 {
    margin-left: -0.5rem;
}

.pl-2 {
    padding-left: 0.5rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mr--2 {
    margin-right: -0.5rem;
}

.pr-2 {
    padding-right: 0.5rem;
}

.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.mt-3 {
    margin-top: 0.75rem;
}

.mt--3 {
    margin-top: -0.75rem;
}

.pt-3 {
    padding-top: 0.75rem;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.mb--3 {
    margin-bottom: -0.75rem;
}

.pb-3 {
    padding-bottom: 0.75rem;
}

.ml-3 {
    margin-left: 0.75rem;
}

.ml--3 {
    margin-left: -0.75rem;
}

.pl-3 {
    padding-left: 0.75rem;
}

.mr-3 {
    margin-right: 0.75rem;
}

.mr--3 {
    margin-right: -0.75rem;
}

.pr-3 {
    padding-right: 0.75rem;
}

.mx-3 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.my-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mt--4 {
    margin-top: -1rem;
}

.pt-4 {
    padding-top: 1rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mb--4 {
    margin-bottom: -1rem;
}

.pb-4 {
    padding-bottom: 1rem;
}

.ml-4 {
    margin-left: 1rem;
}

.ml--4 {
    margin-left: -1rem;
}

.pl-4 {
    padding-left: 1rem;
}

.mr-4 {
    margin-right: 1rem;
}

.mr--4 {
    margin-right: -1rem;
}

.pr-4 {
    padding-right: 1rem;
}

.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.mt-5 {
    margin-top: 1.25rem;
}

.mt--5 {
    margin-top: -1.25rem;
}

.pt-5 {
    padding-top: 1.25rem;
}

.mb-5 {
    margin-bottom: 1.25rem;
}

.mb--5 {
    margin-bottom: -1.25rem;
}

.pb-5 {
    padding-bottom: 1.25rem;
}

.ml-5 {
    margin-left: 1.25rem;
}

.ml--5 {
    margin-left: -1.25rem;
}

.pl-5 {
    padding-left: 1.25rem;
}

.mr-5 {
    margin-right: 1.25rem;
}

.mr--5 {
    margin-right: -1.25rem;
}

.pr-5 {
    padding-right: 1.25rem;
}

.mx-5 {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.my-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.mt--6 {
    margin-top: -1.5rem;
}

.pt-6 {
    padding-top: 1.5rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.mb--6 {
    margin-bottom: -1.5rem;
}

.pb-6 {
    padding-bottom: 1.5rem;
}

.ml-6 {
    margin-left: 1.5rem;
}

.ml--6 {
    margin-left: -1.5rem;
}

.pl-6 {
    padding-left: 1.5rem;
}

.mr-6 {
    margin-right: 1.5rem;
}

.mr--6 {
    margin-right: -1.5rem;
}

.pr-6 {
    padding-right: 1.5rem;
}

.mx-6 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.mt-7 {
    margin-top: 1.75rem;
}

.mt--7 {
    margin-top: -1.75rem;
}

.pt-7 {
    padding-top: 1.75rem;
}

.mb-7 {
    margin-bottom: 1.75rem;
}

.mb--7 {
    margin-bottom: -1.75rem;
}

.pb-7 {
    padding-bottom: 1.75rem;
}

.ml-7 {
    margin-left: 1.75rem;
}

.ml--7 {
    margin-left: -1.75rem;
}

.pl-7 {
    padding-left: 1.75rem;
}

.mr-7 {
    margin-right: 1.75rem;
}

.mr--7 {
    margin-right: -1.75rem;
}

.pr-7 {
    padding-right: 1.75rem;
}

.mx-7 {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
}

.px-7 {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

.my-7 {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
}

.py-7 {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}

.mt-8 {
    margin-top: 2rem;
}

.mt--8 {
    margin-top: -2rem;
}

.pt-8 {
    padding-top: 2rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.mb--8 {
    margin-bottom: -2rem;
}

.pb-8 {
    padding-bottom: 2rem;
}

.ml-8 {
    margin-left: 2rem;
}

.ml--8 {
    margin-left: -2rem;
}

.pl-8 {
    padding-left: 2rem;
}

.mr-8 {
    margin-right: 2rem;
}

.mr--8 {
    margin-right: -2rem;
}

.pr-8 {
    padding-right: 2rem;
}

.mx-8 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.mt-9 {
    margin-top: 2.25rem;
}

.mt--9 {
    margin-top: -2.25rem;
}

.pt-9 {
    padding-top: 2.25rem;
}

.mb-9 {
    margin-bottom: 2.25rem;
}

.mb--9 {
    margin-bottom: -2.25rem;
}

.pb-9 {
    padding-bottom: 2.25rem;
}

.ml-9 {
    margin-left: 2.25rem;
}

.ml--9 {
    margin-left: -2.25rem;
}

.pl-9 {
    padding-left: 2.25rem;
}

.mr-9 {
    margin-right: 2.25rem;
}

.mr--9 {
    margin-right: -2.25rem;
}

.pr-9 {
    padding-right: 2.25rem;
}

.mx-9 {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
}

.px-9 {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
}

.my-9 {
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
}

.py-9 {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
}

.mt-10 {
    margin-top: 2.5rem;
}

.mt--10 {
    margin-top: -2.5rem;
}

.pt-10 {
    padding-top: 2.5rem;
}

.mb-10 {
    margin-bottom: 2.5rem;
}

.mb--10 {
    margin-bottom: -2.5rem;
}

.pb-10 {
    padding-bottom: 2.5rem;
}

.ml-10 {
    margin-left: 2.5rem;
}

.ml--10 {
    margin-left: -2.5rem;
}

.pl-10 {
    padding-left: 2.5rem;
}

.mr-10 {
    margin-right: 2.5rem;
}

.mr--10 {
    margin-right: -2.5rem;
}

.pr-10 {
    padding-right: 2.5rem;
}

.mx-10 {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.my-10 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.mt-11 {
    margin-top: 2.75rem;
}

.mt--11 {
    margin-top: -2.75rem;
}

.pt-11 {
    padding-top: 2.75rem;
}

.mb-11 {
    margin-bottom: 2.75rem;
}

.mb--11 {
    margin-bottom: -2.75rem;
}

.pb-11 {
    padding-bottom: 2.75rem;
}

.ml-11 {
    margin-left: 2.75rem;
}

.ml--11 {
    margin-left: -2.75rem;
}

.pl-11 {
    padding-left: 2.75rem;
}

.mr-11 {
    margin-right: 2.75rem;
}

.mr--11 {
    margin-right: -2.75rem;
}

.pr-11 {
    padding-right: 2.75rem;
}

.mx-11 {
    margin-left: 2.75rem;
    margin-right: 2.75rem;
}

.px-11 {
    padding-left: 2.75rem;
    padding-right: 2.75rem;
}

.my-11 {
    margin-top: 2.75rem;
    margin-bottom: 2.75rem;
}

.py-11 {
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
}

.mt-12 {
    margin-top: 3rem;
}

.mt--12 {
    margin-top: -3rem;
}

.pt-12 {
    padding-top: 3rem;
}

.mb-12 {
    margin-bottom: 3rem;
}

.mb--12 {
    margin-bottom: -3rem;
}

.pb-12 {
    padding-bottom: 3rem;
}

.ml-12 {
    margin-left: 3rem;
}

.ml--12 {
    margin-left: -3rem;
}

.pl-12 {
    padding-left: 3rem;
}

.mr-12 {
    margin-right: 3rem;
}

.mr--12 {
    margin-right: -3rem;
}

.pr-12 {
    padding-right: 3rem;
}

.mx-12 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.my-12 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.mt-13 {
    margin-top: 3.25rem;
}

.mt--13 {
    margin-top: -3.25rem;
}

.pt-13 {
    padding-top: 3.25rem;
}

.mb-13 {
    margin-bottom: 3.25rem;
}

.mb--13 {
    margin-bottom: -3.25rem;
}

.pb-13 {
    padding-bottom: 3.25rem;
}

.ml-13 {
    margin-left: 3.25rem;
}

.ml--13 {
    margin-left: -3.25rem;
}

.pl-13 {
    padding-left: 3.25rem;
}

.mr-13 {
    margin-right: 3.25rem;
}

.mr--13 {
    margin-right: -3.25rem;
}

.pr-13 {
    padding-right: 3.25rem;
}

.mx-13 {
    margin-left: 3.25rem;
    margin-right: 3.25rem;
}

.px-13 {
    padding-left: 3.25rem;
    padding-right: 3.25rem;
}

.my-13 {
    margin-top: 3.25rem;
    margin-bottom: 3.25rem;
}

.py-13 {
    padding-top: 3.25rem;
    padding-bottom: 3.25rem;
}

.mt-14 {
    margin-top: 3.5rem;
}

.mt--14 {
    margin-top: -3.5rem;
}

.pt-14 {
    padding-top: 3.5rem;
}

.mb-14 {
    margin-bottom: 3.5rem;
}

.mb--14 {
    margin-bottom: -3.5rem;
}

.pb-14 {
    padding-bottom: 3.5rem;
}

.ml-14 {
    margin-left: 3.5rem;
}

.ml--14 {
    margin-left: -3.5rem;
}

.pl-14 {
    padding-left: 3.5rem;
}

.mr-14 {
    margin-right: 3.5rem;
}

.mr--14 {
    margin-right: -3.5rem;
}

.pr-14 {
    padding-right: 3.5rem;
}

.mx-14 {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

.px-14 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.my-14 {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

.py-14 {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.mt-15 {
    margin-top: 3.75rem;
}

.mt--15 {
    margin-top: -3.75rem;
}

.pt-15 {
    padding-top: 3.75rem;
}

.mb-15 {
    margin-bottom: 3.75rem;
}

.mb--15 {
    margin-bottom: -3.75rem;
}

.pb-15 {
    padding-bottom: 3.75rem;
}

.ml-15 {
    margin-left: 3.75rem;
}

.ml--15 {
    margin-left: -3.75rem;
}

.pl-15 {
    padding-left: 3.75rem;
}

.mr-15 {
    margin-right: 3.75rem;
}

.mr--15 {
    margin-right: -3.75rem;
}

.pr-15 {
    padding-right: 3.75rem;
}

.mx-15 {
    margin-left: 3.75rem;
    margin-right: 3.75rem;
}

.px-15 {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
}

.my-15 {
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
}

.py-15 {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}

.mt-16 {
    margin-top: 4rem;
}

.mt--16 {
    margin-top: -4rem;
}

.pt-16 {
    padding-top: 4rem;
}

.mb-16 {
    margin-bottom: 4rem;
}

.mb--16 {
    margin-bottom: -4rem;
}

.pb-16 {
    padding-bottom: 4rem;
}

.ml-16 {
    margin-left: 4rem;
}

.ml--16 {
    margin-left: -4rem;
}

.pl-16 {
    padding-left: 4rem;
}

.mr-16 {
    margin-right: 4rem;
}

.mr--16 {
    margin-right: -4rem;
}

.pr-16 {
    padding-right: 4rem;
}

.mx-16 {
    margin-left: 4rem;
    margin-right: 4rem;
}

.px-16 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.my-16 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-grow {
    flex: 1;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.uppercase {
    text-transform: uppercase;
}

#app {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

nav {
    // background-color:#08080880;
    border-bottom: 1.5px solid var(--border-color);
}

::-webkit-input-placeholder {
    color: var(--text-color-default);
}

::-moz-placeholder {
    color: var(--text-color-default);
}

:-ms-input-placeholder {
    color: var(--text-color-default);
}

::-ms-input-placeholder {
    color: var(--text-color-default);
}

::placeholder {
    color: var(--text-color-default);
}

.combo,
input[type="email"],
input[type="password"],
input[type="text"] {
    background-color: transparent;
    border: 2px solid var(--text-color-default);
    color: #fff;
    outline: none;
    border-radius: 4px;
    padding: 1.1rem 0.9rem;
    font-size: 1rem;
    width: 100%;
}

.combo:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
    border-color: var(--link-color);
}

.combo.combo,
input[type="email"].combo,
input[type="password"].combo,
input[type="text"].combo {
    padding: 0;
}

.combo .sibling,
input[type="email"] .sibling,
input[type="password"] .sibling,
input[type="text"] .sibling {
    background-color: transparent;
    border: none;
}

button {
    color: #fff;
    background: #5a53ac;
    border: 2px solid transparent;
    border-radius: 4px;
    padding: .7rem 1rem;
    min-width: 6rem;
    font-size: .85rem;
    font-weight: 700;
    cursor: pointer;
    transition: all .12s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: transform .15s ease-in-out;
    outline: none
}

button.full {
    width: 100%;
}

button.large {
    padding: 1.1rem 0.9rem;
    font-size: 1rem;
}

button.action {
    background-color: var(--link-color);
}

button.paypal {
    background: #009cde;
}

button.google {
    color: #222;
    background: #fff;
}

button.discord {
    background-color: #7289da;
    border-color: #7289da;
}

button.facebook {
    background: #4267b2;
}

button.plain {
    background: #46566f;
    color: hsla(0, 0%, 100%, 0.7);
}

button.plain:hover {
    color: #fff;
}

button:hover {
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
    cursor: pointer;
    transform: translateY(-1px);
}

button:active {
    transform: translateY(1px);
}

button.disabled,
button[disabled] {
    pointer-events: none;
    -webkit-filter: grayscale(20%) brightness(80%) opacity(80%);
    filter: grayscale(20%) brightness(80%) opacity(80%);
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 540px;
}

.steps {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 1rem 0 3rem;
}

.steps,
.steps li.step {
    justify-content: center;
    align-items: center;
}

.steps li.step {
    display: inline-flex;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
    font-size: 0.8rem;
    font-weight: 600;
    border: 2px solid hsla(0, 0%, 100%, 0.15);
    background: transparent;
    color: #c3bcf1;
}

.steps li.active {
    background: #8f6cfe;
    color: #fff;
    border-color: #3a317e;
    box-shadow: 0 0 8px #8f6cfe;
    z-index: 2;
}

.steps li:not(.step) {
    background: #3a317e;
    -webkit-filter: brightness(130%) saturate(75%);
    filter: brightness(130%) saturate(75%);
    height: 6px;
    width: 140px;
    margin: 2px;
}

.steps li:not(.step).active {
    background: #8f6cfe;
    -webkit-filter: saturate(75%);
    filter: saturate(75%);
}

.plan {
    max-width: 18rem;
    flex: 1;
    margin: 0.25rem;
    padding: 2rem;
    border-radius: 4px;
    cursor: pointer;
    background-color: #08080880;
    color: hsla(0, 0%, 100%, 0.7);
    transition: all 0.1s ease-in-out;
}

.plan .plan__name {
    text-align: left;
    font-weight: 600;
    font-size: 1rem;
    padding-bottom: 0.75rem;
    border-bottom: 2px solid #5a4db3;
    margin-bottom: 1.5rem;
    transition: all 0.2s ease-in-out;
}

.plan .plan__pricing {
    text-align: left;
    color: #fff;
}

.plan .plan__price {
    font-weight: 800;
    font-size: 1.2rem;
}

.plan .plan__period {
    font-size: 0.8rem;
    margin-left: 0.2rem;
    color: hsla(0, 0%, 100%, 0.7);
}

.plan .plan__features {
    padding: 0 0.5rem;
    font-size: 0.9rem;
    text-align: left;
}

.plan .plan__features li {
    margin-bottom: 0.75rem;
    color: #6c6699;
    font-weight: 500;
}

.plan .plan__features li span {
    color: hsla(0, 0%, 100%, 0.7);
}

.plan.selected,
.plan:hover {
    background-color: #34343480;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.plan.selected .plan__features li span,
.plan:hover .plan__features li span {
    color: #fff;
}

.plan:hover {
    z-index: 2;
    transform: scale(1.025);
}

.plan.selected {
    transform: scale(1);
    cursor: default;
}

.mobile .plans {
    flex-direction: column;
}

.mobile .plans .plan {
    width: 100%;
    margin: 0.25rem 0;
    box-sizing: border-box;
}

.mobile .plans .plan .plan__features {
    margin-bottom: 14px;
}

.dusersPadd table {
    min-width: 1400px;
}

.dusersPadd h3 {
    font-weight: 600 !important;
}

.text-color-dark {
    color: var(--text-color-dark);
}

.text-color-default {
    color: var(--text-color-default);
}

section {
    margin-bottom: 12px;
    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
}

a {
    color: var(--link-color);
}

h2 {
    line-height: 32px;
    font-size: 24px;
}

h2,
h3 {
    color: var(--text-color-dark);
    margin: 0;
    padding: 0;
    font-weight: 400;
}

h3 {
    font-size: 20px;
    line-height: 28px;
}

p {
    color: var(--text-color-default);
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
}

.setPadd {
    color: #000;
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
}

.setPadd h3 {
    margin-bottom: 20px;
}

#my-table td {
    color: #747373;
    font-size: 14px;
    padding: 10px 15px !important;
    font-weight: 400;
    text-align: left;
}

#my-table th {
    color: #424242;
    font-size: 15px;
    padding: 12px 15px !important;
    font-weight: 600;
    background: #efefef;
    text-align: left;
}

.view-plan-popup {
    padding: 40px 30px 15px !important;
    height: auto !important;
}

.view-plan-popup div {
    margin: 0 auto;
    text-align: center;
}

.view-plan-popup .close-modal {
    top: 2.5px !important;
    margin-right: 16px;
}

.dataTables_wrapper td,
.dataTables_wrapper th {
    text-align: left;
    font-size: 14px;
    padding: 9px 5px;
}

.dataTables_wrapper td {
    border: 1px solid #dee2e6;
}

li.page-item.ripple-parent {
    color: #898989;
}

#addPayment {
    min-height: 440px;
}

#addPayment button#planButton {
    min-width: 140px;
    margin-top: 23px;
}

#updateProfile input,
.addpayment-input input {
    background-color: #f6f6f6 !important;
    border: 1px solid #ccc;
    color: #898989;
    padding: 4px 15px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 15px;
    height: 40px;
}

.view-plan-popup h2 {
    font-size: 20px;
    text-align: center;
    margin: 0 0 20px;
    color: #424242;
    font-weight: 700;
    text-transform: uppercase;
}

.view-plan-popup button.action {
    margin-bottom: 50px;
    border: none;
}

#updateRole p {
    text-align: left;
}

#updateRole .popupButton {
    padding: 6px 30px;
    max-width: 180px;
    font-size: 1em;
}

#updateRole .radio-button {
    width: 100%;
    display: inline-block;
    text-align: left !important;
}

#updateRole .radio-button [type="radio"]:checked,
#updateRole .radio-button [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

#updateRole .radio-button [type="radio"]:checked+label,
#updateRole .radio-button [type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

#updateRole .radio-button [type="radio"]:checked+label:before,
#updateRole .radio-button [type="radio"]:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #f8f8f8;
}

#updateRole .radio-button [type="radio"]:checked+label:after,
#updateRole .radio-button [type="radio"]:not(:checked)+label:after {
    content: "";
    width: 12px;
    height: 12px;
    background: #00d68f;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    transition: all 0.2s ease;
}

#updateRole .radio-button [type="radio"]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
}

#updateRole .radio-button [type="radio"]:checked+label:after {
    opacity: 1;
    transform: scale(1);
}

.set-container .container,
.set-container .setPadd {
    max-width: 100%;
    text-align: center;
}

.set-container #example_length {
    text-align: left;
}

.set-container .dataTables_paginate {
    margin-top: 15px;
}

.set-container .dropbtn {
    color: #fff;
    padding: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.set-container .dropdown {
    position: relative;
    display: inline-block;
}

.set-container .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
}

.set-container button {
    border: none;
    color: #fff;
    background: transparent;
}

.set-container .dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.set-container .input-bg {
    background: transparent;
    border: 1px solid #d3d3d3;
    height: 0;
    font-size: 14px;
}

.set-container .dataTables_info,
.set-container .dataTables_length {
    float: left;
}

.set-container .dropdown-content li {
    color: #424242;
    list-style: none;
    cursor: pointer;
    padding: 5px 10px;
}

.set-container .dropdown:hover .dropdown-content {
    display: block;
}

.dg-open input {
    color: #898989;
}

.setIcon i.fa.fa-calendar {
    position: absolute;
    right: 8px;
    top: 11px;
    font-size: 20px;
}

// plan responsive
@media screen and (max-width: 767px) {
    .plans {
        // padding-left: 6rem;
        .plans-box {
            display: inline-block;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .plans {
        padding-left: 3rem;
        .plans-box {}
    }
}

// plans page
.plan__features li {
    list-style: disc;
    color: rgba(255, 255, 255, 0.7) !important;
}

.table thead th {
    color: var(--primary-color) !important;
}

// dashboard.scss