.sign_up_ratio{
    padding-right: 0px! important;
}
.cancellation_ratio{
    padding-left: 0px! important;
}

.bar-number {
    background: var(--chart-bg-color);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
    background-image: var(--icon-sticks);
    height: 30px;
    border: 2px solid var(--lightgreen);
    border-radius: 100%;
    width: 30px;
    right: 70px; 
    margin-left: 30px;
    .bar-text {
        position: relative;
        width: 20px;
        height: 20px;
        top: -4px;
        right: -11px;
        background: var(--number-bg);
        color: var(--number-text-color);
        border-radius: 100%;
        background-position: 50%;
        background-repeat: no-repeat;
        margin-left: 10px;
        background-image: var(--icon-setting);
        border: 2px solid var(--con-header);
    }
}
.heading{
    font-size: 22px;
    color: var(--heading-color);
    margin-left: 15px;
    margin-top: 10px;
    font-weight: var(--bold-font);
}