$textColorDefault: #4f566b;
$textColorDark: #2a2f45;
$linkColor: hsla(245, 60%, 50%, 1);
$backgroundColor: #302977;
$loadingIndicatorColor: hsla(156, 100%, 48%, 1);
$colorSuccess: #00d68f;
$colorActiveLeftNavLink: hsla(156, 100%, 48%, 1);
$navBarBg: #393184;
$amt: -60%;
$textColorDefault: adjust-hue($textColorDefault, $amt);
$textColorDark: adjust-hue($textColorDark, $amt);
$linkColor: #01dba2;
$backgroundColor: #031927;
$loadingIndicatorColor: #01dba2;
$colorSuccess: #01dba2;
$colorActiveLeftNavLink: #01dba2;
$navBarBg: lighten($backgroundColor, 5%);
:root {
    --primary-color: #818e99;
    --body-background: #021c33;
    --sidebar-wrapper-bg: #112943;
    --primary-bg-color: #22c3aa;
    --border-color: #2c3a5f;
    --content-border: #11293d;
    --con-header: #233249;
    --container-subheading: #fff;
    --navyblue: #233249;
    --nav-border: #979797;
    --darkblue-bg-color: #182f44;
    --lightblue-bg-color: #2d4254;
    --font-color: #2d4254;
    --lightgreen: #22c3aa;
    --ellipsis-color: #fff;
    --heading-color: #fff;
    --tab-active-color: #fff;
    --text-white: #fff;
    --navli-font-color: #a4a8ad;
    --yellowish-color: #bf9f1c;
    --Tealish-Grey-color: #22c3aa;
    --green-color: #22c3aa;
    --elite-bg: #1a3349;
    --gold-bg: #5c4c0b;
    --platinium-bg: #414d5a;
    --progress-box-shadow: #c80000;
    --tab-border-active-color: #fff;
    --spinal-chart-bg-color: #22c3aa;
    //chart-js-color
    --chart-bg-color: #021c33;
    --chartgridLineColor: #33393f;
    --bar-chartgridLineColor: #203547;
    --bar-label-Color: #fff;
    --bar-label-Color-y-axis: #a4a8ad;
    --chart-series-Color: #22c3aa;
    --bar-strip-label-Color: rgb(36, 199, 175);
    --bar-strip-sec-label-Color: #77beff;
    --chart-tooltip-background-Color: rgba(35, 50, 73, 1);
    --chart-tooltip-border-Color: rgba(35, 50, 73, 1);
    --chart-tooltip-text-Color: #fff;
    --barchart-shadow-color: rgba(238, 241, 243, 0.2);
    --icon-hover-button: #0e99ff;
    --trader-number-bg: #818d99;
    --logo-1: url("../assets/images/logo2.png ");
    --logo-2: url("../assets/images/logo1.png ");
    --logo-3: url("../assets/images/logo4.png ");
    --logo-4: url("../assets/images/logo3.png ");
    --logo-5: url("../assets/images/logo5.png ");
    //sidebar-images-path
    --icon-grid: url("../assets/images/dashboard-icon/grid.png");
    --icon-award: url("../assets/images/dashboard-icon/award.png");
    --icon-film: url("../assets/images/dashboard-icon/film.png");
    --navicon-user: url("../assets/images/dashboard-icon/user-light.png");
    //sidebar-images-hover
    --icon-grid_hover: url("../assets/images/dashboard-icon/grid_hover.png");
    --icon-award_hover: url("../assets/images/dashboard-icon/award_hover.png");
    --icon-film_hover: url("../assets/images/dashboard-icon/film_hover.png");
    --navicon-user_hover: url("../assets/images/dashboard-icon/user_hover.png");
    --icon-hover-bg: #233249;
    --icon-hover-text: #22c3aa;
    --icon-dropdown: url("../assets/images/dropdown-icon/red-dropdown.png");
    --icon-dropdown_hover: url("../assets/images/dropdown-icon/green-dropdown.png");
    --icon-sticks: url("../assets/images/sticks.png");
    --icon-sticks_hover: url("../assets/images/sticks.png");
    --icon-member: url("../assets/images/user.png");
    --icon-member_hover: url("../assets/images/user.png");
    --icon-candle: url("../assets/images/candle.png");
    --icon-candle_hover: url("../assets/images/candle.png");
    // --icon-bar: url('../assets/images/bar.png');
    // --icon-bar_hover: url('../assets/images/bar.png');
    --icon-setting: url("../assets/images/setting.png");
    --icon-setting_hover: url("../assets/images/setting.png");
    --hr-line: #34445d;
    --number-bg: #fff;
    --number-text-color: #021c33;
    //common-color
    --white: #fff;
    --black: #000;
    --dark-blue: #031926;
    --login-bg: #031926;
    --red: #f23658;
    --green: #22c3aa;
    --table-grey-color: #6c747d;
    //font-weight-Variables 300,400,600,700,800
    --light-font: 300;
    --regular-font: 400;
    --bold-font: 600;
    --semibold-font: 700;
    --extra-bold-font: 800;
    --regular-font-size: 14px;
    //chart-legand-color
    --normal-bg-color: #77beff;
    --above-bg-color: #a096ff;
    --high-bg-color: #fee57d;
    --very-high-bg-color: #f06170;
    // login-color
    --bg-pic-dis: url("assets/images/bg.png");
    --logo-pic-dis: url("assets/images/bg.png");
    --bg-image: url("../assets/images/cryptotradersBackground.jpg");
    --logo: url("../assets/images/ct-logo.png");
    --logo-responsive: url("../assets/images/ct-logo-responsive.png");
    --bg-logo-dis: url("assets/images/cry-dis-logo.png");
    --green-button-color: #01dba2;
    --inut-form-color: #818c93;
    --fb-bg: #4267b2;
    --discord-bg: #7289da;
    --login-text-color: rgba(255, 255, 255, 0.5);
    --chat-btn: #fff;
    // leaderboard page-color
    --table-green-bg: #22c3aa;
    --table-red-bg: #f06170;
    --table-bottom-border-color: #203547;
    --select-border: #fff;
    --back-button: #818d99;
    --bar-chart-shadow: #818d99;
    --href-color: #22c3aa;
}