/*wrapper-page-scss-*/
    
#wrapper {
    #page-content-wrapper {
        position: absolute;
        left: 60px;
        width: calc(100% - 60px);
        .page-contents {
            display: inline-block;
            width: 100%;
            padding: 50px;
            .container {
                display: inline-block;
                min-width: 100%;
                width: 100%;
                padding: 0px;
                border-radius: 5px;
                margin-bottom: 50px;
                .delete-table-bg {
                    background: var(--con-header);
                }
                .cancelled-text {
                    color: var(--white);
                    font-size: 20px;
                    text-align: center;
                    padding: 10px;
                }
                .container-content {
                    padding: 40px 20px;
                    border: 2px solid var(--navyblue);
                    width: 100%;
                    display: inline-block;
                    #refferal_link{
                        p{
                            color: var(--white);
                        }
                        
                    }
                }
                .dropit {
                    height: 30px;
                }
                .table-box {
                    .table {
                        min-width: 450px;
                        margin-bottom: 0px;
                        %table-property {
                            padding: 15px 0px;
                            color: var(--primary-color);
                            font-size: 14px;
                        }
                        th {
                            @extend %table-property;
                            border: none !important;
                        }
                        tr {
                            border-bottom: 1px solid var(--border-color);
                        }
                        td {
                            @extend %table-property;
                            border-top: none;
                        }
                        .delete-selection {
                            padding: 5px 10px 3px;
                            font-size: 10px;
                        }
                    }
                }
                .delete-outer-div {
                    margin-left: 28px;
                    .delete-div {
                        margin-left: -27px;
                        text-align: center;
                        font-size: 17px;
                        line-height: 16px;
                        width: 18px;
                        height: 18px;
                        border: 1px solid var(--container-subheading);
                        border-radius: 100%;
                    }
                }
                .tabs {
                    margin-bottom: 0;
                    li {
                        border-bottom: 1px solid var(--nav-border);
                        margin-bottom: 70px;
                    }
                }
                .tabs-details {
                    li {
                        border-bottom: 0px solid var(--nav-border) !important;
                        margin-bottom: 0px !important;
                    }
                }
                .container-header {
                    width: 100%;
                    margin: 0px;
                    background: var(--con-header);
                    padding: 20px;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    float: left;
                    button {
                        float: right;
                    }
                    .leaderboard {
                        @extend %button-property-shared;
                        float: left;
                        padding: 9px 9px 9px;
                        height: 30px;
                        &:hover {
                            background: var(--icon-hover-button) !important;
                        }
                        &:focus {
                            background: var(--icon-hover-button) !important;
                        }
                        &:active {
                            background: var(--icon-hover-button) !important;
                        }
                    }
                    .header-div {
                        float: left;
                        display: table;
                        height: 30px;
                        h2 {
                            color: var(--container-subheading);
                            font-weight: var(--regular-font);
                            font-size: 20px;
                            margin: 0;
                            line-height: 24px;
                            display: table-cell !important;
                            vertical-align: middle !important;
                            text-transform: capitalize;
                        }
                        .trader-number {
                            position: absolute;
                            background: var(--chart-bg-color);
                            background-position: center;
                            background-repeat: no-repeat;
                            margin-left: 10px;
                            background-image: var(--icon-candle);
                            height: 30px;
                            border: 2px solid var(--lightgreen);
                            border-radius: 100%;
                            width: 30px;
                            .text-number {
                                position: relative;
                                font-size: 10.5px;
                                background-color: var(--lightgreen);
                                color: var(--con-header);
                                width: 20px;
                                height: 20px;
                                top: -4px;
                                right: -21px;
                                border-radius: 100%;
                                text-align: center;
                                line-height: 10px;
                                border: 2px solid var(--con-header);
                                line-height: 10px;
                                display: table;
                                .text {
                                    vertical-align: middle;
                                    display: table-cell;
                                    width: 100%;
                                }
                            }
                        }
                    }
                    .header-right-items {
                        float: right;
                        margin-right: 0px;
                    }
                    .fa.fa-ellipsis-v {
                        font-size: 24px;
                        padding: 0px;
                        float: right;
                        line-height: 26px;
                        color: var(--ellipsis-color);
                    }
                }
                .user-div {
                    position: absolute;
                    background: var(--chart-bg-color);
                    background-position: center;
                    background-repeat: no-repeat;
                    margin-left: 10px;
                    background-image: var(--icon-member);
                    height: 30px;
                    border: 2px solid var(--lightgreen);
                    border-radius: 100%;
                    width: 30px;
                    .user-number {
                        position: relative;
                        top: -4px;
                        right: -24px;
                        font-size: 12px;
                        background: var(--number-bg);
                        color: var(--number-text-color);
                        border-radius: 12px;
                        text-align: center;
                        display: table;
                        vertical-align: middle !important;
                        border: 2px solid var(--con-header);
                        padding: 0px 8px;
                        display: table;
                        .text {
                            display: table-cell;
                            vertical-align: middle;
                        }
                    }
                }
                #membership-level-div {
                    min-width: 100%;
                    // min-height: 520px;
                    .li-position{
                        position: relative;
                        .top-text{
                            position: absolute;
                            top: 0;
                            right: 0;;
                        }
                    }
                }
                .confirm-cancel-div {
                    // height: 520px;
                    height: 560px;
                    display: table;
                    min-width: 100%;
                    background: var(--con-header);
                    .confirm-cancel {
                        display: table-cell !important;
                        vertical-align: middle;
                        border-top: 2px solid var(--border-color);
                    }
                }
                .bar-number {
                    position: absolute;
                    background: var(--chart-bg-color);
                    background-position: center;
                    background-repeat: no-repeat;
                    margin-right: 10px;
                    background-image: var(--icon-sticks);
                    height: 30px;
                    border: 2px solid var(--lightgreen);
                    border-radius: 100%;
                    width: 30px;
                    right: 70px;
                    .bar-text {
                        position: relative;
                        width: 20px;
                        height: 20px;
                        top: -4px;
                        right: -11px;
                        background: var(--number-bg);
                        color: var(--number-text-color);
                        border-radius: 100%;
                        background-position: 50%;
                        background-repeat: no-repeat;
                        margin-left: 10px;
                        background-image: var(--icon-setting);
                        border: 2px solid var(--con-header);
                    }
                }
                #leaderboard-content-div {
                    background: var(--con-header);
                    top: 0;
                    li {
                        background: var(--body-background) !important;
                        padding: 25px !important;
                        color: var(--primary-color) !important;
                        border: none;
                    }
                    .hr-line {
                        background: var(--hr-line);
                    }
                }
                #watchlist-content-after {
                    width: 100%;
                    min-width: 100%;
                    background: var(--con-header);
                    .form-group {
                        margin-bottom: 1rem;
                        background: transparent;
                        border: 1px solid #ccc;
                        border-radius: 7px;
                        width: calc(100% - 100px);
                        color: var(--navli-font-color);
                        padding: 2px 10px;
                        margin: 20px 0px;
                        height: 34px;
                    }
                    .submit-button {
                        // @extend %button-property-shared;
                        float: right;
                        margin: 20px 0px;
                    }
                    .watchlist-list {
                        width: 100%;
                        display: inline-block;
                        margin: 5px 0px;
                        .content {
                            font-weight: var(--regular-font);
                            color: var(--navli-font-color);
                            font-size: 14px;
                            margin-bottom: 10px;
                            .left-content {
                                color: var(--white);
                                margin-right: 20px;
                                font-size: 15px;
                            }
                            .bold-font {
                                color: var(--white);
                                margin-left: 5px;
                            }
                        }
                    }
                }
                .back {
                    background: var(--back-button);
                }
                .tabs {
                    .elite{
                        color: #34bc6d ! important;
                        border-color: #34bc6d ! important;
                    }
                    .gold{
                        color:#FFC107! important;
                        border-color: #FFC107! important ;
                    }
                    .platinum{
                        color: hsl(187, 100%, 50%)! important;
                        border-color: hsl(187, 100%, 50%)! important ;
                    }
                    .Cancel-membership-button {
                        margin: 20px 10px;
                        color: var(--text-white);
                    }
                    .confirm-cancel {
                        p {
                            color: var(--primary-color);
                            font-size: 18px;
                            text-align: center;
                        }
                    }
                    .progress {
                        background-color: var(--lightblue-bg-color);
                        border-radius: 50px;
                        margin-bottom: 40px;
                        .bg-blue {
                            background: var(--lightgreen);
                            box-shadow: 5px 1px 11px rgba(34, 195, 170, 0.5);
                            -webkit-box-shadow: 5px 1px 11px rgba(34, 195, 170, 0.5);
                            -moz-box-shadow: 5px 1px 11px rgba(34, 195, 170, 0.5);
                            border-radius: 90px;
                        }
                        .bg-green {
                            background: var(--green-color);
                            box-shadow: 5px 1px 11px rgba(34, 195, 170, 0.5);
                            -webkit-box-shadow: -5px 1px 11px rgba(34, 195, 170, 0.5);
                            -moz-box-shadow: -5px 1px 11px rgba(34, 195, 170, 0.5);
                            border-radius: 90px;
                        }
                        .bg-red {
                            background: var(--table-red-bg);
                            box-shadow: 5px 1px 11px rgba(240, 97, 112, 0.5);
                            -webkit-box-shadow: 5px 1px 11px rgba(240, 97, 112, 0.5);
                            -moz-box-shadow: 5px 1px 11px rgba(240, 97, 112, 0.5);
                            border-radius: 90px;
                        }
                    }
                    h3 {
                        color: var(--white);
                        font-size: 20px;
                        padding: 0px;
                        .heading-text {
                            margin-top: 4px;
                        }
                        .text {
                            float: right! important;
                            font-size: 30px;
                            font-weight: var(--semibold-font);
                            color: var(--lightgreen);
                        }
                        .bg-green{
                            color: var(--green-color);
                        }
                        .bg-red{
                            color: var(--table-red-bg);
                        }
                    }
                    .content {
                        border-bottom: 1px solid var(--content-border);
                        padding: 1px 0 20px;
                        display: inline-block;
                        width: 100%;
                        li {
                            font-size: 14px;
                            margin: 10px 0px;
                            font-weight: var(--regular-font);
                            color: var(--navli-font-color);
                            width: 100%;
                            display: inline-block;
                            text-align: left;
                            .text-li {
                                color: var(--white);
                                float: right;
                                font-size: 14px;
                                font-weight: var(--bold-font);
                            }
                        }
                    }
                    .member-signup{
                        border-bottom: 0px! important;
                        li{
                            border-bottom: 0px! important;
                        }

                    }
                    .member-cancel{
                        border-bottom: 0px! important;
                        padding-top: 20px;
                        li{
                            border-bottom: 0px! important;
                        }
                    }
                    .member-progressbar .sign_up_ratio, .member-progressbar .cancellation_ratio{
                        border-top: 1px solid var(--content-border);
                        border-bottom: 1px solid var(--content-border);
                        padding: 30px 15px;
                        .progress{
                            margin-bottom: 0px! important;
                        }
                    }
                    .member-progressbar .sign_up_ratio{
                        direction: rtl;
                        width: 50%;
                        .text{
                            float:left! important;
                        }
                    }
                    .member-progressbar .cancellation_ratio{
                        width: 50%;
                    }
                    .member-progressbar .sign_up_ratio .progress, .member-progressbar .sign_up_ratio .progress-bar1{
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                    }

                    .member-progressbar .cancellation_ratio .progress, .member-progressbar .cancellation_ratio .progress-bar2{
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                    }
                   
                    .membership-level {
                        li {
                            color: var(--primary-color) !important;
                        }
                    }
                    .badge-button {
                        @extend %button-property-shared;
                    }
                    width: 100%; 
                    display: inline-block;
                    .is-active {
                        padding-bottom: 0px;
                        a {
                            color: var(--tab-active-color);
                            border-bottom: 4px solid;
                            border-color: var(--tab-border-active-color);
                        }
                    }
                    li {
                        text-decoration: none;
                        width: 50%;
                        text-align: center;
                        padding-bottom: 4px;
                        color: var(--navli-font-color);
                        float: left;
                        a {
                            text-decoration: none;
                            border: none;
                            font-size: 14px;
                            font-weight: var(--semibold-font);
                            color: var(--navli-font-color);
                            text-transform: uppercase;
                            padding: 16px 0px;
                            display: inline-block;
                            width: 100%;
                        }
                    }
                }
                .highcharts-legend-box {
                    display: none;
                }
                .barcontainer-ranking {
                    text-align:center;
                    background: var(--darkblue-bg-color);
                    width: 416px;
                    height: auto;
                    border-radius: 5px;
                    padding: 10px 22px;
                    font-size: 14px;
                    margin: -4px auto;
                    margin: 20px 0px;
                    width: 100%;
                    display: block;
                    div {
                        display: inline-block;
                        width: auto;
                        margin: 0px 7px;
                        color: var(--navli-font-color);
                        %div-property {
                            width: 12px;
                            height: 12px;
                            border-radius: 4px;
                            float: left;
                            margin: 5px;
                        }
                        .lowdiv {
                            background: var(--lightgreen);
                            @extend %div-property;
                        }
                        .normal {
                            background: var(--bar-strip-sec-label-Color);
                            @extend %div-property;
                        }
                        .above {
                            background: var(--above-bg-color);
                            @extend %div-property;
                        }
                        .high {
                            background: var(--high-bg-color);
                            @extend %div-property;
                        }
                        .ct{
                            background: var(--green-color);
                            @extend %div-property;
                        }
                        .xtrades{
                            background : var(--high-bg-color);
                            @extend %div-property;
                        }
                    }
                }
                .barcontainer-servers{
                    padding: 10px 10px! important;
                    margin: 3px 0px;
                    div{
                        font-weight: 800;
                    }
                }
                #piecontainer {
                    margin: 6px auto;
                    max-width: 300px;
                    min-width: 170px;
                }
                .piechart-color {
                    background: var(--darkblue-bg-color);
                    width: 156px;
                    border-radius: 5px;
                    margin: 40px 0px;
                    padding: 15px 5px 20px 15px;
                    font-size: 14px;
                    div {
                        display: inline-block;
                        width: 100%;
                        margin: 6px 0px;
                        color: var(--primary-color);
                        .lowdiv,
                        .normal,
                        .high,
                        .very-high,
                        .above {
                            background: var(--lightgreen);
                            width: 12px;
                            height: 12px;
                            border-radius: 4px;
                            float: left;
                            margin: 5px;
                        }
                        .lowdiv {
                            background: var(--lightgreen);
                        }
                        .normal {
                            background: var(--normal-bg-color);
                        }
                        .above {
                            background: var(--above-bg-color);
                        }
                        .high {
                            background: var(--high-bg-color);
                        }
                        .very-high {
                            background: var(--very-high-bg-color);
                        }
                    }
                }
                /*chart-scss-*/
                .highcharts-button-symbol {
                    display: none;
                }
                .highcharts-button-box {
                    display: none;
                }
                .highcharts-credits {
                    display: none;
                }
                .highcharts-legend-item.highcharts-column-series.highcharts-color-0.highcharts-series-0 {
                    display: none;
                }
                .highcharts-button{ 
                    text{
                        color: var(--white)! important;
                        fill: var(--white)! important;
                    }
                }
            }
            #refferal_link{
                a{
                    word-break: break-all;
                }
            }
        }
    }
}
.site-header{
    .list {
    top: 62px;
    }

}
.mobile {
    display: none;
    .leaderboardicon {
        // background: var(--sidebar-wrapper-bg);
        background: transparent;
        border: none;
        color: var(--lightgreen);
        font-size: 20px;
        float: left !important;
        margin-right: 10px;
        border-radius: 5px;
        .edit-icon {
            margin: 0;
            font-size: 20px;
        }
    }
}

.leaderboard-text-mobile {
    display: none !important;
}
/*Responsive-scss-*/

@media screen and (min-width: 1500px) {
    #wrapper {
        #page-content-wrapper {
            .page-contents {
                .container {
                    .container-header {
                        padding: 20px 40px;
                    }
                    .container-content {
                        padding: 40px;
                    }
                    .bar-number {
                        right: 80px;
                    }
                    .dropdown-icon {
                        margin-left: 40px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    #wrapper {
        #page-content-wrapper {
            .page-contents {
                .container {
                    .tabs {
                        margin-bottom: 40px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    #wrapper {
        #page-content-wrapper {
            .page-contents {
                .add-text {
                    display: none;
                }
                .content-first,
                .content-sec {
                    width: 100% !important;
                }
                .container {
                    .container-header {
                        .header-div {
                            h2 {
                                font-size: 17px;
                            }
                        }
                    }
                    .barcontainer-ranking {
                        width: auto;
                        height: auto;
                        padding: 10px;
                        ranking div {
                            margin-bottom: 10px;
                        }
                        .content-first,
                        .content-sec {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1100px) and (min-width: 767px) {
    .site-header{
    .form-control-feedback {
    margin-right: 0px ! important;
}
    }
    #wrapper { 
        #page-content-wrapper {
            .page-contents {
                padding: 15px;
                margin-top: 0px;
                .container {
                    .container-content {
                        padding: 20px 15px;
                    }
                    .tabs {
                        li {
                            width: 100%;
                            margin-bottom: 0;
                        }
                        h3 {
                            .text {
                                font-size: 25px;
                            }
                            font-size: 16px;
                        }
                    }
                    .container-header {
                        padding: 8px 10px;
                        h2 {
                            font-size: 17px;
                        }
                        .dropdown-icon {
                            margin-left: 2px;
                        }
                        .leaderboard {
                            padding: 6px 5px 5px;
                            margin: 0px;
                        }
                        width: 100%;
                        display: inline-block;
                        margin: 0;
                        padding: 15px 15px;
                    }
                    .bar-number {
                        right: 52px;
                    }
                    .piechart-color {
                        width: auto;
                        height: auto;
                        float: none;
                        margin: 0px auto;
                        margin: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 990px) and (min-width: 767px) {
    .leaderboard-text-window {
        display: none !important;
    }
    .leaderboard-text-mobile {
        display: block !important;
    }
}

@media screen and (max-width: 1100px) and (min-width: 767px) {
   
    .window {
        display: none !important;
    }
    .mobile {
        display: block;
        margin-right: 10px;
    }
}

@media screen and (max-width: 540px) and (min-width: 419px) {
    .leaderboard-text-window {
        display: none !important;
    }
    .leaderboard-text-mobile {
        display: block !important;
    }
}

@media screen and (max-width: 510px) {
    .window {
        display: none !important;
    }
    .mobile {
        display: block;
        margin-right: 10px;  
        float: left;
    }
}

@media only screen and (max-width: 880px) and (min-width: 767px) {
    #wrapper {
        #page-content-wrapper {
            .page-contents {
                .container {
                    .tabs {
                        li {
                            a {
                                font-size: 12.5px;
                            }
                        }
                    }
                    .piechart-color {
                        margin: 5px;
                        padding: 15px 5px 20px 4px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
       .site-header{
    .form-control-feedback {
    margin-right: 0px ! important;
}
.user {
    margin-right: 0px !important;
}
    }
    #wrapper {
        #page-content-wrapper {
            .page-contents {
                padding: 15px;
                margin-top: 0px;
                .container {
                    margin-bottom: 20px;
                    .left-content {
                        .content-first,
                        .content-sec {
                            width: 100% !important;
                        }
                    }
                    .tabs {
                        li {
                            border-bottom: 1px solid var(--nav-border);
                            margin-bottom: 0px;
                        }
                    }
                    .container-content {
                        padding: 15px;
                    }
                    .bar-number {
                        right: 52px;
                    }
                    .tabs {
                        margin-bottom: 0;
                    }
                    .container-header {
                        padding: 15px 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #wrapper {
        #page-content-wrapper {
            .page-contents {
                padding: 15px;
                margin-top: 0px;
                .container {
                    #membership-level-div {
                        min-height: auto;
                    }
                    .cancelled-text {
                        font-size: 15px;
                    }
                    .confirm-cancel-div {
                        // height: 400px;
                        height:525px;
                    }
                    .button {
                        margin-left: 10px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
// plan responsive
@media screen and (max-width: 388px) {
.dg-btn--cancel, .dg-pull-right{
    float: left! important;
    margin: 5px 5px;

}
}
@media screen and (max-width: 767px) {

.plans{
    padding-left: 3rem;
    .plans-box{
        display: inline-block;
    }
}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {

.plans{
    padding-left: 3rem;
    // .plans-box{  
       
    // }
}
}

@media screen and (max-width: 580px) {
    #wrapper {
        #page-content-wrapper {
            .page-contents {
                margin-top: 0;
                padding: 10px !important;
                .container {
                    .container-content {
                        padding: 10px;
                    }
                    .tabs {
                        .badge-button {
                            margin-left: 5px;
                        }
                        h3 {
                            font-size: 14px;
                            .text {
                                font-size: 22px;
                            }
                        }
                    }
                    .piechart-color {
                        width: auto;
                        height: auto;
                        float: none;
                        margin: 0px auto !important;
                        margin-bottom: 20px !important;
                        max-width: 200px;
                    }
                    .container-header {
                        .fa.fa-ellipsis-v {
                            font-size: 22px;
                        }
                        h2 {
                            font-size: 16px;
                            margin-top: 4px;
                        }
                        .leaderboard {
                            margin-right: 10px;
                            padding: 8px 10px 7px;
                            margin-top: 2px;
                        }
                        .dropdown-icon {
                            margin-left: 5px !important;
                        }
                    }
                    .table-box {
                        .table {
                            th {
                                padding: 15px 0px;
                            }
                            td {
                                padding: 15px 0px;
                            }
                        }
                    }
                    .tabs {
                        margin-bottom: 20px;
                        .active {
                            padding: 10px 0px;
                        }
                        li {
                            width: 100% !important;
                            padding: 0px;
                            margin: 0px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 419px) {
    #wrapper {
        #page-content-wrapper {
            .page-contents {
                .outer-div {
                    #navbarSupportedContent {
                        width: 100%;
                        margin-top: 20px;
                    }
                }
                .container {
                    padding: 0px;
                    #watchlist-content-after {
                        .form-group {
                            width: 100%;
                        }
                        .submit-button {
                            width: 100% !important;
                            margin-bottom: 10px !important;
                        }
                    }
                    .bar-number {
                        left: 19px;
                    }
                    .tabs .badge-button,
                    .button {
                        min-width: auto;
                    }
                    .container-header {
                        .fa.fa-ellipsis-v {
                            font-size: 20px;
                        }
                        h2 {
                            font-size: 15px;
                        }
                        .leaderboard {
                            margin-right: 5px !important;
                            margin: 0;
                            min-width: 55px;
                        }
                    }
                }
            }
        }
    }
}
/*
@media screen and (max-width:380px) { 
#wrapper {
    #page-content-wrapper {
        .page-contents {
            .container {
                .container-header { 
                    padding: 15px 5px;
                    .fa.fa-ellipsis-v {
                        font-size: 20px;
                    }
                    h2 { 
                        font-size: 15px;
                    }
                    .leaderboard {
                        margin-right: 4px;
                        padding: 8px 4px 7px; 
                        font-size: 10px;
                    }
                }
            }
        }
    }
}
}
*/
/*@media screen and (max-width:350px) { 
#wrapper {
    #page-content-wrapper {
        .page-contents {
            .container {
                .tabs{
                    h3 {
                        font-size: 16px;
                        .text {
                            font-size: 20px;
                        } 
                    } 
                }
            }
        }
    }
}
}
@media screen and (max-width:340px) { 
#wrapper {
    #page-content-wrapper {
        .page-contents {
            .container {
                .container-header {
                    .leaderboard { margin-right: 3px;
                                   padding: 8px 2px 7px;
                                   font-size: 10px;
                    }
                    h2 {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
}  */

@media screen and (max-width: 330px) {
    #wrapper #page-content-wrapper .header .header-inner .heading {
        font-size: 16px;
    }
    #wrapper {
        #page-content-wrapper {
            .header {
                .header-inner {
                    .heading {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
.admin-heading-box{
margin: 0 auto;
padding: 10px 10px;
display: flex;
width: auto! important;
.bar-number {
   float: left;
    background: var(--chart-bg-color);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 0px;
    background-image: var(--icon-sticks);
    height: 30px;
    border: 2px solid var(--lightgreen);
    border-radius: 100%;
    width: 30px;
    right: 70px;
    .bar-text {
        position: relative;
        width: 20px;
        height: 20px;
        top: -4px;
        right: -11px;
        background: var(--number-bg);
        color: var(--number-text-color);
        border-radius: 100%;
        background-position: 50%;
        background-repeat: no-repeat;
        margin-left: 10px;
        background-image: var(--icon-setting);
        border: 2px solid var(--con-header);
    }
}
.admin-heading{
    text-align: center;
    font-size: 22px;
    color: var(--heading-color);
    margin-left: 26px;
    margin-top: 3px;
    font-weight: var(--bold-font);
    }
}