/*login-style*/

body,
html {
    height: 100%;
    margin: 0;
    overflow: auto;
}

.Discord-bg-div {
    background-image: var(--bg-pic-dis) !important;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    .thanks-discord-div {
        margin: 0px auto;
        top: 50%;
        transform: perspective(1px) translateY(-50%);
        position: relative;
        width: 623px;
        height: auto;
        margin: 0px auto;
        padding: 20px;
        z-index: 99;
        .thanks-outer-logo-div {
            display: inline-block;
            width: 100%;
            margin: 0px 0px 20px;
            .thanks-logo-div {
                background-image: var(--bg-logo-dis) !important;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                img {
                    height: 100%;
                    width: 100%;
                    visibility: hidden;
                    min-width: 100%;
                    max-width: 100%;
                    margin: 0;
                }
            }
        }
        h2 {
            font-size: 46px;
            color: var(--text-white);
            font-weight: bold;
            text-align: left;
        }
        p {
            font-size: 48px;
            color: var(--text-white);
            font-weight: lighter;
            text-align: left;
            margin: 20px 0px 30px;
        }
        h6 {
            font-size: 17px;
            color: var(--text-white);
            font-weight: 100;
            text-align: center;
            margin: 40px 0px 50px;
        }
        #arrowAnim-div {
            .thanks-discord-button {
                background: #43b581;
                border: none;
                padding: 15px 30px;
                font-size: 15px;
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: bold;
            }
            .arrow {
                width: 22px;
                height: 22px;
                border: 7.5px solid;
                border-color: rgba(0, 0, 0, 0.2) transparent transparent rgba(0, 0, 0, 0.2);
            }
            .active {
                border-color: white transparent transparent white !important;
                width: 27px;
                height: 27px;
            }
            #arrowAnimmateLeftToRight {
                min-height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 29%;
                overflow: hidden;
                .arrow {
                    transform: rotate(135deg);
                    -webkit-transform: rotate(135deg);
                    -moz-transform: rotate(135deg);
                    -ms-transform: rotate(135deg);
                    -o-transform: rotate(135deg);
                }
            }
            #arrowAnimmateRightToLeft {
                min-height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 29%;
                overflow: hidden;
                .arrow {
                    transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .Discord-bg-div .thanks-discord-div {
        width: auto;
    }
}


/*Responsive-scss-*/

@media screen and (min-width: 1300px) {
    .Discord-bg-div {
        background-position: center;
    }
}

@media screen and (min-width: 1300px) {
    .Discord-bg-div {
        .thanks-discord-div {
            min-width: 766px;
            #arrowAnim-div .thanks-discord-button {
                padding: 15px 60px;
            }
            h2 {
                font-size: 66px;
                margin-bottom: 40px;
            }
            p {
                font-size: 62px;
                margin-bottom: 50px;
            }
            h6 {
                font-size: 22px;
            }
        }
    }
}

@media screen and (max-width: 765px) {
    .Discord-bg-div {
        height: 100vw;
        min-height: 100%;
        .thanks-discord-div {
            padding: 15px;
            width: auto;
            #arrowAnim-div {
                .thanks-discord-button {
                    padding: 9px 13px;
                }
            }
            h2 {
                font-size: 26px;
            }
            p {
                font-size: 22px;
            }
            h6 {
                text-align: left;
            }
            #arrowAnim-div #arrowAnimmateLeftToRight {
                display: none;
            }
            #arrowAnim-div #arrowAnimmateRightToLeft {
                display: none;
            }
        }
    }
}