#wrapper {
    /*.header */
    #page-content-wrapper {
        .header {
            width: 100%;
            display: inline-block;
            .mobile-small-size {
                display: none;
            }
            .header-inner {
                height: 100%;
                width: 100%;
                display: flex;
                height: 70px;
                align-items: center;
                border-bottom: 1.5px solid var(--border-color);
                .heading {
                    font-size: 22px;
                    color: var(--heading-color);
                    margin-left: 50px;
                    margin-top: 10px;
                    font-weight: var(--bold-font);
                }
                .header-icons-group {
                    display: flex;
                    order: 3;
                    margin-left: auto;
                    right: -77px;
                    height: 100%;
                    margin-right: 20px;
                    .c-header-icon {
                        &:last-child {
                            border-right: 0;
                        }
                    }
                    .widget-pic {
                        text-align: center;
                    }
                    .user-dropdown {
                        color: #424242;
                        padding: 10px;
                        min-width: 140px !important;
                        margin-right: 0;
                        border-radius: 7px;
                        .user-button {
                            background-color: var(--lightgreen);
                            color: var(--text-white);
                            text-transform: uppercase;
                            font-size: 12px;
                            width: 100%;
                            margin-top: 5px;
                        }
                    }
                    .user {
                        // background: var(--white);
                        width: 45px !important;
                        height: 45px;
                        border-radius: 100%;
                        margin-top: 14px;
                        margin-right: 30px;
                        clear: both;
                        .user-pic {
                            width: 100%;
                            border-radius: 100%;
                            height: 100%;
                        }
                    }
                    .search-form {
                        input[type="text"] {
                            min-width: inherit;
                        }
                        .form-group {
                            float: right !important;
                            -webkit-transition: all 0.35s, border-radius 0s;
                            transition: all 0.35s, border-radius 0s;
                            width: 24px;
                            background-color: transparent;
                            box-shadow: none;
                            border-radius: 25px;
                            border: none;
                            margin-top: 15px;
                            margin-right: 20px;
                            input.form-control {
                                padding-right: 20px;
                                border: 0 none;
                                background: transparent;
                                box-shadow: none;
                                display: block;
                                color: var(--white);
                                float: right;
                                &::-webkit-input-placeholder {
                                    display: none;
                                }
                                &:-moz-placeholder {
                                    display: none;
                                }
                                &::-moz-placeholder {
                                    display: none;
                                }
                                &:-ms-input-placeholder {
                                    display: none;
                                }
                            }
                            &:hover {
                                width: 100%;
                                border-radius: 4px 25px 25px 4px;
                            }
                            span.form-control-feedback {
                                position: absolute;
                                top: 18px;
                                right: 76px;
                                z-index: 2;
                                display: block;
                                width: 34px;
                                height: 34px;
                                line-height: 34px;
                                text-align: center;
                                color: var(--primary-color);
                                left: initial;
                                font-size: 15px;
                                margin-right: 25px;
                            }
                        }
                        .form-group.hover {
                            width: 100%;
                            border-radius: 4px 25px 25px 4px;
                        }
                    }
                }
            }
        }
    }
    /*.sidebar-visible*/
    #sidebar.visible {
        left: 0px;
    }
    /*.sidebar*/
    #sidebar {
        background: var(--sidebar-wrapper-bg);
        width: 221px;
        height: 100%;
        display: block;
        position: fixed;
        left: -221px;
        top: 0px;
        z-index: 1;
        opacity: 1;
        #sidebar-wrapper {
            display: inline-block;
            vertical-align: middle;
            width: 60px;
            height: 100%;
            cursor: pointer;
            margin: 0;
            position: absolute;
            right: -60px;
            border-right: 1.5px solid var(--border-color);
            background: var(--sidebar-wrapper-bg);
            /*menu-icon------------ */
            .bar1,
            .bar2,
            .bar3 {
                width: 20px;
                height: 2px;
                background-color: var(--navli-font-color);
                margin: 4px 0;
                cursor: pointer;
            }
            .change {
                .bar1 {
                    -webkit-transform: rotate(-45deg) translate(-1px, 0px);
                    transform: rotate(-45deg) translate(-1px, 0px);
                    -moz-transform: rotate(-45deg) translate(-1px, 0px);
                    -ms-transform: rotate(-45deg) translate(-1px, 0px);
                    -o-transform: rotate(-45deg) translate(-1px, 0px);
                }
                .bar2 {
                    opacity: 0;
                }
                .bar3 {
                    -webkit-transform: rotate(45deg) translate(-8px, -8px);
                    transform: rotate(45deg) translate(-8px, -8px);
                }
            }
            /*menu-icon------------ */
            nav.main-menu.expanded {
                width: 220px;
                overflow: visible;
            }
            .main-menu {
                border-right: 1.5px solid var(--border-color);
                background: var(--sidebar-wrapper-bg);
                position: absolute;
                top: 0;
                bottom: 0;
                height: 100%;
                left: 0;
                width: 60px;
                overflow: hidden;
                -webkit-transition: width 0.50s linear;
                transition: width 0.50s linear;
                -webkit-transform: translateZ(0) scale(1, 1);
                z-index: 1000;
                li {
                    position: relative;
                    display: block;
                    width: 220px;
                    float: left;
                    a {
                        position: relative;
                        display: table;
                        border-collapse: collapse;
                        border-spacing: 0;
                    }
                }
                .logout {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }
            nav {
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -o-user-select: none;
                user-select: none;
            }
            #sidebar_menu,
            .sidebar_menu {
                padding: 24px 19px 21px;
                clear: both;
                height: 70px;
                float: right;
                z-index: 99999;
                position: relative;
            }
            /*.sidebar-nav li */
            .sidebar-nav {
                display: block;
                float: right;
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    line-height: 40px;
                    text-indent: 18px;
                    text-align: right;
                    display: block;
                    %sidebar-icon-shared {
                        background-size: cover;
                        background-position: 50%;
                        background-repeat: no-repeat;
                        min-height: 25px;
                        width: 28px;
                        margin-left: 16px;
                        margin-top: 7px;
                    }
                    a {
                        color: var(--primary-color);
                        display: block;
                        text-decoration: none;
                        width: 220px;
                        padding: 10px 0px;
                        clear: both;
                        &.router-link-exact-active {
                            background: var(--icon-hover-bg);
                            color: var(--icon-hover-text);
                        }
                    }
                    .l-sidebar-icon-grid {
                        @extend %sidebar-icon-shared;
                        background-image: var(--icon-grid);
                    }
                    .l-sidebar-icon-award {
                        @extend %sidebar-icon-shared;
                        background-image: var(--icon-award);
                    }
                    .l-sidebar-icon-film {
                        @extend %sidebar-icon-shared;
                        background-image: var(--icon-film);
                    }
                    .l-sidebar-icon-user {
                        @extend %sidebar-icon-shared;
                        background-image: var(--navicon-user);
                    }
                    .l-sidebar-icon:hover .l-sidebar-icon-grid,
                    .l-sidebar-icon-grid {
                        &.router-link-exact-active {
                            background: var(--icon-hover-bg);
                            color: var(--icon-hover-text);
                        }
                    }
                    /*l-sidebar-icon-grid:hover*/
                    .router-link-exact-active span.l-sidebar-icon-grid {
                        background-image: var(--icon-grid_hover);
                    }
                    .router-link-exact-active span.l-sidebar-icon-award {
                        background-image: var(--icon-award_hover);
                    }
                    .router-link-exact-active span.l-sidebar-icon-film {
                        background-image: var(--icon-film_hover);
                    }
                    .router-link-exact-active span.l-sidebar-icon-user {
                        background-image: var(--navicon-user_hover);
                    }
                    .l-sidebar-icon {
                        outline: none;
                    }
                }
                .sub_icon {
                    margin-right: 15px;
                    float: right;
                }
                .menu {
                    float: right;
                    margin: 29px 24px;
                }
            }
        }
    }
}


/*Responsive-scss-*/

@media only screen and (max-width: 1100px) and (min-width: 767px) {
    #wrapper {
        .header {
            .header-inner {
                .heading {
                    margin-left: 15px;
                }
                .header-icons-group {
                    .user {
                        margin-right: 0px !important;
                    }
                    .search-form {
                        .form-group span.form-control-feedback {
                            margin-right: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    #wrapper {
        #page-content-wrapper {
            .header {
                .header-inner {
                    .header-icons-group {
                        .user {
                            margin-right: 5px !important;
                        }
                    }
                    .heading {
                        margin-left: 15px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #wrapper {
        #page-content-wrapper {
            .header {
                .header-inner {
                    .header-icons-group {
                        .user {
                            margin-right: 5px !important;
                        }
                    }
                    .heading {
                        margin-left: 10px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    #wrapper #page-content-wrapper .header .header-inner .header-icons-group .search-form .form-group {
        margin-right: 2px;
    }
    #wrapper {
        #page-content-wrapper {
            left: 40px;
            width: calc(100% - 40px);
            .header {
                .header-inner {
                    .header-icons-group {
                        .user {
                            margin: 12px 15px 0px;
                        }
                    }
                }
            }
        }
        #sidebar {
            #sidebar-wrapper {
                width: 40px;
                right: -40px;
                .main-menu {
                    width: 40px;
                }
                #sidebar_menu,
                .sidebar_menu {
                    width: 40px;
                    padding: 18px 11px;
                    height: auto;
                }
                .sidebar-nav {
                    .menu {
                        margin: 30px 12px !important;
                        width: 16px;
                    }
                    %sidebar-icon-shared {
                        width: 20px;
                        margin: 6px 10px 5px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 580px) {
    #wrapper {
        padding-left: 40px;
        height: auto;
        .header {
            .mobile-small-size {
                max-width: 100%;
                border-radius: 90px;
                overflow: hidden;
                height: 60px;
                display: block !important;
                .fa.fa-search {
                    color: var(--primary-color);
                }
                .search-container {
                    width: 90%;
                    display: block;
                    margin: 0 auto;
                    position: relative;
                }
                input#search-bar {
                    margin: 15px auto;
                    width: 100%;
                    height: 45px;
                    padding: 0 20px;
                    font-size: 1rem;
                    border: 1px solid var(--navyblue);
                    outline: none;
                    background: var(--navyblue);
                    color: var(--white) !important;
                    border-radius: 90px;
                    font-size: 15px;
                    padding-right: 38px;
                    &:focus {
                        border: 1px solid var(--primary-bg-color);
                        transition: 0.35s ease;
                        color: #008abf;
                        &::-webkit-input-placeholder {
                            transition: opacity 0.45s ease;
                            opacity: 0;
                        }
                        &::-moz-placeholder {
                            transition: opacity 0.45s ease;
                            opacity: 0;
                        }
                        &:-ms-placeholder {
                            transition: opacity 0.45s ease;
                            opacity: 0;
                        }
                    }
                }
                .search-icon {
                    position: absolute;
                    float: right;
                    width: 25px;
                    height: 25px;
                    top: 26px;
                    right: 5px;
                }
            }
            .header-inner {
                height: 55px;
                .header-icons-group {
                    .user {
                        margin: 9px 10px;
                        width: 35px !important;
                        height: 35px;
                    }
                }
                .heading {
                    margin-left: 10px;
                    font-size: 17px;
                }
                .search-form.desktop {
                    display: none;
                }
            }
            .fa.fa-search {
                color: var(--primary-color);
            }
        }
        .search-container {
            display: block;
        }
        #sidebar {
            #sidebar-wrapper {
                .sidebar-nav {
                    li {
                        a {
                            padding: 5px 0px;
                        }
                    }
                }
                .menu {
                    margin: 24px 10px;
                }
            }
        }
    }
}