/*login-style*/

.login {
    background-image: var(--bg-image);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: inline-block;
    overflow: auto;
    .container {
        margin-top: 90px;
        width: 90%;
        max-width: 449px;
        padding: 30px 10px;
        background: var(--login-bg);
        border-radius: 8px;
        margin-bottom: 90px;
        .app-logo {
            margin-bottom: 40px;
        }
        .logo {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 109px;
            margin: 0px auto;
            max-width: 100%;
            display: inline-block;
            margin: 0px auto;
            margin-bottom: 10px;
            width: 100%;
            background-image: var(--logo);
        }
        h1 {
            font-size: 40px;
            color: var(--text-white);
            margin-bottom: 20px;
        }
        .text,
        p,
        a {
            color: var(--login-text-color);
            text-align: center;
            margin-bottom: 15px;
            font-size: 15px;
            font-weight: var(--regular-font);
            line-height: 22px;
        }
        .input-layout {
            padding: 0px 25px;
            .input-form {
                background-color: transparent;
                border: 2px solid var(--inut-form-color);
                color: var(--white);
                outline: none;
                border-radius: 4px;
                padding: 1.1rem 0.9rem;
                font-size: 1rem;
                width: 100%;
                margin-bottom: 20px;
                &:hover {
                    border: 2px solid var(--green-button-color);
                }
            }
        }
        .login-button {
            background: var(--green-button-color);
            padding: 1.1rem 0.9rem;
            width: 100%;
            border: none;
            border-radius: 4px;
            color: var(--text-white);
            font-size: 16px;
            margin: 0px;
            &:hover {
                background: var(--icon-hover-button) !important;
            }
            &:focus {
                background: var(--icon-hover-button) !important;
            }
            &:active {
                background: var(--icon-hover-button) !important;
            }
        }
        .account-text {
            color: var(--green-button-color);
        }
        .blue-text {
            color: var(--green-button-color ! important);
        }
        .social-login-btns {
            button {
                border: none;
                color: var(--white);
                background: #5a53ac;
                border: 2px solid transparent;
                border-radius: 4px;
                padding: 0.7rem 1rem;
                min-width: 6rem;
                font-size: 0.85rem;
                font-weight: var(--semibold-font);
                cursor: pointer;
                outline: none;
                align-items: center;
                outline: none;
                margin: 0px 5px 20px;
            }
            .google {
                background: var(--text-white);
            }
            .fb {
                background: var(--fb-bg);
            }
            .discord {
                background-color: var(--discord-bg);
            }
        }
    }
    /*login-social-style*/
    .login-social {
        .login-social-div {
            max-width: 320px;
            margin: 0px auto;
            .google-text {
                color: #000;
                font-size: var(--regular-font-size);
            }
            .fb-text {
                font-size: var(--regular-font-size);
            }
            .discord-text {
                font-size: var(--regular-font-size);
            }
        }
    }
}

.login-switch-wrapper {
    position: absolute;
    z-index: 9;
    top: 30px;
    left: 30px;
}

.dark {
    .trade-heading {
        display: none;
    }
}

.light {
    .trade-heading {
        display: block;
    }
}

.termprivacy-text a {
    display: inline;
}


/*Responsive-style*/

@media only screen and (max-width: 767px) {
    .login-switch-wrapper {
        top: 0px;
        left: 0px;
        #checkbox {
            margin: 0px 20px !important;
        }
    }
    .login {
        .container {
            margin-top: 40px;
            padding: 30px 20px;
            max-width: 400px;
            margin-bottom: 40px;
            h1 {
                font-size: 30px;
            }
            .logo {
                img {
                    max-width: 320px;
                }
            }
            .input-layout {
                padding: 0;
                margin: 0px auto;
            }
        }
    }
}

@media only screen and (max-width: 580px) {
    .login {
        .container {
            padding: 15px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .logo {
        background-image: var(--logo-responsive) !important;
    }
}

@media only screen and (max-width: 420px) {
    .login {
        .container {
            .social-login-btns {
                button {
                    padding: 7px 20px;
                    min-width: 50px;
                }
            }
        }
    }
}