/*product-page-scss-*/

#wrapper {
    #page-content-wrapper {
        .product-page {
            button {
                float: right;
            }
            .page-contents {
                .top-container {
                    .tabs {
                        margin-bottom: 50px;
                    }
                }
                .container {
                    .width-100 {
                        width: 100% !important;
                        li {
                            width: 100% !important;
                        }
                    }
                    .width-50 {
                        width: 50% !important;
                        li {
                            width: 100% !important;
                        }
                    }
                    .tabs {
                        li {
                            width: 33.3333%;
                        }
                    }
                    .tabs-details {
                        border-bottom: 0px solid var(--nav-border) !important;
                        margin-bottom: 0 !important;
                        li {
                            width: 100% important;
                        }
                    }
                    button {
                        float: right;
                    }
                    .first-tab {
                        .product-div {
                            margin-bottom: 50px;
                            %logo-icon-shared {
                                background-repeat: no-repeat;
                                background-position: center;
                                margin: 40px 0px;
                                height: 150px;
                            }
                            .logo-product-1 {
                                @extend %logo-icon-shared;
                                background-image: var(--logo-1);
                            }
                            .logo-product-2 {
                                @extend %logo-icon-shared;
                                background-image: var(--logo-2);
                            }
                            .logo-product-3 {
                                @extend %logo-icon-shared;
                                background-image: var(--logo-3);
                            }
                            .logo-product-4 {
                                @extend %logo-icon-shared;
                                background-image: var(--logo-4);
                            }
                            .logo-product-5 {
                                @extend %logo-icon-shared;
                                background-image: var(--logo-5);
                            }
                            .button-product {
                                float: none;
                                padding: 14px 28px 14px;
                                height: auto;
                                margin: 40px 0px 25px;
                            }
                            h5 {
                                color: var(--navli-font-color);
                                font-size: 18px;
                            }
                            .product-link {
                                color: var(--white);
                                text-decoration: underline;
                                padding: 3px;
                                font-size: 14px;
                                font-weight: bold;
                                margin-bottom: 30px;
                                display: inline-block;
                                width: 100%;
                            }
                            h3 {
                                color: var(--white);
                                font-size: 16px;
                                font-weight: bold;
                                text-transform: uppercase;
                            }
                        }
                        .tabs {
                            li {
                                width: 33%;
                            }
                        }
                        .tabs-details {
                            border-bottom: 0px solid var(--nav-border) !important;
                            margin-bottom: 0 !important;
                            li {
                                width: 100% important;
                            }
                        }
                    }
                    .container-content {
                        max-height: 560px;
                        overflow-y: scroll;
                    }
                    p {
                        float: left;
                        width: calc(100% - 200px);
                        color: var(--heading-color);
                        font-size: 15px;
                        text-align: left;
                    }
                    .right-div {
                        width: 200px;
                        float: right;
                        text-align: right;
                        float: right;
                        .size {
                            text-align: left;
                            font-size: 14px;
                            color: var(--primary-color);
                        }
                        .badge-button {
                            margin-left: 10px !important;
                            margin-bottom: 10px;
                            border: none;
                        }
                    }
                    .product-tabs,
                    .sec-tabs {
                        display: inline-block;
                        width: 100%;
                    }
                    .videos-tabs {
                        li {
                            width: 33.3333333333% !important;
                        }
                    }
                    .swim-tab {
                        li {
                            width: 20% !important;
                        }
                        .tabs-details li {
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }
}


/*Responsive-scss-*/

@media screen and (max-width: 900px) {
    #wrapper {
        #page-content-wrapper {
            .product-page {
                .page-contents {
                    padding: 15px !important;
                    .container {
                        .product-first-tab {
                            margin-top: 0 !important;
                        }
                        .first-tab {
                            .product-div {
                                .button-product {
                                    padding: 14px 10px 14px;
                                    margin: 20px 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #wrapper #page-content-wrapper .product-page .page-contents .container .swim-tab li {
        width: 100% !important;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 680px) {
    #wrapper {
        #page-content-wrapper {
            .product-page {
                .header {
                    .search-form.desktop {
                        display: none;
                    }
                    .mobile-small-size {
                        max-width: 100%;
                        border-radius: 90px;
                        overflow: hidden;
                        height: 60px;
                        display: block !important;
                        .search-container {
                            width: 90%;
                            display: block;
                            margin: 0 auto;
                        }
                        .fa.fa-search {
                            color: var(--primary-color);
                        }
                        input#search-bar {
                            margin: 15px auto;
                            width: 100%;
                            height: 45px;
                            padding: 0 20px;
                            font-size: 1rem;
                            border: 1px solid var(--navyblue);
                            outline: none;
                            background: var(--navyblue);
                            color: var(--white);
                            border-radius: 90px;
                            font-size: 15px;
                            &:focus {
                                border: 1px solid var(--primary-bg-color);
                                transition: 0.35s ease;
                                color: #008abf;
                                &::-webkit-input-placeholder {
                                    transition: opacity 0.45s ease;
                                    opacity: 0;
                                }
                                &::-moz-placeholder {
                                    transition: opacity 0.45s ease;
                                    opacity: 0;
                                }
                                &:-ms-placeholder {
                                    transition: opacity 0.45s ease;
                                    opacity: 0;
                                }
                            }
                        }
                        .search-icon {
                            position: relative;
                            float: right;
                            width: 75px;
                            height: 75px;
                            top: -50px;
                            right: -45px;
                        }
                    }
                }
                .search-container {
                    display: block;
                }
                #sidebar {
                    #sidebar-wrapper {
                        #sidebar_menu {
                            padding: 15px 10px 15px;
                        }
                        .sidebar-nav {
                            li {
                                a {
                                    padding: 8px 0px;
                                }
                            }
                        }
                        .menu {
                            margin: 24px 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 580px) {
    #wrapper {
        #page-content-wrapper {
            .product-page {
                .page-contents {
                    .container {
                        .tabs {
                            li:first-child {
                                padding-top: 0 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 520px) {
    #wrapper {
        #page-content-wrapper {
            .product-page {
                .page-contents {
                    .container {
                        .right-div {
                            width: 100%;
                            margin-bottom: 15px;
                        }
                        p {
                            width: 100%;
                            margin-bottom: 4px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1500px) {
    #wrapper {
        #page-content-wrapper {
            .product-page {
                .page-contents {
                    .container {
                        .first-tab {
                            .custom-width {
                                width: 25% !important;
                                flex: 25%;
                                max-width: 25%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 2000px) {
    #wrapper {
        #page-content-wrapper {
            .product-page {
                .page-contents {
                    .container {
                        .first-tab {
                            .custom-width {
                                width: 20% !important;
                                flex: 20%;
                                max-width: 20%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 520px) {
    #wrapper {
        #page-content-wrapper {
            .product-page {
                .page-contents {
                    .container {
                        .first-tab {
                            .product-div {
                                margin-bottom: 20px;
                                %logo-icon-shared {
                                    margin: 10px -10px;
                                    height: 90px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}