            /* The tool bar */
            
            .grid-div {
                .first-div {
                    width: 50%;
                    float: left;
                }
                .sec-div {
                    width: 50% !important;
                    float: right;
                }
            }
            
            .img-list-outer-div {
                border: 1px solid var(--content-border);
                padding: 30px;
                margin-bottom: 40px;
                display: inline-block;
                width: 100%;
                .content {
                    border-bottom: none !important;
                    padding: 0 !important;
                    li {
                        margin: 4px 0px !important;
                    }
                }
            }
            
            .list-div {
                width: 100%;
                display: inline-block;
                margin: 40px 0px;
                .heading-text-list {
                    color: var(--white);
                    font-size: 20px;
                    text-align: center;
                    text-transform: capitalize;
                }
                .heading-text-mail {
                    color: var(--white);
                    font-size: 14px;
                    text-align: center;
                    text-transform: lowercase;
                    margin-bottom: 30px;
                }
                .img-pic {
                    width: 120px;
                    height: 120px;
                    background: var(--con-header);
                    border-radius: 100%;
                    text-align: center;
                    margin: 30px auto;
                    text-align: center;
                    .img-pic-inner {
                        position: relative;
                        .user-list-pic {
                            width: 100%;
                            height: auto;
                            border-radius: 100%;
                        }
                        .img-pic-active {
                            position: absolute;
                            width: 26px;
                            height: 26px;
                            background: var(--lightgreen);
                            right: 3px;
                            top: 86px;
                            border-radius: 100%;
                        }
                    }
                }
                .button-div {
                    width: 100%;
                    display: inline-block;
                    padding: 30px 0px;
                    border-top: 1px solid var(--content-border);
                    border-bottom: 1px solid var(--content-border);
                    margin-bottom: 30px;
                    text-align: center;
                    h4 {
                        color: var(--white);
                        font-size: 22px;
                        text-align: center;
                    }
                    .status-button {
                        background-color: var(--lightgreen);
                        margin: 10px auto;
                        text-transform: capitalize !important;
                        border: none;
                        padding: 8px 14px 7px;
                        font-size: 12px;
                        color: var(--text-white);
                        border-radius: 5px;
                        min-width: 79px;
                        font-weight: var(--bold-font) !important;
                        text-align: center;
                    }
                }
            }
            /* Grid layout */
            
            .header-area {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: row;
                -moz-flex-direction: row;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: nowrap;
                div {
                    flex-grow: 1;
                    text-align: right;
                }
                .tool-bar {
                    text-align: right;
                    .fa {
                        color: var(--primary-color) !important;
                        margin: 3px 0px;
                        font-size: 20px;
                        margin-left: 40px;
                    }
                    a {
                        cursor: pointer;
                        display: inline-block;
                        margin-right: 5px;
                        text-decoration: none;
                    }
                }
                .tool-bar a.active {
                    background-color: rgba(0, 0, 0, 0.5);
                }
                .tool-bar a.active:hover {
                    cursor: default;
                }
                .table-filter {
                    float: right;
                    label {
                        font-size: 14px;
                        color: var(--primary-color) !important;
                    }
                    select {
                        word-wrap: normal;
                        width: auto !important;
                        height: 30px;
                        border-radius: 5px;
                        margin-left: 5px;
                    }
                }
                .wrap {
                    .search {
                        float: left;
                        border-bottom: 1px solid var(--border-color) !important;
                    }
                    .searchTerm {
                        border: none;
                        padding-bottom: 5px;
                        background: transparent;
                        color: var(--navli-font-color) !important;
                    }
                    .searchButton {
                        background: transparent;
                        border: none;
                        .fa {
                            color: var(--primary-color) !important;
                        }
                    }
                }
                .grid {
                    background-color: #f8f8f8;
                    list-style: none;
                    margin: 0 auto;
                    padding: 20px;
                    text-align: left;
                    width: 100%;
                    li {
                        display: inline-block;
                        position: relative;
                        width: 50%;
                        &:after {
                            content: "";
                            display: block;
                            padding-bottom: 52%;
                        }
                        a {
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            border: 2px solid #f8f8f8;
                            height: 99%;
                            position: absolute;
                            width: 98%;
                            &:hover {
                                border: 2px solid #f8f8f8;
                                box-shadow: inset 0 0 90px -10px rgba(0, 0, 0, 1);
                                -moz-box-shadow: inset 0 0 90px -10px rgba(0, 0, 0, 1);
                                -webkit-box-shadow: inset 0 0 90px -10px rgba(0, 0, 0, 1);
                            }
                        }
                    }
                }
                .tool-bar {
                    a {
                        cursor: pointer;
                        display: inline-block;
                        margin-right: 5px;
                        text-decoration: none;
                        &.active {
                            background-color: rgba(0, 0, 0, 0.5);
                            &:hover {
                                cursor: default;
                            }
                        }
                    }
                    &.active {
                        background-color: rgba(0, 0, 0, 0.5);
                        &:hover {
                            cursor: default;
                        }
                    }
                    &:hover {
                        cursor: default;
                    }
                }
            }
            
            th.sorting {
                border: none;
            }
            
            .dataTables_wrapper {
                .table {
                    margin-bottom: 0px !important;
                    border: none !important;
                    %table-property {
                        color: var(--primary-color) !important;
                        font-size: 14px !important;
                    }
                    th {
                        @extend %table-property;
                        padding: 15px 10px !important;
                    }
                    tr {
                        border-bottom: 1px solid var(--border-color) !important;
                    }
                    td {
                        @extend %table-property;
                        padding: 15px 10px !important;
                    }
                    .delete-selection {
                        padding: 5px 10px 3px !important;
                        font-size: 10px !important;
                    }
                }
            }
            
            div.dataTables_wrapper div.dataTables_length label,
            .th.sorting,
            .dataTables_info {
                color: var(--primary-color) !important;
            }
            
            th.sorting {
                border: none;
                color: var(--primary-color) !important;
            }
            
            div.dataTables_scrollHead table.table-bordered {
                color: var(--primary-color) !important;
                border: none;
            }
            
            .page-item.disabled .page-link {
                color: var(--primary-color) !important;
                background-color: transparent !important;
                border: none;
            }
            
            .user-list dropped {
                min-width: 165px;
                text-align: center;
            }
            
            .user-button {
                background-color: var(--lightgreen);
                color: var(--text-white);
                text-transform: uppercase;
                font-size: 12px;
                width: 112px;
                margin: 0;
                margin-top: 5px;
            }
            
            .list {
                padding: 10px;
            }
            
            .table-striped tbody tr:nth-of-type(odd) {
                background-color: transparent;
            }
            
            .table thead th {
                border-bottom: 1px solid var(--border-color) !important;
            }
            
            #addCoupon {
                padding: 15px 20px 25px;
                height: auto;
                input[type="number"] {
                    -webkit-appearance: textfield;
                    -moz-appearance: textfield;
                    appearance: textfield;
                }
                input[type="number"]::-webkit-inner-spin-button,
                input[type="number"]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                }
                .close-modal {
                    top: 15px;
                    right: 15px;
                }
                h2 {
                    font-size: 22px;
                    text-align: center;
                    margin: 20px 0px 40px;
                    color: #898989;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                input[type="number"]::-webkit-inner-spin-button,
                input[type="number"]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    margin: 0;
                }
                input {
                    background-color: #f6f6f6 !important;
                    border: 1px solid #ccc;
                    color: #898989;
                    padding: 4px 10px;
                    font-size: 14px;
                    width: 100%;
                    margin-bottom: 15px;
                    height: 40px;
                }
                .fa-calendar {
                    position: absolute;
                    right: 10px;
                    top: 13px;
                    color: grey;
                }
                #planButton {
                    margin: 32px auto;
                    min-width: 40%;
                    margin-left: 30%;
                }
            }
            
            .table-bordered th,
            .table-bordered td {
                border: none !important;
            }
            
            table.dataTable.table-sm .sorting::before,
            table.dataTable.table-sm .sorting_asc::before,
            table.dataTable.table-sm .sorting_desc::before {
                top: 5px;
                right: 0.85em;
                display: none;
            }
            
            table.dataTable td {
                border-top: 1px solid var(--table-bottom-border-color) !important;
            }
            
            table.dataTable.table-sm .sorting::after,
            table.dataTable.table-sm .sorting_asc::after,
            table.dataTable.table-sm .sorting_desc::after {
                top: 5px;
                display: none;
            }
            
            .fa-sort {
                margin-right: 10px;
                margin-top: 4px;
            }
            
            #viewCoupon_filter label {
                color: var(--primary-color) !important;
            }
            
            .custom-select,
            .page-link {
                background: transparent !important;
                border: 1px solid var(--border-color) !important;
                color: var(--primary-color) !important;
                margin-left: 0 !important;
            }
            
            .leaderboard-table {
                .mt-4 {
                    margin-top: 0px !important;
                }
            }
            
            .dataTables_filter {
                display: block !important;
                margin: 0px !important;
                .form-control {
                    background: transparent;
                    border: 1px solid var(--border-color);
                    color: var(--primary-color) !important;
                }
            }
            
            .admin-header-logo {
                .fa-chevron-down:before {
                    content: "\F078";
                    color: var(--primary-color) !important;
                }
                span {
                    color: var(--primary-color) !important;
                }
            }
            
            .max-min-table {
                min-width: 1000px !important;
            }
            
            .table-responsive {
                overflow-x: inherit;
            }
            
            @media screen and (max-width: 1200px) {
                .header-area .tool-bar .fa {
                    margin-left: 10px;
                }
            }
            
            @media screen and (max-width: 640px) {
                .header-area .table-filter label {
                    display: none;
                }
            }
            
            @media screen and (max-width: 420px) {
                .user-page #id_select {
                    min-width: 172px;
                    margin-bottom: 10px !important;
                }
                .wrap {
                    margin-bottom: 20px;
                    float: none;
                    width: 100%;
                    .search {
                        float: none;
                        border-bottom: 1px solid var(--border-color) !important;
                        text-align: left;
                        width: 100% !important;
                    }
                }
                .header-area {
                    input[type="text"] {
                        min-width: 100px;
                        max-width: 93%;
                    }
                    .third-div {
                        top: 51px;
                    }
                }
                .first-select {
                    margin-left: 10px
                }
                .sec-div {
                    .form-group {
                        margin-bottom: 0;
                    }
                    select {
                        padding: 0px 7px !important;
                        height: 26px !important;
                    }
                    .table-filter {
                        float: left !important;
                        height: auto !important;
                        margin: 0px auto !important;
                        margin-right: 10px !important;
                    }
                }
            }
            
            @media screen and (max-width: 1100px) {
                .header-area {
                    flex-direction: column;
                    position: relative;
                }
                .third-div {
                    position: absolute;
                    right: 0;
                }
                .wrap {
                    margin-bottom: 20px;
                    float: left;
                }
                #wrapper #page-content-wrapper .page-contents .container .container-header .leaderboard {
                    line-height: 18px;
                }
                .vdp-datepicker__calendar {
                    width: auto !important;
                }
                .vdp-datepicker__calendar .cell {
                    height: 34px !important;
                }
            }
            
            @media screen and (max-width: 767px) {
                #addCoupon {
                    padding: 15px 10px;
                    h2 {
                        font-size: 20px;
                        margin: 15px 0px 15px;
                    }
                    input {
                        margin-bottom: 0;
                    }
                    #planButton {
                        min-width: 50%;
                        margin-left: 25%;
                    }
                }
                .pagination {
                    margin: 10px 0 !important;
                    justify-content: center !important;
                }
            }
            
            @media screen and (max-width: 580px) {
                .grid-div {
                    .first-div {
                        width: 100%;
                    }
                    .sec-div {
                        width: 100% !important;
                    }
                }
                #addCoupon {
                    padding: 15px 10px;
                    height: auto;
                    min-width: 100%;
                    margin: 0px auto;
                }
                #addCoupon .close-modal {
                    top: 10px;
                    right: 10px;
                }
            }
            
            @media screen and (max-width: 380px) {
                .dataTables_filter .form-control {
                    width: 156px !important;
                }
            }
            
            .dataTables_filter.float-right.pb-2.mt-4.pt-2 {
                margin-top: 0px !important;
            }
            
            .admin-header {
                .header-icons-group {
                    margin-right: 10px !important;
                }
            }
            
            @media screen and (max-width: 400px) {
                .admin-header-logo span {
                    font-size: 16px;
                }
            }
            
            @media screen and (max-width: 900px) {
                .grid-div {
                    .first-div {
                        width: 40%;
                    }
                    .sec-div {
                        width: 60% !important;
                    }
                }
                .admin-header {
                    .header-icons-group {
                        margin-right: 0 !important;
                        .user {
                            margin: 12px 0px 0px !important;
                        }
                    }
                }
            }
            
            @media screen and (max-width: 616px) {
                .img-list-outer-div {
                    padding: 10px;
                    margin-bottom: 20px;
                }
                .grid-div .first-div {
                    width: 100%;
                }
                .grid-div .sec-div {
                    width: 100% !important;
                }
                .list-div .button-div {
                    border-top: 1px solid var(--content-border) ! important;
                }
            }
            
            @media screen and (max-width: 400px) {
                .img-list-outer-div {
                    padding: 10px;
                    margin-bottom: 20px;
                }
            }
            
            .table-striped tbody tr:nth-of-type(2n + 1) {
                background-color: transparent !important;
            }
            
            .table {
                min-width: 800px;
            }
            
            #wrapper #page-content-wrapper .page-contents .container .container-header .leaderboard {
                line-height: 14px;
            }
            
            div.dataTables_wrapper div.dataTables_paginate {
                margin-top: 5px;
            }
            
            // .paginate_button.previous:before {
            //     content: "← ";
            //     color: var(--primary-color) !important;
            //     margin: 0px 10px;
            // }
            // .paginate_button.next:after {
            //     content: " →";
            //     color: var(--primary-color) !important;
            //     margin: 0px 10px;
            // }
            // .dataTables_info {
            //     font-size: 14px;
            // }
            // #viewCoupon_previous {
            //     padding: 5px;
            // }
            // #viewCoupon_next {
            //     padding: 5px;
            // }
            // @media screen and (max-width: 767px) {
            //     .dataTables_wrapper {
            //         .col-sm-12 {
            //             width: 50% !important;
            //             float: left !important;
            //             flex: 0 0 50% !important;
            //         }
            //     }
            //     .dataTables_wrapper .dataTables_info,
            //     .dataTables_wrapper .dataTables_paginate,
            //     .dataTables_length {
            //         float: left !important;
            //         text-align: left !important;
            //     }
            //     .dataTables_wrapper .dataTables_paginate {
            //         margin-top: 0.5em;
            //     }
            // }
            table.dataTable tbody tr {
                background-color: transparent;
            }
            
            table.dataTable thead .sorting::before,
            table.dataTable thead .sorting_asc::before,
            table.dataTable thead .sorting_desc::before,
            table.dataTable thead .sorting_asc_disabled::before,
            table.dataTable thead .sorting_desc_disabled::before {
                display: none;
            }
            
            table.dataTable thead .sorting::after,
            table.dataTable thead .sorting_asc::after,
            table.dataTable thead .sorting_desc::after,
            table.dataTable thead .sorting_asc_disabled::after,
            table.dataTable thead .sorting_desc_disabled::after {
                display: none;
            }
            
            .custom-select:focus {
                box-shadow: none !important;
            }
            
            .custom-select {
                background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px !important;
            }
            
            @media screen and (max-width: 420px) {
                .user-page {
                    select {
                        margin: 0px auto !important;
                    }
                }
            }