$linkColor: hsla(176, 48%, 51%, 1);
:root {
    --primary-color: #808d99;
    --body-background: #efefef;
    --sidebar-wrapper-bg: #fff;
    --primary-bg-color: #22c3aa;
    --container-subheading: #acb4bb;
    --border-color: #d6d6d6;
    --content-border: #dfdfdf;
    --con-header: #fff;
    --navyblue: #d6d6d6;
    --nav-border: #d6d6d6;
    --darkblue-bg-color: #fff;
    --lightblue-bg-color: #dddddd;
    --font-color: #2d4254;
    --lightgreen: #358bdc;
    --ellipsis-color: #bfc6cc;
    --heading-color: #a6aeb5;
    --tab-active-color: #808d99;
    --tab-border-active-color: #b7bec4;
    --chart-bg-color: #efefef !important;
    --white: #888e93;
    --chat-btn: #fff;
    --text-white: #fff;
    --navli-font-color: #bcc2c7;
    --spinal-chart-bg-color: #358bdc;
    --yellowish-color: #bf9f1c;
    --Tealish-Grey-color: #22c3aa;
    --green-color: #22c3aa;
    --elite-bg: #1a3349;
    --gold-bg: #5c4c0b;
    --platinium-bg: #414d5a;
    --progress-box-shadow: #c80000;
    --spinal-chart-bg-color: #22c3aa;
    --hr-line: #34445d;
    --number-bg: #fff;
    --number-text-color: #021c33;
    //font-weight-Variables 300,400,600,700,800
    --light-font: 300;
    --regular-font: 400;
    --bold-font: 600;
    --semibold-font: 700;
    --extra-bold-font: 800;
    --regular-font-size: 14px;
    --logo-1: url("../assets/images/logo7.png ");
    --logo-2: url("../assets/images/logo6.png ");
    --logo-3: url("../assets/images/logo9.png ");
    --logo-4: url("../assets/images/logo8.png ");
    --logo-5: url("../assets/images/logo10.png ");
    //chart-js-color
    --chartgridLineColor: #dddddd;
    --chart-series-Color: #358bdc;
    --bar-chartgridLineColor: #dddddd;
    --bar-label-Color: #808d99;
    --bar-strip-label-Color: rgb(73, 141, 206);
    --bar-strip-sec-label-Color: #22c3aa;
    --chart-tooltip-background-Color: #fff;
    --chart-tooltip-border-Color: #fff;
    --bar-label-Color-y-axis: #b7bec4;
    --chart-tooltip-text-Color: #808d99;
    --barchart-shadow-color: #a4a8ad;
    --table-bottom-border-color: #dddddd;
    // leaderboard page-color
    --table-green-bg: #22c3aa;
    --table-red-bg: #f06170;
    --back-button: #818d99;
    --select-border: #dddddd;
    --trader-number-bg: #d3d0d0;
    --bg-image: url("../assets/images/xtrades-bg.jpg");
    --logo: url("../assets/images/Xtrades_Square_Dark2x.png");
    --logo-responsive: url("../assets/images/Xtrades_Square_Dark2x.png");
    --login-bg: #302977;
    //sidebar-images-images
    --icon-grid: url("../assets/images/dashboard-icon/grid-light.png");
    --icon-award: url("../assets/images/dashboard-icon/award-light.png");
    --icon-film: url("../assets/images/dashboard-icon/film-light.png");
    --navicon-user: url("../assets/images/dashboard-icon/user-light.png");
    //sidebar-images-hover
    --icon-grid_hover: url("../assets/images/dashboard-icon/grid_hover-light.png");
    --icon-award_hover: url("../assets/images/dashboard-icon/award_hover-light.png");
    --icon-film_hover: url("../assets/images/dashboard-icon/film_hover-light.png");
    --navicon-user_hover: url("../assets/images/dashboard-icon/user_hover-light.png");
    --icon-dropdown: url("../assets/images/dropdown-icon/red-dropdown.png");
    --icon-dropdown_hover: url("../assets/images/dropdown-icon/blue-dropdown.png");
    --icon-sticks: url("../assets/images/blue-sticks.png");
    --icon-sticks_hover: url("../assets/images/sticks.png");
    --icon-member: url("../assets/images/blue-user.png");
    --icon-member_hover: url("../assets/images/user.png");
    --icon-candle: url("../assets/images/blue-candle.png");
    --icon-candle_hover: url("../assets/images/candle.png");
    // --icon-bar: url('../assets/images/blue-bar.png');
    // --icon-bar_hover: url('../assets/images/bar.png');
    --icon-setting: url("../assets/images/setting.png");
    --icon-setting_hover: url("../assets/images/setting.png");
    --hr-line: #dfdfdf;
    --number-bg: #efefef;
    --number-text-color: #808d99;
    --icon-hover-bg: #f0f1f1;
    --icon-hover-text: #0e99ff;
    --table-grey-color: #acb1b7;
    --icon-hover-button: #22c3aa;
    --normal-bg-color: #77beff;
    --above-bg-color: #a096ff;
    --high-bg-color: #fee57d;
    --very-high-bg-color: #f06170;
    // login-color
    --bg-pic-dis: url("assets/images/bg.png");
    --bg-logo-dis: url("assets/images/xtrade-dis-logo.png");
    --logo: url("assets/images/ct-logo.png");
    --logo-responsive: url("assets/images/ct-logo-responsive.png");
    --green-button-color: #01dba2;
    --inut-form-color: #818c93;
    --fb-bg: #4267b2;
    --discord-bg: #7289da;
    --login-text-color: rgba(255, 255, 255, 0.5);
    --chat-btn: #fff;
    --bar-chart-shadow: #eef1f3;
    --href-color: #358bdc;
}