<template>
  <div>
    <section>
      <div style="padding: 20px;">
        <h3>Get started as an affiliate</h3>
        <p class="mb-0" style="max-width: 65%;">
          Become an affiliate and earn special perks and recognition. In order
          for {{ app_name }} to thrive, we rely on our top members to help drive
          new students and experts into our private group.
        </p>
      </div>
    </section>

    <section>
      <div style="padding: 20px;">
        <h3>Your Links</h3>
        <p class="mb-0">
          Below you'll find your unique affiliate links which will track any
          activity by visitors who use them.
        </p>
      </div>
      <div style="padding: 20px; box-shadow: inset 0 1px #e3e8ee; background-color: #f7fafc;">
        <p class="my-0">
          <a @click.prevent="copyReferralLink" :href="referralUrl">{{ referralUrl }}</a>
        </p>
      </div>
    </section>

    <section>
      <div style="padding: 20px">
        <h3>Your Referrals</h3>
      </div>

      <template v-if="!rows">...</template>
      <t-table
        v-else-if="rows.length"
        :rows="rows"
        :headings="['Name', 'Discord', 'Email', 'Status', 'Billing', null]"
      >
        <template slot="row" slot-scope="{ row }">
          <tr>
            <td class="auto">{{ row.name }}</td>
            <td class="auto" style="font-weight: 500;">{{ row.discord }}</td>
            <td class="auto">{{ row.email }}</td>
            <td>
              <span class="chip">{{ row.status }}</span>
            </td>
            <td>
              <span class="chip grey">{{ row.billing }}</span>
            </td>
            <!-- <td class="auto">Elite</td> -->
            <!-- <td>Jul 2, 2:42 AM</td> -->
            <td>
              <i class="fas fa-ellipsis-h"></i>
            </td>
          </tr>
        </template>
      </t-table>
      <div
        v-else
        class="flex flex-center flex-column"
        style="padding: 60px 20px; box-shadow: rgb(227, 232, 238) 0px 1px inset;"
      >
        <p class="my-0" style="font-size: 48px;">
          <i class="fas fa-user-friends"></i>
        </p>
        <p>You don't have any referrals yet.</p>
      </div>

      <div
        v-if="rows && rows.length"
        style="padding: 20px; box-shadow: rgb(227, 232, 238) 0px 1px inset;"
      >
        <p class="my-0">{{ rows.length }} result{{ rows.length != 1 ? 's' : '' }}</p>
      </div>
    </section>

    <section>
      <div style="padding: 20px;">
        <h3>Your Stats</h3>
      </div>
      <div style="padding: 20px; box-shadow: inset 0 1px #e3e8ee; background-color: #f7fafc;">
        <div
          class="mb--4"
          style="display: grid; grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));"
        >
          <div class="flex-grow mb-3">
            <p class="mt-0 mb-2">Affiliate Rank</p>
            <h2>#{{ rows ? Math.round(789 / (rows.length + 1)) : '?' }}</h2>
          </div>
          <div class="flex-grow mb-3">
            <p class="mt-0 mb-2">Referral Sign-Ups</p>
            <h2>{{ rows ? rows.length : '?' }}</h2>
          </div>
          <div class="flex-grow mb-3">
            <p class="mt-0 mb-2">Converted Members</p>
            <h2>{{ converted }}</h2>
          </div>

          <div class="flex-grow mb-3">
            <p class="mt-0 mb-2">Points</p>
            <h2>{{ me.avail_points }}</h2>
          </div>
          <!-- <div class="flex-grow mb-4">
            <p class="mt-0 mb-2">Last Conversion</p>
            <h2>3 days ago</h2>
          </div>-->
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { get, find } from "lodash-es";
import { copyToClipboard } from "js/utils";
import { mapState, mapGetters } from "vuex";
import api from "js/api";

import TTable from "js/components/TTable";

export default {
  data() {
    return {
      referrals: null,
      ustatus: null,
      ubilling: null,
      converted: null
    };
  },
  components: {
    TTable
  },
  async mounted() {
    this.referrals = get(await api.get("/users/@me/referrals"), "data");
  },
  computed: {
    ...mapState(["me", "app_name"]),
    ...mapGetters(["referralUrl"]),
    rows() {
      if (!this.referrals) {
        return null;
      }

      return this.referrals.data.map(item => {
        var currentDateWithFormat = new Date()
          .toJSON()
          .slice(0, 10)
          .replace(/-/g, "-");
        // console.log(currentDateWithFormat);
        // console.log(item.latest_subscriptions);
        if (
          item.latest_subscriptions != null &&
          currentDateWithFormat <
            item.latest_subscriptions.attributes.paid_through
        ) {
          this.ustatus = "Active";
          this.ubilling = new Date(
            item.latest_subscriptions.attributes.created_at
          )
            .toJSON()
            .slice(0, 10)
            .replace(/-/g, "-");
        } else if (
          item.latest_subscriptions != null &&
          item.latest_subscriptions.attributes.paid_through == null
        ) {
          this.ustatus = "Active";
          this.ubilling = "Lifetime";
        } else {
          this.ustatus = "Not Active";
          this.ubilling = "-";
        }

        this.converted = this.referrals.count_paid;

        return {
          name: item.name,
          discord: get(
            find(item.connections, { provider: "discord" }),
            "nickname"
          ),
          email: item.email,
          billing: this.ubilling,
          status: this.ustatus
        };
      });
    }
  },
  methods: {
    copyReferralLink() {
      copyToClipboard(this.referralUrl);
      this.$toasted.show("Referral link copied to clipboard!", {
        iconPack: "fontawesome",
        icon: "check",
        type: "success",
        duration: 1500
      });
    }
  }
};
</script>
 