<template>
  <div>
    <section>
      <div style="padding: 20px;">
        <h3>Join chat and start profiting today</h3>
        <p
          style="max-width: 70%;"
        >Join us in our live chatrooms with hundreds of experts giving realtime analytics and alerts.</p>
        <button class="action" @click="joinChat" v-if="discordAccount">Open Chat</button>
        <button class="discord" @click="changeDiscord" v-else>Connect or Create Your Discord Account</button>
      </div>
    </section>

    <section>
      <div style="padding: 20px;">
        <h3>Your Chat Account</h3>
        <p
          class="mb-0"
        >{{ app_name }} uses Discord for our live chatrooms. The account below will be linked to your membership status, role, and activity.</p>
      </div>
      <div style="padding: 20px; box-shadow: inset 0 1px #e3e8ee; background-color: #f7fafc;">
        <p class="my-0" v-if="!discordAccount">
          You have not connected your discord account yet.
          <a
            href="#"
            @click.prevent="changeDiscord"
          >Click here</a> to connect or create one now.
        </p>
        <p class="my-0" v-else>
          Your connected Discord account is
          <strong>{{ discordAccount.nickname }}</strong>.
          <a href="#" @click.prevent="changeDiscord">Click here</a> to change your account.
        </p>
      </div>
    </section>

    <section v-if="false">
      <div style="padding: 20px;">
        <h3>Your Statistics</h3>
      </div>
      <div style="padding: 20px; box-shadow: inset 0 1px #e3e8ee; background-color: #f7fafc;">
        <div
          class="mb--4"
          style="display: grid; grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));"
        >
          <div class="flex-grow mb-4">
            <p class="mt-0 mb-2">Activity Rank</p>
            <h2>#12</h2>
          </div>
          <div class="flex-grow mb-4">
            <p class="mt-0 mb-2">Posts</p>
            <h2>231</h2>
          </div>
          <div class="flex-grow mb-4">
            <p class="mt-0 mb-2">Reactions</p>
            <h2>772</h2>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<style lang="scss" scoped>
// button {
//   border-style: solid;
//   border-width: 0.125rem;
//   border-radius: 0.25rem;

//   padding: 0.625rem 1.125rem;

//   text-transform: uppercase;
//   font-size: 0.875rem;
//   line-height: 1rem;
//   font-weight: 700;

//   transition: all 150ms ease-in;
//   cursor: pointer;
//   user-select: none;
//   min-width: none;

//   outline: none;
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;

//   border-color: var(--link-color);
//   background-color: var(--link-color);
//   color: #ffffff;

//   &:hover {
//     background-color: var(--link-color-hover);
//     border-color: var(--link-color-hover);
//   }

//   &.tiny {
//     padding: 0.25rem 0.625rem;
//     font-size: 0.625rem;
//     line-height: 0.75rem;
//   }
//   &.small {
//     padding: 0.375rem 0.875rem;
//     font-size: 0.75rem;
//     line-height: 1rem;
//   }
//   &.large {
//     padding: 0.75rem 1.125rem;
//     font-size: 1rem;
//     line-height: 1.25rem;
//   }
//   &.giant {
//     padding: 0.875rem 1.375rem;
//     font-size: 1.125rem;
//     line-height: 1.5rem;
//   }

//   &.success {
//     background-color: var(--color-success);
//     border-color: var(--color-success);
//     color: #ffffff;
//   }
// }
</style>


<script>
import { tryAddConnection } from "../utils";
import { mapState, mapActions } from "vuex";

export default {
  computed: {
    ...mapState(["app_name", "me"]),
    connections() {
      return this.me.connections;
    },
    discordAccount() {
      return this.connections.find(
        connection => connection.provider == "discord"
      );
    }
  },
  methods: {
    tryAddConnection,
    ...mapActions(["tryConnectWithConnectToken"]),
    async changeDiscord() {
      await this.tryAddConnection("discord");
      await this.tryConnectWithConnectToken();
    },
    async joinChat() {
      if (!this.discordAccount) {
        this.changeDiscord();
      } else {
        window.open("/discord");
      }
    }
  }
};
</script>
