<template>
  <!-- page-contents -->
  <div class="page-contents chat-page">
    <div class="center-div text-center">
      <div class="content">
        <h2><template v-if="app_logo">
          <!-- chat logo -->
          <img class="app-logo" :src="app_logo" style="width: 80%;" />
        </template>
        <template v-else>
          <div>
          <img
            :src="app_icon"
            style="background-color: transparent; border: none;"
            class="avatar mb-2"
          />
          </div>
        </template>
        </h2>
        <p v-if="app_name">{{app_name}} invites you to join the chat</p>
        <h4>Join chat and start profiting today</h4>
        <button type="button" class="btn chat-btn" @click="joinChat" v-if="discordAccount">OPEN CHAT</button>
        <button type="button" class="btn chat-btn" @click="changeDiscord" v-else>JOIN THE CHAT</button>
        <!-- End-of-center-div -->
      </div>
      <!-- End-of-center-div -->

      <div class="ph-pic">
        <img src="../../assets/images/ph-pic.png" alt="icon" class="ph-pic-img" />
      </div>

      <!-- End-of-center-div -->
    </div>
    <!-- end-of page-contents -->

    <!--End-of-#page-content-wrapper-->
  </div>
</template>

<script>
import { tryAddConnection } from "../utils";
import { mapState, mapActions } from "vuex";

export default {
  computed: {
    ...mapState(["app_name", "app_logo", "app_icon", "me"]),
    connections() {
      return this.me.connections;
    },
    discordAccount() {
      return this.connections.find(
        connection => connection.provider == "discord"
      );
    }
  },
  methods: {
    tryAddConnection,
    ...mapActions(["tryConnectWithConnectToken"]),
    async changeDiscord() {
      await this.tryAddConnection("discord");
      await this.tryConnectWithConnectToken();
    },
    async joinChat() {
      if (!this.discordAccount) {
        this.changeDiscord();
      } else {
        window.open("/discord");
      }
    }
  },
  async mounted() {
    $(".heading").text("Join Chat");
  }
};
</script>