<template>
  <div class="Discord-bg-div">
    <loading-shim v-if="waiting" style="position: fixed;"></loading-shim>

    <div class="thanks-discord-div text-centre">
      <div class="thanks-outer-logo-div">
        <div class="thanks-logo-div">
          <img height="24" src="../../assets/images/xtrade-dis-logo.png" />
        </div>
      </div>
      <h2>Thank You !</h2>
      <p>We're almost done.</p>
      <h6>Connect Discord to Upgrade Membership Status</h6>
      <div id="arrowAnim-div">
        <div id="arrowAnimmateLeftToRight" class="pull-left">
          <div class="arrow" :class="[ (activeArrow == 0) ? 'active' : '']"></div>
          <div class="arrow" :class="[ (activeArrow == 1) ? 'active' : '']"></div>
          <div class="arrow" :class="[ (activeArrow == 2) ? 'active' : '']"></div>
          <div class="arrow" :class="[ (activeArrow == 3) ? 'active' : '']"></div>
          <div class="arrow" :class="[ (activeArrow == 4) ? 'active' : '']"></div>
          <div class="arrow" :class="[ (activeArrow == 5) ? 'active' : '']"></div>
        </div>

        <button class="thanks-discord-button">
          <span>Connect</span>
          <img height="24" src="../../assets/images/dis-button-logo.png" />
        </button>

        <div id="arrowAnimmateRightToLeft" class="pull-right">
          <div class="arrow" :class="[ (activeArrow == 5) ? 'active' : '']"></div>
          <div class="arrow" :class="[ (activeArrow == 4) ? 'active' : '']"></div>
          <div class="arrow" :class="[ (activeArrow == 3) ? 'active' : '']"></div>
          <div class="arrow" :class="[ (activeArrow == 2) ? 'active' : '']"></div>
          <div class="arrow" :class="[ (activeArrow == 1) ? 'active' : '']"></div>
          <div class="arrow" :class="[ (activeArrow == 0) ? 'active' : '']"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- End-of-login-div -->

  <!-- End-of-container-fluid-div -->
</template>

<script>
import { mapState, mapActions } from "vuex";
import { tryAddConnection, sleep } from "../utils";
import api from "js/api";
import { get, first, values } from "lodash-es";

import LoadingShim from "js/components/LoadingShim";

export default {
  components: {
    LoadingShim
  },
  data() {
    return {
      waiting: false,
      activeArrow: 4,
      forms: {
        login: {
          email: "",
          password: ""
        }
      }
    };
  },
  computed: {
    ...mapState([
      "app_name",
      "app_logo",
      "app_icon",
      "me",
      "loading",
      "app_slogan"
    ])
  },
  mounted() {
    setInterval(() => {
      if (this.activeArrow == 5) {
        this.activeArrow = 0;
      } else {
        this.activeArrow++;
      }
    }, 1000);
  },
  methods: {
    ...mapActions(["tryLoginWithConnectToken"]),
    tryAddConnection,
    async doLogin() {
      if (this.waiting) {
        return;
      }

      this.waiting = true;
      // const start = Date.now();

      const { email, password } = this.forms.login;

      try {
        const { data } = await api.post("/login", {
          email,
          password
        });

        const token = get(data, "token");
        localStorage.setItem("token", token);
        localStorage.setItem("checkSubscription", 1);
        window.location = "/";
      } catch (err) {
        const message = get(values(get(err, "response.data.errors")), "[0][0]");
        this.$toasted.show(message, {
          iconPack: "fontawesome",
          icon: "exclamation-triangle",
          type: "error",
          duration: 2500
        });
      }

      // const took = Date.now() - start;

      // if (took < 2500) {
      //   await sleep(2500 - took);
      // }

      this.waiting = false;
    },
    async doProviderLogin(provider) {
      await this.tryAddConnection(provider);
      await this.tryLoginWithConnectToken();
    }
  }
};
</script>
