<template>
  <div>
    <div style="padding-bottom: 12px;">
      <div
        style="box-shadow: 0 7px 14px 0 rgba(60,66,87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, .07); background: #FFFFFF; border-radius: 4px;"
      >
        <div style="padding: 20px;">
          <div style="font-size: 20px; line-height: 28px; color: #2a2f45;">Welcome to {{ app_name }}, {{ nickname }}</div>
        </div>
        <router-link to="/chat" tag="div" style="cursor: pointer; padding: 20px; box-shadow: inset 0 1px #e3e8ee; color: #4f566b;">
          <div class="flex">
            <template v-if="discordAccount">
              <div
                class="flex-center"
                style="width: 24px;display: inline-flex; margin-right: 0.5rem;"
              >
                <i class="fas fa-check-circle" style="color: #4caf50;"></i>
              </div>
              <div class="flex-grow" style="font-size: 0.9rem; margin-top: 0.1rem;">
                You have connected your Discord account:
                <strong>{{ discordAccount.nickname }}</strong>
              </div>
              <div
                class="flex-center"
                style="width: 24px;display: inline-flex; margin-left: 0.5rem;"
              >
                <!-- <i class="fas fa-times"></i> -->
              </div>
            </template>
            <template v-else>
              <div
                class="flex-center"
                style="width: 24px;display: inline-flex; margin-right: 0.5rem;"
              >
                <i class="fas fa-exclamation-circle" style="color: #f43636;"></i>
              </div>
              <div class="flex-grow" style="font-size: 0.9rem; margin-top: 0.1rem;">
                Connect your
                <strong>Discord account</strong> and start chatting
              </div>
              <div
                class="flex-center"
                style="width: 24px;display: inline-flex; margin-left: 0.5rem;"
              >
                <!-- <i class="fas fa-times"></i> -->
              </div>
            </template>
          </div>
        </router-link>
        <router-link to="/affiliates" tag="div" style="cursor: pointer; padding: 20px; box-shadow: inset 0 1px #e3e8ee; color: #4f566b;">
          <div class="flex">
            <div
              class="flex-center"
              style="width: 24px;display: inline-flex; margin-right: 0.5rem;"
            >
              <i class="fas fa-chevron-right"></i>
            </div>
            <div class="flex-grow" style="font-size: 0.9rem; margin-top: 0.1rem;">
              Invite your first member to {{ app_name }}
            </div>
          </div>
        </router-link>
      </div>
    </div>

    <!-- Modal HTML embedded directly into document -->
    <div id="movePlans" class="modal">
      <p class="alert alert-success" role="alert">Thanks for signup! Please, proceed further for subscription plans.</p>
      <router-link to="/plans" tag="div" style="cursor: pointer; padding: 20px; box-shadow: inset 0 1px #e3e8ee; color: #4f566b;">
        <a href="#" rel="modal:close" class="btn btn-info">View Plans</a>
      </router-link>
    </div>
    <!-- Link to open the modal -->
    <p><a href="#movePlans" rel="modal:open" id="openPlanPop"></a></p> 

  </div>
</template>

<style lang="scss" scoped>
  #movePlans {
    height: auto !important;
    overflow: visible !important;
  }
</style>


<script>
import { mapState, mapActions } from "vuex";

// $(document).ready(function() {
//   console.log($('#openPlanPop').click());
// });

export default {

  computed: {
    ...mapState(["me", "app_name"]),
    connections() {
      return this.me.connections;
    },
    discordAccount() {
      return this.connections.find(
        connection => connection.provider == "discord"
      );
    },
    nickname() {
      return this.me.name;
    },
  }
};
</script>