<template>
  <div class="leaderboard-page">
    <div id="leaderboard-content-wrapper">
      <div class="page-contents">
        <div class="row">
          <div class="col-md-12">
            <div class="container">
              <div class="container-header">
                <div class="header-div">
                  <h2>Referral Leaderboard</h2>
                </div>
                <div class="nav-item dropdown header-right-items">
                  <div class="table-filter desktop">
                    <div class="form-group">
                      <label class="sr-only">Last 60 days</label>
                      <select class="form-control" @change="onChange($event)">
                        <option value="60">Last 60 days</option>
                        <option value="50">Last 50 days</option>
                        <option value="40">Last 40 days</option>
                        <option value="30">Last 30 days</option>
                        <option value="20">Last 20 days</option>
                        <option value="10">Last 10 days</option>
                      </select>
                    </div>
                  </div>
                  <div class="collapse navbar-collapse pull-right" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto dropit">
                      <li class="nav-item dropdown">
                        <button @click="dropItLeaderboard ()">
                          <span class="cusom-dropdown dropdown-icon"></span>
                        </button>
                        <transition class="fade">
                          <ul class="list dropped" v-if="isDroppedLeaderboard">
                            <li>
                              <router-link to="/">Action</router-link>
                            </li>
                            <li>
                              <router-link to="/">Another</router-link>
                            </li>
                            <li>
                              <router-link to="/">Something Else</router-link>
                            </li>
                          </ul>
                        </transition>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="container-content">
                <div class="mobile">
                  <div class="table-filter">
                    <div class="form-group">
                      <label class="sr-only">Last 60 days</label>
                      <select class="form-control" @change="onChange($event)">
                        <option value="60">Last 60 days</option>
                        <option value="50">Last 50 days</option>
                        <option value="40">Last 40 days</option>
                        <option value="30">Last 30 days</option>
                        <option value="20">Last 20 days</option>
                        <option value="10">Last 10 days</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="leaderboard-table">
                  <div class="dt-example dt-example-bootstrap4">
                    <section>
                      <!-- <vue-nice-scrollbar classes="my-scrollbar" v-bind:speed="100" theme="light"> -->
                      <div class="table-responsive scroll-me">
                        <table id="leaderboard-table" class="table w-100">
                          <thead>
                            <tr>
                              <th class="min-first-div-width">#</th>
                              <th>User</th>
                              <th>Registrations</th>
                              <th>Unique</th>
                              <th>Conversions</th>
                              <th>Active</th>
                              <th>Cancelled</th>
                              <th>% No Discord</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr v-if="Nitems" v-bind:key="refer.id" v-for="refer in Nitems" class="no-referral">
                              <td>
                                <span class="pull-left red-div"></span>1
                              </td>
                              <td>{{ refer.name }}</td>
                              <td>{{ refer.registrations }}</td>
                              <td>
                                {{ refer.unique }}
                                <span class="tr-count">98.5%</span>
                              </td>
                              <td>
                                {{ refer.conversions }}
                                <span class="tr-count">81.5%</span>
                              </td>
                              <td>
                                {{ refer.active }}
                                <span class="tr-count">100%</span>
                              </td>
                              <td>
                                {{ refer.cancelled }}
                                <span class="tr-count">0%</span>
                              </td>
                              <td>{{ refer.registrations }}</td>
                            </tr>
                            <tr>
                              <td>
                                <span class="pull-left green-div"></span>2
                              </td>
                              <td>Lorem Ipsum</td>
                              <td>332</td>
                              <td>
                                322
                                <span class="tr-count">98.5%</span>
                              </td>
                              <td>
                                27
                                <span class="tr-count">81.5%</span>
                              </td>
                              <td>
                                27
                                <span class="tr-count">100%</span>
                              </td>
                              <td>
                                0
                                <span class="tr-count">0%</span>
                              </td>
                              <td>11.5%</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- </vue-nice-scrollbar> -->
                    </section>
                  </div>
                </div>
                <!-- end-of leaderboard-table -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Tabs from "js/components/Tabs";
import Tab from "js/components/Tab";
import { get, find } from "lodash-es";
import { copyToClipboard } from "js/utils";
import { mapState, mapGetters } from "vuex";
import api from "js/api";

// import Vue from "vue";
// import vueNiceScrollbar from "vue-nice-scrollbar";
// Vue.use(vueNiceScrollbar);

export default {
  data() {
    return {
      test: null,
      isDroppedLeaderboard: false,
      Nitems: null
    };
  },
  async mounted() {
    $(".heading").text("Leaderboard");
    this.Nitems = get(await api.get("/fetch-users"), "data");
  },
  components: {
    Tabs,
    Tab
  },
  methods: {
    dropItLeaderboard() {
      this.isDroppedLeaderboard = !this.isDroppedLeaderboard;
    },
    async onChange(event) {
      this.Nitems = get(
        await api.get("/fetch-users?days=" + event.target.value + ""),
        "data"
      );
    }
  }
};
</script>
 