<template>
  <div>
    <section>
      <div class="setPadd">
        <h3>Referral Leaderboard</h3>

        <div class="overflow-auto">
          <p class="mt-3">Current Page: {{ currentPage }}</p>
          <b-table
            id="my-table"
            :items="items"
            :per-page="perPage"
            :current-page="currentPage"
            small
          ></b-table>
        </div>

        <b-pagination
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          aria-controls="my-table"
        ></b-pagination>
      </div>
    </section>
  </div>
</template>

<script>
import { get, find } from "lodash-es";
import { copyToClipboard } from "js/utils";
import { mapState, mapGetters } from "vuex";
import api from "js/api";

import TTable from "js/components/TTable";

export default {
  data() {
    return {
      perPage: 10,
      currentPage: 1,
      items: null,
      Nitems: null
    };
  },
  components: {
    TTable
  },
  async mounted() {
    this.Nitems = get(await api.get("/fetch-users"), "data");
  },
  computed: {
    ...mapState(["me", "app_name"]),
    ...mapGetters(["referralUrl"]),
    rows() {
      this.items = [];
      if (this.Nitems != null) {
        this.items = this.Nitems;
      }
      // console.log(this.items);
      return this.items.length;
    }
  },
  methods: {
    copyReferralLink() {
      copyToClipboard(this.referralUrl);
      this.$toasted.show("Referral link copied to clipboard!", {
        iconPack: "fontawesome",
        icon: "check",
        type: "success",
        duration: 1500
      });
    }
  }
};
</script>
