<template>
  <div class="flex flex-center flex-grow" style="overflow: auto;">
    <div id="loading" v-if="loading">
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="container px-12 plans" style="align-self: start; text-align: center;">
      <template v-if="selectedPlan">
        <div
          class="mt-12"
          style="font-size: 1.8rem; font-family: 'Nunito', sans-serif; font-weight: 500; color: #818e99;"
          :style="{ color: selectedPlan.color }"
        >{{ selectedPlan.name }} Membership</div>
        <p
          style="color: #818e99; font-weight: 300;"
        >Complete the checkout process below and join us today</p>
      </template>
      <template v-else>
        <div
          class="mt-12"
          style="font-size: 1.8rem; font-family: 'Nunito', sans-serif; font-weight: 500; color:#818e99;" 
        >Join our private group today</div>
        <p
          style="color:#818e99; font-weight: 300;"
        >Select a plan below to upgrade your experience</p>
      </template>

      <template v-if="selectedPlan">
        <div class="flex flex-center flex-column py-4">
          <router-link to="/plans" tag="button" class="flex-grow plain mt-4">
            <i class="fas fa-chevron-left mr-2"></i> Back to Plans
          </router-link>
        </div>

        <div class="flex flex-center flex-column py-8">
          <div
            :style="{ borderColor: selectedPlan.color }"
            style="max-width: 464px; background: #46566f; border-top: 3px solid rgb(37, 126, 211); padding: 2.5rem; text-align: left;"
          >
            <div style="display: flex; font-weight: 600;">
              <div style="flex: 1;">Billed {{ selectedPlan.period_phrase }}</div>
              <div>{{ selectedPlan.price_formatted }}</div>
            </div>
            <p
              style="margin: 2rem 0px; line-height: 24px; font-size: 14px; color: rgba(255, 255, 255, 0.8);"
            >
              <template
                v-if="selectedPlan.period"
              >You will be charged {{ selectedPlan.price_formatted }} {{ selectedPlan.period }}ly until you cancel your subscription. Previous charges will not be refunded upon cancellation unless legally required.</template>
              <template
                v-else
              >You will be charged {{ selectedPlan.price_formatted }} one time only. This charge will not be refunded upon cancellation unless legally required.</template>
              Your payment data is encrypted and secure. All amounts shown are in USD.
            </p>

            <div class="flex flex-column">
              <button class="flex-grow action large" @click="openConfirm(selectedPlan)">
                <i class="fas fa-credit-card mr-2"></i> Pay with Card
              </button>
              <button class="flex-grow paypal large mt-2" @click="openConfirmPaypal(selectedPlan)">
                <i class="fab fa-paypal mr-2"></i> Pay with PayPal
              </button>
            </div>
          </div>
        </div>
      </template>

      <template v-else>
        <div class="flex flex-center py-12 plans-box" style="align-items: stretch;">
          <router-link
            :to="`/plans/${plan.slug}`"
            tag="div"
            class="plan"
            v-for="plan in plans"
            :key="plan.name"
          >
            <div
              :style="{
                  color: plan.color,
                  borderColor: plan.color
                }"
              class="plan__name"
            >{{ plan.name }}</div>
            <div class="plan__pricing">
              <span class="plan__price">{{ plan.price_formatted }}</span>
              <span class="plan__period" v-if="plan.period">/{{ plan.period }}</span>
            </div>
            <ul class="plan__features mt-4">
              <li v-for="feature in plan.features" :key="feature">
                <span
                  :style="{
                      color: feature.includes(`Username Color`)
                        ? plan.color
                        : null
                    }"
                >{{ feature }}</span>
              </li>
            </ul>
          </router-link>
        </div>
      </template>
    </div>
  </div>
</template>
<style lang="scss" scoped>

@import "../../sass/admin.scss";

</style>

<script>
import Vue from "vue";
import axios from "axios";
import { mapState, mapActions } from "vuex";
import { get, find } from "lodash-es";
import api from "js/api";
import { tryExpressCheckout } from "js/utils";
import VuejsDialog from "vuejs-dialog";
// include the default style
import "vuejs-dialog/dist/vuejs-dialog.min.css";
Vue.use(VuejsDialog, {
  html: true,
  okText: "Proceed",
  cancelText: "No I don't have coupon",
  animation: "bounce"
});

const currencyFormatter = new Intl.NumberFormat("en-US", {
  style: "currency",
  currency: "USD"
});

const formatCurrency = amount =>
  currencyFormatter.format(amount / 100).replace(/\D00$/, "");

export default {
  props: ["plan_slug"],
  computed: {
    ...mapState(["me", "stripe_pk", "token", "app_icon"]),
    selectedPlan() {
      return find(this.plans, { slug: this.plan_slug });
    }
  },
  data() {
    return {
      loading: false,
      ccExpDate: "",
      step: 1,
      steps: [
        {
          title: "Choose Your Plan"
        },
        {
          title: "Payment Method"
        }
      ],

      selected_plan: null,

      plans: [
        {
          id: 1,
          slug: "elite",
          color: "#34bc6d",
          name: "Elite Trader",
          price_formatted: formatCurrency(3800),
          period: "month",
          period_phrase: "Monthly",
          features: [
            "Chatroom Access",
            "Username Color",
            "Entry & Exit Alerts",
            "Daily Watchlist"
          ]
        },
        {
          id: 2,
          slug: "gold",
          color: "#FFC107",
          name: "Gold Trader",
          price_formatted: formatCurrency(38800),
          period: "year",
          period_phrase: "Yearly",
          features: [
            "Chatroom Access",
            "Username Color",
            "Entry & Exit Alerts",
            "Daily Watchlist",
            "Video Lesson Library",
            "Digital Trading Courses",
            "Lifetime Webinar Pass",
            "Premium Scanners & Indicators",
            "Premium Channel Access"
          ]
        },
        {
          id: 3,
          slug: "platinum",
          color: "hsl(187, 100%, 50%)",
          name: "Platinum Trader",
          period: "lifetime",
          price_formatted: formatCurrency(98800),
          period: "lifetime",
          period_phrase: "Once",
          features: [
            "Chatroom Access",
            "Exclusive Username Color",
            "Entry & Exit Alerts",
            "Daily Watchlist",
            "Video Lesson Library",
            "Digital Trading Courses",
            "Lifetime Webinar Pass",
            "Premium Scanners & Indicators",
            "Full Channel Access",
            "1-on-1 Mentoring"
          ]
        }
      ]
    };
  },
  methods: {
    openConfirmPaypal(planId) {
      // Trigger a confirmation dialog
      this.$dialog
        .prompt({
          title: "Let us know if you have discount coupon!",
          promptHelp: 'Plese enter coupon code here and click "[+:okText]"'
        })
        .then(dialog => {
          // this.$dialog.alert(dialog.data || "[empty]");
          this.doPayPal(planId, dialog.data);
        })
        .catch(() => {
          this.doPayPal(planId, null);
        });
    },
    async doPayPal(plan, coupon) {
      if (coupon != null) {
        const { data } = await api.post("/check-coupon-paypal", {
          coupon
        });

        if (data.success == false) {
          this.$toasted.show(data.message, {
            iconPack: "fontawesome",
            icon: "exclamation",
            type: "error",
            duration: 2000
          });

          return false;
        }
      }

      if (localStorage.getItem("_rid")) {
        var refId = localStorage.getItem("_rid");
      } else {
        var refId = null;
      }

      this.loading = true;
      const { data } = await axios.post(`/api/plans/${plan.id}/paypal`, {
        coupon,
        refId
      });

      const url = get(data, "url");

      //set payment done true for discord login
      if (!this.me) {
        localStorage.setItem("payment_done", true);
      }

      tryExpressCheckout(url);
      // window.location = "/";
    },
    openConfirm(planId) {
      // Trigger a confirmation dialog
      this.$dialog
        .prompt({
          title: "Let us know if you have discount coupon!",
          promptHelp: 'Plese enter coupon code here and click "[+:okText]"'
        })
        .then(dialog => {
          // this.$dialog.alert(dialog.data || "[empty]");
          this.doStripe(planId, dialog.data);
        })
        .catch(() => {
          this.doStripe(planId, null);
        });
    },
    async doStripe(plan, coupon) {
      if (coupon != null) {
        const { data } = await api.post("/check-coupon", {
          coupon
        });

        if (data.success == false) {
          this.$toasted.show(data.message, {
            iconPack: "fontawesome",
            icon: "exclamation",
            type: "error",
            duration: 2000
          });

          return false;
        }
      }

      if (localStorage.getItem("_rid")) {
        var refId = localStorage.getItem("_rid");
      } else {
        var refId = null;
      }

      this.loading = true;
      StripeCheckout.configure({
        key: this.stripe_pk,
        image: this.app_icon,
        // email: '',
        locale: "auto",
        // billingAddress: true,
        closed: () => {
          this.loading = false;
        },
        token: async token => {
          const { data } = await axios.post(
            `/api/plans/${plan.id}/stripe`,
            {
              token: token.id,
              email: token.email,
              coupon: coupon,
              refId: refId
            },
            {
              headers: {
                Authorization: `Bearer ${this.token}`
              }
            }
          );

          // const jwt = get(data, "token");
          // localStorage.setItem("token", jwt);

          //set user email
          // localStorage.setItem("email", get(data, "userEmail"));

          //set payment done true for discord login
          if (!this.me) {
            localStorage.setItem("payment_done", true);
          }

          if (data.success == false) {
            var message = "Your last payment was failed";
            var type = "error";
            var sign = "exclamation";
          } else {
            var message = "Success! Your payment was successful.";
            var type = "success";
            var sign = "check";
          }

          this.$toasted.show(message, {
            iconPack: "fontawesome",
            icon: sign,
            type: type,
            duration: 2000
          });

          // await sleep(2000);
          setTimeout(function() {
            if (type == "success") {
              window.location = "/";
            }
          }, 2000);
        }
      }).open({
        name: plan.name,
        // description: "description here",
        amount: plan.amount
      });
    }
  },
  async mounted() {
    $(".heading").text("Plans");
  },
  watch: {}
  // components: {
  //   HelloWorld
  // }
};
</script>
