<template>
	<!-- page-contents -->
	<div class="product-page">
		<div class="page-contents">
						<!-- New-section-tabs -->
			<div v-show='!toggle' class="container">
				<div class=""> 
					<div class="listtabs first-tab">
						<tabs>
							<tab class="elite" name="ELITE" selected="true">

								<div class="width-100">
									<div class="row">
									<div class="col-lg-4 col-md-4 custom-width"> 
									<div class="container-header text-center product-div">
										<div class="logo-product text-centre"><div class="logo-product-1"></div></div> 
										<h3>Day trading Collection</h3>
										<h5>34 files - 250.4 MB</h5>
                                        <div class="">
										<button class="badge leaderboard button-product">Download collection</button>
								        </div>		 
										 <router-link to="/product">
										  <span v-on:click="toggle = !toggle"  class="product-link"> 
											  View list of files 
										  </span>
										 </router-link>
									</div><!-- End-of-container-header-->
								</div><!-- End-of-col-4-->


								</div><!-- End-of-row-->
								</div><!-- End-of-width-100 -->

								



							</tab>
							<tab class="gold" name="GOLD">
								<div class="width-100">
									<div class="width-100">
									<div class="row">
										<div class="col-lg-4 col-md-4 custom-width">  
									<div class="container-header text-center product-div">
										<div class="logo-product text-centre"><div class="logo-product-1"></div></div> 
										<h3>Day trading Collection</h3>
										<h5>34 files - 250.4 MB</h5>
                                        <div class="">
										<button class="badge leaderboard button-product">Download collection</button>
								        </div>		 
										<router-link to="/product">
										  <span v-on:click="toggle = !toggle"  class="product-link"> 
											  View list of files 
										  </span>
										 </router-link>
									</div><!-- End-of-container-header-->
								</div><!-- End-of-col-4-->
									<div class="col-lg-4 col-md-6 custom-width"> 
									<div class="container-header text-center product-div">
										<div class="logo-product text-centre"><div class="logo-product-2"></div></div> 
										<h3>Day trading Collection</h3>
										<h5>34 files - 250.4 MB</h5>
                                        <div class="">
										<button class="badge leaderboard button-product">Download collection</button>
								        </div>		 
										 <router-link to="/product">
										  <span v-on:click="toggle = !toggle"  class="product-link"> 
											  View list of files 
										  </span>
										 </router-link>
									</div><!-- End-of-container-header-->
								</div><!-- End-of-col-4-->
														
								</div><!-- End-of-row-->
								</div><!-- End-of-width-100 -->
								</div>
							</tab>
							<tab class="platinum" name="PLATINUM">

								<div class="width-100">
									<div class="row">
									<div class="col-lg-4 col-md-4 custom-width"> 
									<div class="container-header text-center product-div">
										<div class="logo-product text-centre"><div class="logo-product-1"></div></div> 
										<h3>Day trading Collection</h3>
										<h5>34 files - 250.4 MB</h5>
                                        <div class="">
										<button class="badge leaderboard button-product">Download collection</button>
								        </div>		 
										 <router-link to="/product">
										  <span v-on:click="toggle = !toggle"  class="product-link"> 
											  View list of files 
										  </span>
										 </router-link>
									</div><!-- End-of-container-header-->
								</div><!-- End-of-col-4-->

								<div class="col-lg-4 col-md-6 custom-width"> 
									<div class="container-header text-center product-div">
										<div class="logo-product text-centre"><div class="logo-product-2"></div></div> 
										<h3>Trade ideas Collection</h3>
										<h5>123 files - 250.4 MB</h5>
                                        <div class="">
										<button class="badge leaderboard button-product">Download collection</button>
								        </div>		 
										 <router-link to="/product">
										  <span v-on:click="toggle = !toggle"  class="product-link"> 
											  View list of files 
										  </span>
										 </router-link>
									</div><!-- End-of-container-header-->
								</div><!-- End-of-col-4-->


									<div class="col-lg-4 col-md-6 custom-width"> 
									<div class="container-header text-center product-div">
										<div class="logo-product text-centre"><div class="logo-product-5"></div></div> 
										<h3>Day trading Collection</h3>
										<h5>34 files - 250.4 MB</h5>
                                        <div class="">
										<button class="badge leaderboard button-product">Download collection</button>
								        </div>		 
										<router-link to="/product">
										  <span v-on:click="toggle = !toggle"  class="product-link"> 
											  View list of files 
										  </span>
										 </router-link>
									</div><!-- End-of-container-header-->
								</div><!-- End-of-col-4-->



								</div><!-- End-of-row-->
								</div><!-- End-of-width-100 -->

								



							</tab>
							
						</tabs>
					</div>
				</div>
			</div>
		
			<!-- Elite-section-tabs -->
			<div v-show='toggle' class="container list-section">
		
		<i v-on:click="toggle = !toggle" style="float:right; cursor: pointer;" class=" button fas fa-chevron-left mr-2"> Back to Products</i>
				<div class=""> 
					<div class="listtabs">
						<tabs>
							<tab name="ELITE" selected="true">
								<div class="width-100">
									<div class="container-header elite-bg">
										<div class="header-div">
											<h2>Elite Page </h2>
										</div>
										<div class="">
											<ul class="navbar-nav ml-auto dropit">
												<li class="nav-item dropdown">
													<button  @click="dropItElite ()">
														<span class="cusom-dropdown dropdown-icon"></span>
													</button>
													<transition class="fade">
														<ul class="list dropped" v-if="isDroppedElite">
															<li>
																<router-link to="/">Action</router-link>
															</li>
															<li>
																<router-link to="/">Another</router-link>
															</li>
															<li>
																<router-link to="/">Something Else</router-link>
															</li>
														</ul>
													</transition>
												</li>
											</ul>
										</div>
									</div>
									<ul class="tabs elite-bg-border container-content">
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
									</ul>
								</div>
							</tab>
							<tab name="ELITE GOLD">
								<div class="width-100">
									<div class="container-header gold-bg">
										<div class="header-div">
											<h2>Elite Gold Page </h2>
										</div>
											<ul class="navbar-nav ml-auto dropit">
												<li class="nav-item dropdown">
													<button @click="dropItgold ()">
														<span class="cusom-dropdown dropdown-icon"></span>
													</button>
													<transition class="fade">
														<ul class="list dropped" v-if="isDroppedgold">
															<li>
																<router-link to="/">Gold</router-link>
															</li>
															<li>
																<router-link to="/">Another</router-link>
															</li>
															<li>
																<router-link to="/">Something Else</router-link>
															</li>
														</ul>
													</transition>
												</li>
											</ul> 									
									</div>
									<ul class="tabs elite-bg-border width-100 container-content">
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
									</ul>
								</div>
							</tab>
							<tab name="Platinum">
								<div class="width-100">
									<div class="container-header platinum-bg">
										<div class="header-div">
											<h2>Platinum Page</h2> 
										</div>
										<div class="">
											<ul class="navbar-nav ml-auto dropit">
												<li class="nav-item dropdown">
													<button @click="dropItplatinum()">
														<span class="cusom-dropdown dropdown-icon"></span>
													</button>
													<transition class="fade">
														<ul class="list dropped" v-if="isDroppedplatinum">
															<li>
																<router-link to="/">platinum</router-link>
															</li>
															<li>
																<router-link to="/">Another</router-link>
															</li>
															<li>
																<router-link to="/">Something Else</router-link>
															</li>
														</ul>
													</transition>
												</li>
											</ul>
										</div>
									</div>
									<ul class="tabs elite-bg-border width-100 container-content">
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
									</ul>
								</div>
							</tab>
						</tabs>
					</div>
				</div>
			</div>
			<!-- Videos-section-tabs -->
			<div v-show='toggle' class="container video-section">
				<div class="container-header">
					<div class="header-div">
						<h2>Videos </h2>
					</div>
					<div class="">
						<ul class="navbar-nav ml-auto dropit">
							<li class="nav-item dropdown">
								<button @click="dropItVideos">
									<span class="cusom-dropdown dropdown-icon"></span>
								</button>
								<transition class="fade">
									<ul class="list dropped" v-if="isDroppedVideos">
										<li>
											<router-link to="/">Action</router-link>
										</li>
										<li>
											<router-link to="/">Another</router-link>
										</li>
										<li>
											<router-link to="/">Something Else</router-link>
										</li>
									</ul>
								</transition>
							</li>
						</ul>
					</div>
				</div>
				<div class="container-content">
					<div class="tabs ppppp">
						<tabs>
							<tab name="COURSES" selected="true">
								<div class="width-100">
									<ul class="tabs elite-bg-border width-100">
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
									</ul>
								</div>
							</tab>
							<tab name="VIDEO LESSONS">
								<div class="width-100">
									<ul class="tabs elite-bg-border width-100">
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
									</ul>
								</div>
							</tab>
							<tab name="EDUCATIONAL FILES">
								<div class="width-100">
									<ul class="tabs elite-bg-border width-100">
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
									</ul>
								</div>
							</tab>
						</tabs>
					</div>
				</div>
			</div>
			<!-- Scripts-section-tabs -->
			<div v-show='toggle' class="container script-setion">
				<div class="container-header">
					<div class="header-div">
						<h2>Custom Scripts </h2>
					</div>
					<div class="">
						<ul class="navbar-nav ml-auto dropit">
							<li class="nav-item dropdown">
								<button @click="dropItScripts">
									<span class="cusom-dropdown dropdown-icon"></span>
								</button>
								<transition class="fade">
									<ul class="list dropped" v-if="isDroppedScripts">
										<li>
											<router-link to="/">Action</router-link>
										</li>
										<li>
											<router-link to="/">Another</router-link>
										</li>
										<li>
											<router-link to="/">Something Else</router-link>
										</li>
									</ul>
								</transition>
							</li>
						</ul>
					</div>
				</div>
				<div class="container-content swim-tab">
					<div class="listtabs swim-tab"> 
						<tabs>
							<tab name="THINK OR SWIM" class="w-100" selected="true">
								<div class="width-100">
									<ul class="tabs elite-bg-border width-100">
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
									</ul>
								</div>
							</tab>
							<tab name="ETRADE SCANNERS">
								<div class="width-100">
									<ul class="tabs elite-bg-border width-100">
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
									</ul>
								</div>
							</tab>
							<tab name="TRADING VIEW">
								<div class="width-100">
									<ul class="tabs elite-bg-border width-100">
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
									</ul>
								</div>
							</tab>
							<tab name="FINVIZ">
								<div class="width-100">
									<ul class="tabs elite-bg-border width-100">
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
									</ul>
								</div>
							</tab>
							<tab name="TRADE IDEAS SCANNERS">
								<div class="width-100">
									<ul class="tabs elite-bg-border width-100">
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
										<li>
											<p class="pull-left left-div">New Leads Lorem ipsum dolor sit amet, consectetur adipiscing Referrals.pdf</p>
											<div class="right-div">
												<span class="size">35.18 KB</span>
												<span>
													<button type="button" class="badge badge-secondary badge-button  mt-1">Click to See</button>
												</span>
											</div>
										</li>
									</ul>
								</div>
							</tab>
						</tabs>
					</div>
				</div>
			</div>
		
		</div>
	</div>
</template>
<style scoped>
</style>
<script>
import Tabs from "js/components/Tabs";
import Tab from "js/components/Tab"; 
 export default {
	        async mounted() {
	$(".heading").text("Members Product Page");
  },
     data() {
       return {
		   	toggle: false,
         	test: null, 
			isDroppedElite: false,
			isDroppedgold: false,
			isDroppedplatinum: false,
            isDroppedVideos: false,  
            isDroppedScripts: false
       };
     },
     components: {
       Tabs,
       Tab 
     },
          methods: {    
           dropItElite() {
            this.isDroppedElite = !this.isDroppedElite
		  },   
		   dropItgold() {
            this.isDroppedgold = !this.isDroppedgold
		  },       
           dropItplatinum() {
            this.isDroppedplatinum = !this.isDroppedplatinum
          },   
           dropItVideos() {
            this.isDroppedVideos= !this.isDroppedVideos
          },
          dropItScripts() {
            this.isDroppedScripts = !this.isDroppedScripts
          }
        }
};
</script>
