<template>
  <div class="loading-shim">
    <loading-indicator></loading-indicator>
      <!-- <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div> -->
  </div>
</template>

<script>
import LoadingIndicator from './LoadingIndicator';
export default {
    components: {
        LoadingIndicator
    }
};
</script>