<template>
  <component :is="`div`" @click="open = !open">
      <slot></slot>
      <slot v-if="open" name="popout" />
  </component>
</template>
<script>
export default {
  data() {
    return {
      show: false
    };
  }
};
</script>
