<template>
  <table>
    <thead>
      <tr>
        <th class="auto">{{ headings[0] }}</th>
        <th class="auto">{{ headings[1] }}</th>
        <th>{{ headings[2] }}</th>
        <th>{{ headings[3] }}</th>
        <th>{{ headings[4] }}</th>
        <!-- <th>Billing</th>
        <th class="auto">Product</th> -->
        <!-- <th>Created</th> -->
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr>
        <td class="auto" style="font-weight: 500;"> dgonza1234@gmail.com</td>
        <td><span class="chip">Active</span></td>
        <td><span class="chip grey">Auto</span></td>
        <td class="auto">Elite</td>
        <td>Jul 2, 2:42 AM</td>
        <td><i class="fas fa-ellipsis-h"></i></td>
      </tr> -->
      <slot v-for="row in rows" name="row" :row="row"></slot>
    </tbody>
  </table>
</template>

<script>
export default {
    props: ['headings', 'rows']
};
</script>

<style lang="scss" scoped>
.fa-ellipsis-h {
  margin-top: 2px;
  font-size: 12px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chip {
  background-color: #d6ecff;
  display: inline-flex;
  border-radius: 20px;
  height: 20px;
  padding: 2px 8px;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #3d4eac;

  &.grey {
    color: #4f566b;
    background-color: #e3e8ee;
  }
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  color: var(--text-color-default);
}

td,
th {
  text-align: left;
  padding: 8px;
  font-size: 15px;
  line-height: 20px;
  white-space: nowrap;
  width: 1px;

  box-shadow: inset 0 1px #e3e8ee;

  &.auto {
    width: auto;
    white-space: normal;
  }

  &:first-child {
    padding-left: 20px;
  }

  &:last-child {
    padding-right: 20px;
  }
}

thead tr {
  background-color: #f7fafc;
  height: 100%;

  th {
    // box-shadow: inset 0 -1px #e3e8ee;
    line-height: 20px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--text-color-dark);
  }
}
</style>
