<template>
    <div class="page-contents">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4 admin-heading-box">
                <span class="bar-number">
                    <div class="bar-text"></div>
                </span>
                <h1 class="admin-heading"> Admininstrator Panel </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="container">
                    <!-- container-header -->
                    <div class="container-header">
                        <div class="header-div">
                            <h2>Servers</h2>
                        </div>
                        <div class="collapse navbar-collapse pull-right" id="">
                            <ul class="navbar-nav ml-auto dropit">
                                <li class="nav-item dropdown">
                                    <button @click="dropItServerChart()">
                                        <span class="dropdown-icon"></span>
                                    </button>
                                <transition class="fade">
                                </transition>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end-of-container-header -->
                    <!-- bar-chart -->
                    <transition name="fade" >
                        <div class="container-content" v-if="isServerChart">
                            <div class="col-md-12" style="margin: 0px 24px;">

                                <div class="barcontainer-ranking container-content barcontainer-servers col-md-8 col-sm-5 col-lg-6 col-xs-5">
                                    <div class>
                                        <span class="ct"></span>CT
                                    </div>
                                    <div class>
                                        <span class="xtrades"></span>Xtrades
                                    </div>
                                </div> 
                            </div>
                            <div id="doublebarcontainer">
                                <vue-highcharts :options="doublebardata" ref="barChart"></vue-highcharts>
                            </div>
                        </div>
                    </transition>
                    <!-- end-of-bar-chart -->
                </div>
                <div class="container">
                    <!-- container-header -->
                    <div class="container-header">
                        <div class="header-div">
                            <h2>Earnings Estimates</h2>
                        </div>
                        <div class="collapse navbar-collapse pull-right" id="">

                            <ul class="navbar-nav ml-auto dropit">
                                <li class="nav-item dropdown">
                                    <button @click="dropItEarnings()">
                                        <span class="dropdown-icon"></span>
                                    </button>
                                <transition class="fade">
                                </transition>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end-of-container-header -->
                    <!-- bar-chart -->
                    <transition name="fade" >
                        <div class="container-content" v-if="isEarnings">
                            <div id="barcontainer">
                                <vue-highcharts :options="bardata" ref="barChart"></vue-highcharts>
                            </div>
                        </div>
                    </transition>
                    <!-- end-of-bar-chart -->
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="container outer-div members-box">
                    <div class="container-header">
                        <div class="header-div" style="width:80%;">
                            <h2>
                                <span class>Membership Sign Ups and Cancellations</span>
                            </h2>
                        </div>
                        <div class="collapse navbar-collapse pull-right" id="">
                            <ul class="navbar-nav ml-auto dropit">
                                <li class="nav-item dropdown">
                                    <button @click="dropItSignUpChart()">
                                        <span class="dropdown-icon"></span>
                                    </button>
                                <transition class="fade">
                                </transition>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <transition name="fade">
                        <div class="tabs container-content membership-div-tabs" v-show="isSignUpChart">
                            <div class="gold">
                                <ul class="content member-signup">
                                    <li>Elite Sign Up<span class="text-li yellowish">{{ chartData.elite_sign_up }}</span></li>
                                    <li>Elite Gold Sign Up<span class="text-li green-font">{{ chartData.elite_gold_sign_up }}</span></li> 
                                    <li>Platinum Sign Up<span class="text-li" >{{ chartData.platinum_sign_up }}</span></li> 
                                </ul>
                                <div class="row member-progressbar">
                                    <div class="col-md-6 col-sm-6 col-xs-6  col-lg-6 sign_up_ratio" >
                                        <h3 class="w-100 clearfix">
                                            <span class="heading-text pull-left">
                                                Sign Up Ratio
                                            </span>
                                        </h3>
                                        <div class="progress">
                                            <div
                                                class="progress-bar1 bg-green" style="float:right"
                                                role="progressbar"
                                                aria-valuenow="25"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                ></div>
                                        </div>
                                        <h3 class="w-100 clearfix">
                                            <span class="text pull-left bg-green">{{chartData.sign_percent }}</span>
                                        </h3>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 cancellation_ratio" >
                                        <h3 class="w-100 clearfix">
                                            <span class="heading-text pull-right">
                                                Cancellation Ratio
                                            </span>
                                        </h3>
                                        <div class="progress">
                                            <div
                                                class="progress-bar2 bg-red"
                                                role="progressbar"
                                                aria-valuenow="25"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                ></div>
                                        </div>
                                        <h3 class="w-100 clearfix">
                                            <span class="text pull-right bg-red">{{ chartData.cancel_percent }}</span>
                                        </h3>
                                    </div>
                                </div>
                                <ul class="content member-cancel"> 
                                    <li>Cancellation Amount<span class="text-li" v-if="chartData"> {{ chartData.cancel_amount }} </span></li>
                                    <li>Chur Amount (Sign up Cancellation)<span class="text-li" v-if="chartData">{{ chartData.chur_amount }}</span></li>
                                </ul>
                            </div>
                        </div>
                    </transition>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">

    .barcontainer-servers{
        .ct{
            background: var(--green-color);
        }
        .xtrades{
            background : var(--high-bg-color);
        }
    }

    .sign_up_ratio{
        padding-right: 0px! important;
    }
    .cancellation_ratio{
        padding-left: 0px! important;
    }


</style>
<script>
    import Vue from "vue";
    import { mapState, mapActions, mapGetters } from "vuex";
    import { copyToClipboard } from "js/utils";
    import VueHighcharts from "../../components/VueHighcharts";
    import More from "highcharts/highcharts-more";
    import Highcharts from "highcharts";
    import Exporting from "highcharts/modules/exporting";
    import stock from "highcharts/modules/stock";
    import * as data from "../../highchart/data.js";
    import solidGauge from "highcharts/modules/solid-gauge";
    import { get, find } from "lodash-es";
    import api from "js/api";
    import Tabs from "js/components/Tabs";
    import Tab from "js/components/Tab";

    import HighchartsVue from 'highcharts-vue'
            import stockInit from 'highcharts/modules/stock'
            import mapInit from 'highcharts/modules/map'

            stockInit(Highcharts)
    mapInit(Highcharts)

    Vue.use(HighchartsVue);

    stock(Highcharts);

    var chart,
            merge = Highcharts.merge;
    var perShapeGradient = {
        x1: 0,
        y1: 0,
        x2: 1,
        y2: 0
    };
    var colors = Highcharts.getOptions().colors;
    colors = [
        {
            linearGradient: merge(perShapeGradient),
            stops: [[0, "rgb(119, 190, 255)"], [1, "rgb(119, 180, 245)"]]
        },
        {
            linearGradient: merge(perShapeGradient),
            stops: [[0, "rgb(160, 150, 255)"], [1, "rgb(165, 150, 255)"]]
        },
        {
            linearGradient: merge(perShapeGradient),
            stops: [[0, "rgb(254, 229, 125)"], [1, "rgb(264, 249, 145)"]]
        },
        {
            linearGradient: merge(perShapeGradient),
            stops: [[1, "rgb(240, 97, 112)"], [1, "rgb((240, 97, 112)"]]
        },
        {
            linearGradient: merge(perShapeGradient),
            stops: [[1, "rgb(34, 195, 170)"], [1, "rgb(119, 180, 245)"]]
        },
    ];

    export default {

        data() {
            return {

                isServerChart: true,
                isSignUpChart: true,
                isEarnings: true,
                isDroppedMember: false,
                isDroppedcancel: false,
                chartData: null,
                bardata: null,
                doublebardata: null,
                elite_sign_up: "2.3k",
                elite_gold_sign_up: "1.8k",
                platinum_sign_up: "1.9k",
                cancel_amount: "0.7k",
                chur_amount: "0.2k",
                sign_percent: "43%",
                cancel_percent: "18%",
                chartData: {
                    commision_percent: "15%",
                    next_percent_achieve: "0%",
                    current_referrals: 0,
                    current_month: 0,
                    total_active: 0,
                    current_level: 0,
                    chart_value: 440,
                    total_level: 7,
                    recurring_amount: 0,
                    total_amount_avg: 0,
                    bouns_amount: 0,
                    elite_sign_up: "2.3k",
                    elite_gold_sign_up: "1.8k",
                    platinum_sign_up: "1.9k",
                    cancel_amount: "0.7k",
                    chur_amount: "0.2k",
                    sign_percent: "43%",
                    cancel_percent: "18%"
                },
            }
        },
        computed: {
            ...mapState(["me", "app_name"]),
            ...mapGetters(["referralUrl"]),
        },
        created: function () {

        },
        components: {
            VueHighcharts
        },
        methods: {
            dropItMember() {
                this.isDroppedMember = !this.isDroppedMember;
            },
            dropItcancel() {
                this.isDroppedcancel = !this.isDroppedcancel;
            },
            dropItcancelStatus() {
                this.isDroppedcancel = false;
            },
            dropItcancellevel() {
                this.isDroppedcancel = true;
            },
            dropItServerChart() {
                this.isServerChart = !this.isServerChart;
            },
            dropItEarnings() {
                this.isEarnings = !this.isEarnings;
            },
            dropItSignUpChart() {
                this.isSignUpChart = !this.isSignUpChart;
            }

        },

        mounted() {
            $(".progress-bar1").animate({
                width: '43%',
            }, 500);
            $(".progress-bar2").animate({
                width: '18%'
            }, 500);


            this.bardata = {
                chart: {
                    renderTo: "barcontainer",
                    type: "bar",
                    backgroundColor: "var(--chart-bg-color)",
                    marginRight: 50,
                    height: 350


                },
                xAxis: {
                    tickmarkPlacement: 0,
                    minPadding: 0,
                    maxPadding: 0,
                    categories: ["Posts", "Alerts", "Admin grade", "Revenue"],
                    lineColor: "var(--bar-chartgridLineColor)",
                    labels: {
                        style: {
                            fontSize: "13px",
                            color: "var(--bar-label-Color)"
                        }
                    }
                },
                title: {
                    text: "",
                    style: {}
                },
                yAxis: {
                    min: 0,
                    max: 40,
                    gridLineColor: "var(--bar-chartgridLineColor) ",
                    title: {
                        text: ""
                    },
                    labels: {
                        style: {
                            color: "var(--bar-label-Color-y-axis)"
                        }
                    }
                },
                plotOptions: {
                    series: {
                        pointPlacement: 0,
                        pointWidth: 18,
                        borderWidth: 0,
                        borderRadius: 7,
                        shadow: true,
                        dataLabels: {
                            enabled: true,
                            verticalAlign: 'bottom',
                            style: {
                                fontSize: "12px",
                                color: "var(--bar-label-Color)",
                                fontWeight: "bold",
                                textOutline: "none"
                            }


                        }
                    }
                },
                series: [
                    {
                        name: name,
                        data: [{
                                y: 28,
                                color: colors[0]
                            }, {
                                y: 32,
                                color: colors[1]
                            }, {
                                y: 26,
                                color: colors[2]
                            }, {
                                y: 34,
                                color: colors[3]
                            }
                        ],
                        shadow: {
                            color: new Highcharts.Color("#898989").setOpacity("0.7").get(),
                            width: 10,
                            offsetX: 0,
                            offsetY: 0
                        }
                    }
                ],
                legend: {
                    backgroundColor:
                            Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
                    shadow: true,
                    enabled: false,
                    squareSymbol: true,
                    symbolWidth: 10,
                    symbolHeight: 10,
                    layout: 'horizontal',
                    floating: true,
                    align: 'left',
                    verticalAlign: 'top',
                    x: 20,
                    y: 0,
                    border: 1,
                    borderRadius: 7,
                    borderWidth: 1
                },
            };


            var chart;
            this.doublebardata = {
                chart: {
                    renderTo: "doublebarcontainer",
                    type: "column",
                    backgroundColor: "var(--chart-bg-color)",
                    marginTop: 100
                },
                xAxis: {
                    opposite: true,
                    categories: ["Posts", "Alerts", "Winning Trades", "Videos", "Images"],
                    lineColor: "var(--bar-chartgridLineColor)",
                    labels: {
                        style: {
                            fontSize: "13px",
                            color: "var(--bar-label-Color)"
                        }
                    }
                },
                title: {
                    text: ""
                },
                yAxis: {
                    min: 0,
                    max: 30,
                    gridLineColor: "var(--bar-chartgridLineColor) ",
                    title: {
                        text: ""
                    },
                    labels: {
                        style: {
                            color: "var(--bar-label-Color-y-axis)"
                        }
                    }
                },

                plotOptions: {
                    series: {
                        pointWidth: 18,
                        borderWidth: 0,
                        borderRadius: 7,
                        shadow: true,
                        dataLabels: {
                            enabled: true,
                            verticalAlign: 'bottom',
                            style: {
                                fontSize: "12px",
                                color: "var(--bar-label-Color)",
                                fontWeight: "bold",
                                textOutline: "none"
                            }


                        }
                    }
                },

                series: [{
                        name: 'CT',
                        color: colors[4],
                        data: [13.3, 16.8, 25.5, 2.4, 15.7],
                        shadow: {
                            color: new Highcharts.Color("#898989").setOpacity("0.7").get(),
                            width: 10


                        },
                        maxPointWidth: 22

                    }, {
                        name: 'Xtrades',
                        color: colors[2],
                        data: [16.6, 15.9, 22.7, 2.6, 16.3],
                        shadow: {
                            color: new Highcharts.Color("#898989").setOpacity("0.7").get(),
                            width: 10
                        },
                        maxPointWidth: 22

                    }],
                legend: {
                    enabled: false,
                    backgroundColor: '#000000',
                    squareSymbol: true,
                    symbolWidth: 10,
                    symbolHeight: 10,
                    layout: 'horizontal',
                    floating: true,
                    align: 'left',
                    verticalAlign: 'top',
                    x: 20,
                    y: 0,
                    border: 1,
                    borderRadius: 7,
                    borderWidth: 1
                },
                tooltip: {
                    enabled: false
                },
                responsive: {
                    rules: [{
                    condition: {
                        maxWidth: 261
                    },
                    chartOptions: {
                    xAxis: {
                    labels: {
                        style: {
                            fontSize: "11px",
                        }
                    }
                },
                     }
        }]
    },

            }
        }
    };
</script>