<template>
  <div class="page-contents">
    <div class="row">
      <div class="col-md-12">
        <div class="container">
          <section>
            <div class="setPadd">
              <div class="container-header">
                <div class="header-div w-100">
                  <h2>Discount Coupons</h2>

                  <div class="pull-right">
                    <a
                      href="#addCoupon"
                      rel="modal:open"
                      id="openPaymentPage"
                      class="badge leaderboard"
                    >Add Coupon</a>
                  </div>
                </div>
              </div>
              <div class="container-content">
                <table
                  id="viewCoupon"
                  class="table table-striped table-bordered table-box"
                  style="width:100%"
                >
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Code</th>
                      <th>Max Redemption</th>
                      <th>Discount</th>
                      <th>Redeem By</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </section>

          <!-- Modal for profile change -->
          <div id="addCoupon" class="modal view-plan-popup">
            <h2>Add Coupon</h2>
            <form @submit.prevent="doSaveCoupon" class="addpayment-input">
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control-plaintext"
                    id="setAmount"
                    value
                    v-model="forms.coupon.name"
                    autofocus
                    required
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Redeem By</label>
                <div class="col-sm-9 setIcon">
                  <Datepicker
                    :calendar-button="true"
                    :calendar-button-icon="icon"
                    v-model="forms.coupon.redeem_by"
                    autofocus
                    required
                  ></Datepicker>
                </div>
              </div>

              <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Discount</label>
                <div class="col-sm-9">
                  <input
                    type="number"
                    class="form-control-plaintext"
                    id="setPlan"
                    value
                    v-model="forms.coupon.discount"
                    autofocus
                    required
                  />
                </div>
              </div>

              <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Max Redeemption</label>
                <div class="col-sm-9">
                  <input
                    type="number"
                    class="form-control-plaintext"
                    id="setPlan"
                    value
                    v-model="forms.coupon.max_redeemption"
                    autofocus
                    required
                  />
                </div>
              </div>

              <div class="form-group row">
                <!-- <label for="staticEmail" class="col-sm-2 col-form-label">Email</label> -->
                <div class="col-sm-12 text-centre">
                  <button class="button leaderboard" id="planButton" updatePlanId>Save</button>
                </div>
              </div>
            </form>
          </div>
          <!-- Link to open the modal -->
          <!--end of modal popup-->
        </div>
        <!-- End-of-container-div -->
      </div>
      <!-- End-of-col-div -->
    </div>
    <!-- End-of-row-div -->
  </div>
  <!-- End-of-page-contents-div -->
</template>

<script>
var couponsDatatable;
import { mdbDatatable, mdbContainer } from "mdbvue";
import { get, find } from "lodash-es";
import Datepicker from "vuejs-datepicker";
import { mapState, mapGetters } from "vuex";
import api from "js/api";
import axios from "axios";

export default {
  name: "DatatablePage",
  components: {
    Datepicker
  },
  data() {
    return {
      waiting: false,
      icon: "fa fa-calendar",
      forms: {
        coupon: {
          name: "",
          discount: "",
          max_redeemption: "",
          redeem_by: ""
        }
      },
      Nitems: null,
      columns: [],
      rows: []
    };
  },
  computed: {
    ...mapState(["me", "app_name"]),
    ...mapGetters(["referralUrl"])
  },
  created: function() {
    this.fetchCoupons();
  },
  methods: {
    //save profile
    async doSaveCoupon(event) {
      if (this.waiting) {
        return;
      }

      this.waiting = true;

      const { name, discount, max_redeemption, redeem_by } = this.forms.coupon;

      const { data } = await api.post("/admin/add-coupon", {
        name,
        discount,
        max_redeemption,
        redeem_by
      });

      if (data.success) {
        $(".close-modal").click();
        var messageType = "success";
        var faIcon = "check-double";

        //reload table
        couponsDatatable.destroy();
        this.fetchCoupons();
      } else {
        var messageType = "error";
        var faIcon = "exclamation-triangle";
      }

      event.target.reset();

      this.$toasted.show(data.message, {
        iconPack: "fontawesome",
        icon: faIcon,
        type: messageType,
        duration: 2500
      });

      this.waiting = false;
    },

    async fetchCoupons() {
      $(document).ready(function() {
        couponsDatatable = $("#viewCoupon").DataTable({
          ajax: {
            url: "/api/admin/fetch-coupons",
            type: "GET",
            beforeSend: function(request) {
              request.setRequestHeader(
                "Authorization",
                "Bearer " + localStorage.getItem("token")
              );
            },
            error: function(error) {
              // $this.showErrorMessage(error.responseText);
            }
          },
          columns: [
            { data: "coupon_name" },
            { data: "coupon_code" },
            { data: "max_redemptions" },
            { data: "discount_percent" },
            { data: "redeem_by" }
          ]
          // scrollX: true
        });
      });
    }
  },
  async mounted() {}
};
</script>
