<template>
  <div class="leaderboard-page user-page">
    <div id="leaderboard-content-wrapper">
      <div class="page-contents">
        <div class="row">
          <div class="col-md-12">
            <div class="container">
              <div class="leaderboard-page">
                <div class="container-header">
                  <div class="header-area">
                    <div class="first-div">
                      <div class="wrap">
                        <div class="search">
                          <input type="text" class="searchTerm" placeholder="Write name of user?" />
                          <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="sec-div">
                      <div class="filter-section">
                        <div class="table-filter pull-left">
                          <div class="form-group">
                            <!-- <p>Role of user</p> -->
                            <label for="id_select">Role of user:</label>
                            <select id="id_select" autofocus="true">
                              <option value="1">ADMIN</option>
                              <option value="2">MENTOR</option>
                              <option value="30">AFFILATE</option>
                              <option value="20">ELITE</option>
                              <option value="10">GOLD</option>
                              <option value="10">PLATINIUM</option>
                            </select>
                          </div>
                        </div>

                        <div class="table-filter pull-right first-select">
                          <div class="form-group">
                            <label for="id_select">User Status:</label>
                            <select id="id_select" autofocus="true">
                              <option value="1">USER STATUS</option>
                              <option value="2">ACTIVE CANCELLED</option>
                              <option value="30">TRIALIST</option>
                              <option value="20">NO MEMBERSHIP</option>
                              <option value="10">AFTER TRIAL</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="third-div">
                      <section id="js-grid-list" class="grid-list" v-cloak>
                        <div class="tool-bar">
                          <a @click="dropItgrid()">
                            <i class="fa fa-th" aria-hidden="true"></i>
                          </a>
                          <a @click="dropItlist()">
                            <i class="fa fa-list"></i>
                          </a>
                        </div>
                      </section>
                    </div>
                  </div>

                  <div class="nav-item dropdown header-right-items">
                    <div class="wrap-right"></div>
                  </div>
                </div>
              </div>
              <!-- End-of-container-header-div -->
              <div class>
                <div class="container">
                  <div class="tabs list-div" v-if="isDroppedgrid">
                    <div class="row">
                      <div class="col-xl-4 col-lg-6 col-md-6 col-xs-12 list-view-div">
                        <div class="tab-content img-list-outer-div">
                          <div class="img-list-div">
                            <div class="img-pic">
                              <div class="img-pic-inner">
                                <img
                                  src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                  alt="user"
                                  class="user-list-pic"
                                />
                                <div class="img-pic-active"></div>
                              </div>
                            </div>
                            <h2 class="heading-text-list">Johat Elliute</h2>
                            <p class="heading-text-mail">johatellite@gmail.com</p>
                            <div class="button-div text-centre">
                              <h4>Mentor</h4>
                              <button type="button" class="button status-button">Change Status</button>
                            </div>
                          </div>
                          <ul class="content">
                            <li class="border-0">
                              Invited by
                              <span class="text-li">Sam smith</span>
                            </li>
                            <li class="border-0">
                              Joined
                              <span class="text-li">15 November, 2019</span>
                            </li>
                            <li class="border-0">
                              Last Active
                              <span class="text-li">40 min ago</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-6 col-md-6 col-xs-12 list-view-div">
                        <div class="tab-content img-list-outer-div">
                          <div class="img-list-div">
                            <div class="img-pic">
                              <div class="img-pic-inner">
                                <img
                                  src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                  alt="user"
                                  class="user-list-pic"
                                />
                                <div class="img-pic-active"></div>
                              </div>
                            </div>
                            <h2 class="heading-text-list">Johat Elliute</h2>
                            <p class="heading-text-mail">johatellite@gmail.com</p>
                            <div class="button-div text-centre">
                              <h4>Mentor</h4>
                              <button type="button" class="button status-button">Change Status</button>
                            </div>
                          </div>
                          <ul class="content">
                            <li class="border-0">
                              Invited by
                              <span class="text-li">Sam smith</span>
                            </li>
                            <li class="border-0">
                              Joined
                              <span class="text-li">15 November, 2019</span>
                            </li>
                            <li class="border-0">
                              Last Active
                              <span class="text-li">40 min ago</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-6 col-md-6 col-xs-12 list-view-div">
                        <div class="tab-content img-list-outer-div">
                          <div class="img-list-div">
                            <div class="img-pic">
                              <div class="img-pic-inner">
                                <img
                                  src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                  alt="user"
                                  class="user-list-pic"
                                />
                                <div class="img-pic-active"></div>
                              </div>
                            </div>
                            <h2 class="heading-text-list">Johat Elliute</h2>
                            <p class="heading-text-mail">johatellite@gmail.com</p>
                            <div class="button-div text-centre">
                              <h4>Mentor</h4>
                              <button type="button" class="button status-button">Change Status</button>
                            </div>
                          </div>
                          <ul class="content">
                            <li class="border-0">
                              Invited by
                              <span class="text-li">Sam smith</span>
                            </li>
                            <li class="border-0">
                              Joined
                              <span class="text-li">15 November, 2019</span>
                            </li>
                            <li class="border-0">
                              Last Active
                              <span class="text-li">40 min ago</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-xl-4 col-lg-6 col-md-6 col-xs-12 list-view-div">
                        <div class="tab-content img-list-outer-div">
                          <div class="img-list-div">
                            <div class="img-pic">
                              <div class="img-pic-inner">
                                <img
                                  src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                  alt="user"
                                  class="user-list-pic"
                                />
                                <div class="img-pic-active"></div>
                              </div>
                            </div>
                            <h2 class="heading-text-list">Johat Elliute</h2>
                            <p class="heading-text-mail">johatellite@gmail.com</p>
                            <div class="button-div text-centre">
                              <h4>Mentor</h4>
                              <button type="button" class="button status-button">Change Status</button>
                            </div>
                          </div>
                          <ul class="content">
                            <li class="border-0">
                              Invited by
                              <span class="text-li">Sam smith</span>
                            </li>
                            <li class="border-0">
                              Joined
                              <span class="text-li">15 November, 2019</span>
                            </li>
                            <li class="border-0">
                              Last Active
                              <span class="text-li">40 min ago</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tabs list-div grid-div" v-if="isDroppedlist">
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 list-view-div">
                        <div class="tab-content img-list-outer-div">
                          <div class="img-list-div first-div">
                            <div class="img-pic">
                              <div class="img-pic-inner">
                                <img
                                  src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                  alt="user"
                                  class="user-list-pic"
                                />
                                <div class="img-pic-active"></div>
                              </div>
                            </div>
                            <h2 class="heading-text-list">Johat Elliute</h2>
                            <p class="heading-text-mail">johatellite@gmail.com</p>
                          </div>

                          <div class="content sec-div">
                            <div class="button-div text-centre border-top-0">
                              <h4>Mentor</h4>
                              <button type="button" class="button status-button">Change Status</button>
                            </div>

                            <ul>
                              <li class="border-0">
                                Invited by
                                <span class="text-li">Sam smith</span>
                              </li>
                              <li class="border-0">
                                Joined
                                <span class="text-li">15 November, 2019</span>
                              </li>
                              <li class="border-0">
                                Last Active
                                <span class="text-li">40 min ago</span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 list-view-div">
                        <div class="tab-content img-list-outer-div">
                          <div class="img-list-div first-div">
                            <div class="img-pic">
                              <div class="img-pic-inner">
                                <img
                                  src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                  alt="user"
                                  class="user-list-pic"
                                />
                                <div class="img-pic-active"></div>
                              </div>
                            </div>
                            <h2 class="heading-text-list">Johat Elliute</h2>
                            <p class="heading-text-mail">johatellite@gmail.com</p>
                          </div>

                          <div class="content sec-div">
                            <div class="button-div text-centre border-top-0">
                              <h4>Mentor</h4>
                              <button type="button" class="button status-button">Change Status</button>
                            </div>

                            <ul>
                              <li class="border-0">
                                Invited by
                                <span class="text-li">Sam smith</span>
                              </li>
                              <li class="border-0">
                                Joined
                                <span class="text-li">15 November, 2019</span>
                              </li>
                              <li class="border-0">
                                Last Active
                                <span class="text-li">40 min ago</span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 list-view-div">
                        <div class="tab-content img-list-outer-div">
                          <div class="img-list-div first-div">
                            <div class="img-pic">
                              <div class="img-pic-inner">
                                <img
                                  src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                  alt="user"
                                  class="user-list-pic"
                                />
                                <div class="img-pic-active"></div>
                              </div>
                            </div>
                            <h2 class="heading-text-list">Johat Elliute</h2>
                            <p class="heading-text-mail">johatellite@gmail.com</p>
                          </div>

                          <div class="content sec-div">
                            <div class="button-div text-centre border-top-0">
                              <h4>Mentor</h4>
                              <button type="button" class="button status-button">Change Status</button>
                            </div>

                            <ul>
                              <li class="border-0">
                                Invited by
                                <span class="text-li">Sam smith</span>
                              </li>
                              <li class="border-0">
                                Joined
                                <span class="text-li">15 November, 2019</span>
                              </li>
                              <li class="border-0">
                                Last Active
                                <span class="text-li">40 min ago</span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 list-view-div">
                        <div class="tab-content img-list-outer-div">
                          <div class="img-list-div first-div">
                            <div class="img-pic">
                              <div class="img-pic-inner">
                                <img
                                  src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                  alt="user"
                                  class="user-list-pic"
                                />
                                <div class="img-pic-active"></div>
                              </div>
                            </div>
                            <h2 class="heading-text-list">Johat Elliute</h2>
                            <p class="heading-text-mail">johatellite@gmail.com</p>
                          </div>

                          <div class="content sec-div">
                            <div class="button-div text-centre border-top-0">
                              <h4>Mentor</h4>
                              <button type="button" class="button status-button">Change Status</button>
                            </div>

                            <ul>
                              <li class="border-0">
                                Invited by
                                <span class="text-li">Sam smith</span>
                              </li>
                              <li class="border-0">
                                Joined
                                <span class="text-li">15 November, 2019</span>
                              </li>
                              <li class="border-0">
                                Last Active
                                <span class="text-li">40 min ago</span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end-of leaderboard-table -->
            </div>
            <!-- End-of-container-div -->
          </div>
          <!-- End-of-col-div -->
        </div>
        <!-- End-of-row-div -->
      </div>
      <!-- End-of-page-contents-div -->
    </div>
    <!-- End-of-wrapper-div -->
  </div>
  <!-- End-of-leaderboard-div -->
</template>
<script>
export default {
  data() {
    return {
      isDroppedgrid: true,
      isDroppedlist: false
    };
  },

  methods: {
    dropItlist() {
      //switch off grid view
      this.isDroppedgrid = false;

      //switch on list view
      this.isDroppedlist = true;
    },
    dropItgrid() {
      //switch off list view
      this.isDroppedlist = false;

      //switch on grid view
      this.isDroppedgrid = true;
    }
  }
};
</script>
 