<template>
  <div class="discord-page">
    <section>
      <div class="setPadd dusersPadd">
        <h3>Users</h3>

        <table id="discordTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>S No.</th>
                <th>Name</th>
                <th>Email</th>
                <th>IP address</th>
                <th>Role</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Mode</th>
                <th>Amount</th>
                <th>Notes</th>
                <th>Discord ID</th>
                <th>Discord</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>

        <thead>
          <tr>
            <th><input class="input-bg" id="column_1" type="text" style="width: 100%;color: #000;" placeholder="Search S No." /></th>
            <th><input class="input-bg" id="column_2" type="text" style="width: 100%;color: #000;" placeholder="Search Name" /></th>
            <th><input class="input-bg" id="column_3" type="text" style="width: 100%;color: #000;" placeholder="Search Email" /></th>
            <th><input class="input-bg" id="column_4" type="text" style="width: 100%;color: #000;" placeholder="Search Role" /></th>
            <th><input class="input-bg" id="column_5" type="text" style="width: 100%;color: #000;" placeholder="Search Start Date" /></th>
            <th><input class="input-bg" id="column_6" type="text" style="width: 100%;color: #000;" placeholder="Search End Date" /></th>
            <th><input class="input-bg" id="column_7" type="text" style="width: 100%;color: #000;" placeholder="Search Mode" /></th>
            <th><input class="input-bg" id="column_8" type="text" style="width: 100%;color: #000;" placeholder="Search Amount" /></th>
            <th><input class="input-bg" id="column_9" type="text" style="width: 100%;color: #000;" placeholder="Search Notes" /></th>
            <th><input class="input-bg" id="column_10" type="text" style="width: 100%;color: #000;" placeholder="Search Discord ID" /></th>
            <th><input class="input-bg" id="column_11" type="text" style="width: 100%;color: #000;" placeholder="Search Discord" /></th>
            <th><input class="input-bg" id="column_12" type="text" style="width: 100%;color: #000;" placeholder="Search Status" /></th>
            <th></th>
          </tr>
        </thead>
        </table>
         </div>
    </section>

    <!-- Modal for profile change -->
    <div id="updateProfile" class="modal view-plan-popup">
       <h2>Edit Profile</h2>
      <form @submit.prevent="doSaveProfile">
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control-plaintext" id="setName" value="" v-model="forms.profile.name" autofocus required>
        </div>
      </div>

      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control-plaintext" id="setEmail" v-model="forms.profile.email" autofocus required disabled>
          <input type="hidden" class="getUserId" value="" v-model="forms.profile.userid">
        </div>
      </div>

      <div class="form-group row">
        <!-- <label for="staticEmail" class="col-sm-2 col-form-label">Email</label> -->
        <div class="col-sm-2">
          <button class="full action popupButton" id="profileButton" updateProfileId="" updateProfileEmail="">Save</button>
        </div>
      </div>
      </form>
    </div>
    <!-- Link to open the modal -->
    <p><a href="#updateProfile" rel="modal:open" id="openProfilePage"></a></p>
    <!--end of modal popup-->

     <!-- role modal popup -->
    <div id="updateRole" class="modal view-plan-popup">
       <h2>Change Role</h2>
      <div class="form-group row">
        <div class="col-sm-10">
          <form @submit.prevent="doChangeRole">
  <p>
    <input type="radio" class="checkRole" id="roldId2" name="assignRole" v-model="forms.role.assignRole" value="2">
    <label for="test2">Admin</label>
  </p>

  <p>
    <input type="radio" class="checkRole" id="roldId0" name="assignRole" v-model="forms.role.assignRole" value="0" checked>
    <label for="test1">User</label>
  </p>

  <p>
    <input type="radio" class="checkRole" id="roldId3" name="assignRole" v-model="forms.role.assignRole" value="3" checked>
    <label for="test1">Moderator</label>
  </p>
  
  <p>
    <input type="radio" class="checkRole" id="roldId4" name="assignRole" v-model="forms.role.assignRole" value="4" checked>
    <label for="test1">Analyst</label>
  </p>

  <input type="hidden" class="getUserId" value="" v-model="forms.role.userid">

  <button class="full action popupButton" id="roleButton" updateRoleId="">Save</button>
</form>
        </div>
      </div>
    </div>
    <!-- Link to open the modal -->
    <p><a href="#updateRole" rel="modal:open" id="openRolePage"></a></p>
    <!--end of modal popup-->

     <!-- Modal for profile change -->
    <div id="addPayment" class="modal view-plan-popup">
      <h2>Add Payment</h2>
      <form @submit.prevent="doSavePlan" class="addpayment-input">

        <div class="form-group row">
        <label for="staticEmail" class="col-sm-3 col-form-label">Start Date</label>
        <div class="col-sm-9">
          <Datepicker id="setStart" class="" value="" v-model="forms.plan.start" autofocus required></Datepicker>
        </div>
      </div>

      <div class="form-group row">
        <label for="staticEmail" class="col-sm-3 col-form-label">End Date</label>
        <div class="col-sm-9">
          <Datepicker id="setEnd" class="" value="" v-model="forms.plan.end" autofocus required></Datepicker>
        </div>
      </div>

      <div class="form-group row">
        <label for="staticEmail" class="col-sm-3 col-form-label">Amount</label>
        <div class="col-sm-9">
          <input type="text" class="form-control-plaintext" id="setAmount" value="" v-model="forms.plan.amount" autofocus required>
        </div>
      </div>

      <div class="form-group row">
        <label for="staticEmail" class="col-sm-3 col-form-label">Plan</label>
        <div class="col-sm-9">
          <select class="form-control" v-model="forms.plan.plan" required style="margin-bottom: 13px;">
            <option v-for="item in Pitems" v-bind:key="item.id">
              {{ item.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="staticEmail" class="col-sm-3 col-form-label">Notes</label>
        <div class="col-sm-9">
          <input type="text" class="form-control-plaintext" id="setPlan" value="" v-model="forms.plan.notes" autofocus required>
        </div>
      </div>

      <div class="form-group row">
        <!-- <label for="staticEmail" class="col-sm-2 col-form-label">Email</label> -->
        <div class="col-sm-2">
          <button class="full action popupButton" id="planButton" updatePlanId="">Save</button>
        </div>
      </div>
      </form>
    </div>
    <!-- Link to open the modal -->
    <p><a href="#addPayment" rel="modal:open" id="openPaymentPage"></a></p>
    <!--end of modal popup-->


    <!-- Modal for profile change -->
    <div id="transactionView" class="modal view-plan-popup">
      <h2 id="userName"></h2>
      
      <table class="table">
        <thead>
            <tr>
                <th>S No.</th>
                <th>Mode</th>
                <th>Amount</th>
                <th>Start date</th>
                <th>End date</th>
            </tr>
        </thead>
        <tbody id="addTransactions">
        </tbody>
      </table>
    </div>
    <!-- Link to open the modal -->
    <p><a href="#transactionView" rel="modal:open" id="openTransactionPage"></a></p>
    <!--end of modal popup-->

  </div>
</template>

<script>
var discordUserDatatable;
import { get, find } from "lodash-es";
import { mapState, mapGetters } from "vuex";
import Datepicker from 'vuejs-datepicker';
import api from "js/api";
import axios from "axios";

export default {
  name: 'DatatablePage',
  components: {
    Datepicker
  },
  data() {
    return {
      waiting: false,
      forms: {
        profile: {
          name: "",
          email: "",
          userid:""
        },
        role: {
          assignRole: "",
          userid: ""
        },
        plan: {
          amount: "",
          start: "",
          end: "",
          plan: "",
          notes: ""
        }
      },
      Pitems: null,
      transactionDetails: null
    };
  },
  computed: {
    ...mapState(["me", "app_name"]),
    ...mapGetters(["referralUrl"]),
  },
  created: function() {
    this.fetchUsers()
  },
  methods: {

    //save profile
    async doSaveProfile() {
      if (this.waiting) {
        return;
      }

      this.waiting = true;
      
      // const { name, email, userid } = this.forms.profile;
      var name= $('#setName').val();
      var email= $('#setEmail').val();
      var userid= $('#profileButton').attr('updateProfileId');
        
      const { data } = await api.post("/admin/update-profile", {
          name,
          email,
          userid
        });

        if(data.success) {
          $('.close-modal').click();
          var messageType= 'success';
          var faIcon= 'check-double';

          //reload table
          discordUserDatatable.destroy();
          this.fetchUsers();
          
        } else {
          var messageType= 'error';
          var faIcon= 'exclamation-triangle';
        }

        this.$toasted.show(data.message, {
          iconPack: "fontawesome",
          icon: faIcon,
          type: messageType,
          duration: 2500
        });

      this.waiting = false;
    },

    //change role
    async doChangeRole() {
      if (this.waiting) {
        return;
      }

      this.waiting = true;

      // var checkRole= $('.checkRole').val();
      
      var userid= $('#roleButton').attr('updateRoleId');
      const { assignRole } = this.forms.role;
        
      const { data } = await api.post("/admin/update-role", {
          assignRole,
          userid
        });

        if(data.success) {
          $('.close-modal').click();
          var messageType= 'success';
          var faIcon= 'check-double';
          

          //reload table
          discordUserDatatable.destroy();
          this.fetchUsers();
        } else {
          var messageType= 'error';
          var faIcon= 'exclamation-triangle';

        }
        
        this.$toasted.show(data.message, {
          iconPack: "fontawesome",
          icon: faIcon,
          type: messageType,
          duration: 2500
        });

      this.waiting = false;
    },

    //save profile
    async doSavePlan(event) {
      if (this.waiting) {
        return;
      }

      this.waiting = true;
      
      const { amount, end, notes, plan, start } = this.forms.plan;
      const userid= $('#planButton').attr('updateplanid');
        
      const { data } = await api.post("/admin/add-plan", {
          amount,
          start,
          end,
          plan,
          notes,
          userid
        });

        if(data.success) {
          $('.close-modal').click();
          var messageType= 'success';
          var faIcon= 'check-double';

          event.target.reset();
          
          //reload table
          discordUserDatatable.destroy();
          this.fetchUsers();
          
        } else {
          var messageType= 'error';
          var faIcon= 'exclamation-triangle';
        }

        this.$toasted.show(data.message, {
          iconPack: "fontawesome",
          icon: faIcon,
          type: messageType,
          duration: 2500
        });

      this.waiting = false;
    },
    //save profile

      async fetchUsers() {
        $( document ).ready(function() {
          discordUserDatatable= $('#discordTable').DataTable({
            'ajax': {
              'url': '/api/admin/fetch-discord-users',
              'type': 'GET',
              'beforeSend': function (request) {
                request.setRequestHeader("Authorization",'Bearer ' +localStorage.getItem("token"));
              },
              "error":function(error){
                // $this.showErrorMessage(error.responseText);
              }
            },
            "columns": [
                { "data": "s_no" },
                { "data": "name" },
                { "data": "email" },
                { "data": "ip_address" },
                { "data": "role" },
                { "data": "start" },
                { "data": "end" },
                { "data": "mode" },
                { "data": "amount" },
                { "data": "notes" },
                { "data": "discord_id" },
                { "data": "discord" },
                { "data": "status" },
                { "data": "mix_data",
                "render": function ( data, type, row ) {
                  if(data.add_plan) {
                  var addPayment = '<option data-userid="'+data.userId+'" value="3">Add Payment</option>';
                  }
                    return '<select class="form-control actionDropDown">'+
                    '<option>--Select--</option>'+
                    '<option data-userid="'+data.userId+'" data-name="'+data.name+'" data-email="'+data.email+'" value="1">Edit Profile</option>'+
                    '<option data-userid="'+data.userId+'" data-userRole="'+data.role+'" value="2">Change Role</option>'+
                    '<option data-userid="'+data.userId+'" value="4">View Transactions</option>'+
                    addPayment+
                    '</select>';
                }
                }
            ],
            "scrollX": true
          }); 
        });
      }
    },
    async mounted(){
      //get available plans
      this.Pitems = get(await api.get("/admin/fetch-plan"), "data");
      if(this.Pitems != null && this.Pitems.success) {
        this.Pitems= this.Pitems.data;        
      }

      $(document).on('change','.actionDropDown',function() {
        var checkAction= $(this).val();
        var usId= $(this).find(':selected').attr('data-userid');
        if(checkAction == 1) {
          $('#openProfilePage').click();
          $('#setName').val($(this).find(':selected').attr('data-name'));
          $('#setEmail').val($(this).find(':selected').attr('data-email'));
          $('#profileButton').attr('updateProfileEmail', $(this).find(':selected').attr('data-email'));
          $('#profileButton').attr('updateProfileId', usId);
            
        } else if(checkAction == 2) {
          var userRole= $(this).find(':selected').attr('data-userRole');
          var uncheked= $('input[type="radio"]:not(:checked)');
          for(var i=0; i<uncheked.length; i++) {
            if(uncheked[i].value == userRole) {
              $("#roldId"+uncheked[i].value).prop("checked", true);
            }
          }
          $('#openRolePage').click();
          $('#roleButton').attr('updateroleid', usId);

        } else if(checkAction == 3) {
          $('#openPaymentPage').click();
          $('#planButton').attr('updatePlanId', usId);

        } else if(checkAction == 4) {

          $('#addTransactions').html('');

          $.ajax({
            url: "/api/admin/fetch-transactions-details/"+usId,
            type: 'GET',
            beforeSend: function (request) {
                request.setRequestHeader("Authorization",'Bearer ' +localStorage.getItem("token"));
            },
            success: function(response) {
              var totalTransaction= response.data.length;
              //set user name
              $('#userName').html(response.user_name);
              response= response.data;
              if(totalTransaction > 0) {
                for(var i=0; i<totalTransaction; i++) {
                  $('#addTransactions').append('<tr><td>'+response[i].s_no+'</td>'
                  +'<td>'+response[i].mode+'</td>'
                  +'<td>'+response[i].amount+'</td>'
                  +'<td>'+response[i].start_date+'</td>'
                  +'<td>'+response[i].end_date+'</td></tr>');
                }

              }
          }});

          $('#openTransactionPage').click();
        }
      });

      $(document).on('change','#setName',function() {
          $('#setEmail').val($('#profileButton').attr('updateProfileEmail'));
      });
      $(document).on('focusout','#setName',function() {
          $('#setEmail').val($('#profileButton').attr('updateProfileEmail'));
      });

      /**Table search */

      $('#column_1').on('keyup', function () {
        discordUserDatatable
                .columns(0)
                .search(this.value)
                .draw();
    });
    $('#column_2').on('keyup', function () {
        discordUserDatatable
                .columns(1)
                .search(this.value)
                .draw();
    });
    $('#column_3').on('keyup', function () {
        discordUserDatatable
                .columns(2)
                .search(this.value)
                .draw();
    });
    $('#column_4').on('keyup', function () {
        discordUserDatatable
                .columns(3)
                .search(this.value)
                .draw();
    });
    $('#column_5').on('change', function () {
        discordUserDatatable
                .columns(4)
                .search(this.value)
                .draw();
    });
    $('#column_6').on('keyup', function () {
        discordUserDatatable
                .columns(5)
                .search(this.value)
                .draw();
    });
    $('#column_7').on('keyup', function () {
        discordUserDatatable
                .columns(6)
                .search(this.value)
                .draw();
    });
    $('#column_8').on('keyup', function () {
        discordUserDatatable
                .columns(7)
                .search(this.value)
                .draw();
    });
    $('#column_9').on('keyup', function () {
        discordUserDatatable
                .columns(8)
                .search(this.value)
                .draw();
    });
    $('#column_10').on('keyup', function () {
        discordUserDatatable
                .columns(9)
                .search(this.value)
                .draw();
    });
    $('#column_11').on('keyup', function () {
        discordUserDatatable
                .columns(10)
                .search(this.value)
                .draw();
    });
    $('#column_12').on('keyup', function () {
        discordUserDatatable
                .columns(11)
                .search(this.value)
                .draw();
    });

      
    }
};
</script>