<template>
  <div class="page-contents">
    <div class="row">
      <div class="col-md-12">
        <div class="container">
          <section>
            <div class="setPadd">
              <div class="container-header">
                <div class="header-div">
                  <h2>Referral Leaderboard</h2>
                </div>
              </div>
              <div class="container-content">
                <table id="leaderboard-table" class="table w-100 max-min-table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Registrations</th>
                      <th>Unique</th>
                      <th>Conversions</th>
                      <th>Active</th>
                      <th>Cancelled</th>
                      <th>% No Discord</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </section>
        </div>
        <!-- End-of-container-div -->
      </div>
      <!-- End-of-col-div -->
    </div>
    <!-- End-of-row-div -->
  </div>
  <!-- End-of-page-contents-div -->
</template>

<script>
// import { mdbDatatable, mdbContainer } from "mdbvue";
import { get, find } from "lodash-es";
import { mapState, mapGetters } from "vuex";
import api from "js/api";
import axios from "axios";

export default {
  name: "DatatablePage",
  components: {
    // mdbDatatable,
    // mdbContainer
  },
  data() {
    return {
      Nitems: null,
      columns: [],
      rows: []
    };
  },
  // created: function() {
  //   this.fetchAdminUsers();
  // },
  computed: {
    ...mapState(["me", "app_name"]),
    ...mapGetters(["referralUrl"]),
    data() {
      return {
        columns: this.columns,
        rows: this.rows
      };
    }
  },
  methods: {
    filterData(dataArr, keys) {
      let data = dataArr.map(entry => {
        let filteredEntry = {};
        keys.forEach(key => {
          if (key in entry) {
            filteredEntry[key] = entry[key];
          }
        });
        return filteredEntry;
      });
      return data;
    }
  },
  async fetchAdminUsers() {
    alert("HELL");
    $(document).ready(function() {
      couponsDatatable = $("#leaderboard-table").DataTable({
        ajax: {
          url: "/api/admin/fetch-admin-users",
          type: "GET",
          beforeSend: function(request) {
            request.setRequestHeader(
              "Authorization",
              "Bearer " + localStorage.getItem("token")
            );
          },
          error: function(error) {
            // $this.showErrorMessage(error.responseText);
          }
        },
        columns: [
          { data: "name" },
          { data: "registrations" },
          { data: "unique" },
          { data: "conversions" },
          { data: "active" },
          { data: "cancelled" },
          { data: "no_discord" }
        ]
        // scrollX: true
      });
    });
  },
  async mounted() {
    // this.Nitems = get(await api.get("/admin/fetch-admin-users"), "data");
    // if (this.Nitems != null) {
    //   let keys = [
    //     "name",
    //     "registrations",
    //     "unique",
    //     "conversions",
    //     "active",
    //     "cancelled",
    //     "% no discord"
    //   ];
    //   let entries = this.filterData(this.Nitems, keys);
    //   //columns
    //   this.columns = keys.map(key => {
    //     return {
    //       label: key.toUpperCase(),
    //       field: key,
    //       sort: "asc"
    //     };
    //   });
    //   //rows
    //   entries.map(entry => this.rows.push(entry));
    // }
  }
};
</script>
