<template>
  <div
    class="flex flex-grow flex-center"
    style="overflow: auto;min-width: 1024px;align-items: start;"
  >
    <div style="width: 164px;">
      <ul class="left-nav">
        <router-link tag="li" to="/admin">
          <i class="fas fa-home"></i>
          <span>Leaderboard</span>
        </router-link>

        <router-link tag="li" to="/admin/discord-users">
          <i class="fas fa-comments"></i>
          <span>Discord Users</span>
        </router-link>

        <router-link v-if="me.user_role == 2" tag="li" to="/">
          <i class="fas fa-home"></i>
          <span>User Dashboard</span>
        </router-link>

        <!-- <router-link tag="li" to="/membership">
          <i class="fas fa-id-badge"></i>
          <span>Membership</span>
        </router-link> -->

        <!-- <router-link tag="li" to="/settings">
          <i class="fas fa-cog"></i>
          <span>Settings</span>
        </router-link> -->
      </ul>
    </div>
    <div class="flex-grow" style="max-width: 1092px; margin-left: 20px; text-align: left;">
      <router-view></router-view>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.left-nav {
  text-align: left;
  font-size: 15px;

  li {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  i {
    width: 22px;
    margin-right: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  padding: 0;
  margin: 0;
  margin-left: 4px;

  .router-link-exact-active {
    > i,
    > span {
      color: var(--color-active-left-nav-link);
    }

    > span {
      font-weight: 500;
    }
  }

  :not(.router-link-active) {
    ul {
      display: none;
    }
  }

  li {
    padding: 4px 0;
  }

  ul {
    padding: 4px 0 8px;
  }

  > li {
    margin: 4px 0;
  }
}
</style>


<script>
import { mapState, mapActions } from "vuex";

export default {
  computed: {
    ...mapState(["me"]),
    connections() {
      return this.me.connections;
    },
    discordAccount() {
      return this.connections.find(
        connection => connection.provider == "discord"
      );
    }
  },
  created: function() {
    
  },
  methods: {
    
  }
};
</script>