
<template>
  <div id="wrapper" class="home-page font-family">
    <!-- wrapper -->
    <div id="page-content-wrapper">
      <!-- <div id="app admin-design" class="set-container">  -->
      <div id="loading" v-if="loading">
        <div>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <!-- header -->
      <header class="header admin-header">
        <div class="header-inner clearfix">
          <nav style="width: 100%; float: left;" class="border-0">
            <div class="admin-header-logo heading pull-left">
              <div
                class="flex flex-center"
                style="justify-content: start; position: relative; cursor: pointer; outline: none;"
                @click="showGuildsMenu = true"
                @keyup.esc="showGuildsMenu = false"
                tabindex="0"
              >
                <div
                  v-if="showGuildsMenu"
                  @click.stop="showGuildsMenu = false"
                  style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 5; background: rgba(0, 0, 0, 0.5);"
                ></div>
                <section
                  v-if="showGuildsMenu"
                  style="position: absolute; top: 0; left: 0; z-index: 10; color: var(--text-color-dark); z-index: 6; font-size: 14px; box-shadow: 0 0 0 1px rgba(136, 152, 170, .1), 0 15px 35px 0 rgba(49, 49, 93, .1), 0 5px 15px 0 rgba(0, 0, 0, .08);"
                >
                  <template v-for="(item, i) in guildMenuItems">
                    <a
                      :key="i"
                      :href="item.href"
                      class="flex flex-center"
                      style="color: inherit; text-decoration: none; cursor: pointer; justify-content: start; padding: 8px 24px 8px 8px; box-shadow: rgb(227, 232, 238) 0px 1px inset"
                    >
                      <div
                        class="avatar"
                        style="background-color: rgb(0, 0, 0);"
                        :style="{ backgroundImage: `url(${item.avatar})` }"
                      ></div>
                      <span style="font-weight: 600;">{{ item.label }}</span>
                    </a>
                  </template>
                </section>

                <div
                  class="avatar"
                  style="background-color: transparent;"
                  :style="{backgroundImage: `url(&quot;${app_icon}&quot;)`}"
                ></div>
                <span style="font-weight: 600;">{{ app_name }}</span>
                <i class="ml-2 fas fa-chevron-down"></i>
              </div>
            </div>
            <div class="header-icons-group">
              <div class="flex flex-center flex-grow user" style="justify-content: flex-end;">
                <div class="dropdown dropit" style="margin-top: -10px;">
                  <span class="dropbtn" @click="dropItLogout()">
                    <div
                      class="avatar"
                      :style="{ backgroundImage: me.avatar ? `url(${me.avatar})` : null }"
                    >{{ me.avatar ? '' : me.name.slice(0, 1) }}</div>
                    <!-- {{ me.name }} -->
                  </span>
                  <transition class="fade">
                    <div class="list user-list dropped admin-logout" v-if="isLogout">
                      <div class="user-dropdown">
                        <div class="widget-pic">
                          <div class="user-text" v-if="me">{{ me.name }}</div>
                        </div>
                        <div class="widget-logout" @click="logout">
                          <button class="btn user-button">Logout</button>
                        </div>
                      </div>
                    </div>
                  </transition>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>

      <!-- sidebar -->
      <div id="sidebar" v-if="me">
        <!-- sidebar-wrapper -->
        <div id="sidebar-wrapper">
          <!-- sidebar_menu -->
          <nav class="main-menu" :class="{ 'expanded' : sidebarVisible }">
            <!-- sidebar-nav -->
            <ul class="sidebar-nav">
              <div id="sidebar_menu" @click="showSideBar()">
                <div class="bar1" :class="{ 'change' : sidebarVisible }"></div>
                <div class="bar2" :class="{ 'change' : sidebarVisible }"></div>
                <div class="bar3" :class="{ 'change' : sidebarVisible }"></div>
              </div>
              <li selected="true">
                <router-link
                  to="/admin"
                  class="l-sidebar-icon"
                  :class="(this.$route.path=='/') ? 'active' : ''"
                >
                  Leaderboard
                  <span class="sub_icon l-sidebar-icon-grid"></span>
                </router-link>
              </li>

              <li>
                <router-link to="/admin/discord-users" class="l-sidebar-icon">
                  Discord Users
                  <span class="sub_icon l-sidebar-icon-award"></span>
                </router-link>
              </li>

              <li>
                <router-link to="/admin/discount-coupons" class="l-sidebar-icon">
                  Discount Coupons
                  <span class="sub_icon l-sidebar-icon-film"></span>
                </router-link>
              </li>
              <li>
                <router-link to="/admin/charts" class="l-sidebar-icon">
                  Charts
                  <span class="sub_icon l-sidebar-icon-user"></span>
                </router-link>
              </li>
              <li></li>
            </ul>
          </nav>
        </div>
        <!-- end-of-sidebar-wrapper -->
      </div>

      <div class="container" style>
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>  

<style lang="scss" scoped>
@import "../../sass/_global.scss";
@import "../../sass/dashboard.scss";
@import "../../sass/admin.scss";
@import "../../sass/layout.scss";
@import "../../sass/charts.scss";
</style>
<script>
import { mapState, mapActions } from "vuex";

export default {
  data() {
    return {
      showGuildsMenu: false,
      sidebarVisible: false,
      isLogout: false
    };
  },
  computed: {
    ...mapState(["app_name", "app_icon", "me", "loading"]),
    guildMenuItems() {
      const fullPath = this.$router.currentRoute.fullPath;

      return [
        {
          label: "Xtrades",
          avatar:
            "https://cdn.discordapp.com/avatars/542367341015597066/a1f8dd6766542b76a3f8880abf93cafc.png",
          href: `https://members.xtrades.net${fullPath}`
        },
        {
          label: "CryptoTraders",
          avatar:
            "https://xtrades-phase2.lusites.xyz/images/CryptoTraders_Logo_Only.png",
          href: `https://members.cryptotraders.com${fullPath}`
        }
      ];
    }
  },
  methods: {
    ...mapActions(["logout"]),
    showSideBar() {
      this.sidebarVisible = !this.sidebarVisible;
    },
    dropItLogout() {
      this.isLogout = !this.isLogout;
    }
  }
};
</script>