<template>
  <div id="app">
    <!-- wrapper -->
    <div id="wrapper" class="home-page font-family">
      <!-- sidebar -->
      <div id="sidebar" v-if="me">
        <!-- sidebar-wrapper -->
        <div id="sidebar-wrapper">
          <!-- sidebar_menu -->
          <nav class="main-menu" :class="{ 'expanded' : sidebarVisible }">
            <!-- sidebar-nav -->
            <ul class="sidebar-nav">
              <div id="sidebar_menu" @click="showSideBar()">
                <div class="bar1" :class="{ 'change' : sidebarVisible }"></div>
                <div class="bar2" :class="{ 'change' : sidebarVisible }"></div>
                <div class="bar3" :class="{ 'change' : sidebarVisible }"></div>
              </div>
              <li selected="true">
                <router-link
                  to="/"
                  class="l-sidebar-icon"
                  :class="(this.$route.path=='/') ? 'active' : ''"
                >
                  Dashboard
                  <span class="sub_icon l-sidebar-icon-grid"></span>
                </router-link>
              </li>

              <li>
                <router-link to="/referral-leaderboard" class="l-sidebar-icon">
                  Leaderboard
                  <span class="sub_icon l-sidebar-icon-award"></span>
                </router-link>
              </li>

              <li>
                <router-link to="/product" class="l-sidebar-icon">
                  Members Product
                  <span class="sub_icon l-sidebar-icon-film"></span>
                </router-link>
              </li>

              <li>
                <router-link to="/chat" class="l-sidebar-icon">
                  Chat
                  <span class="sub_icon l-sidebar-icon-user"></span>
                </router-link>
              </li>
              <li>
                <router-link to="/plans" class="l-sidebar-icon">
                  Plans
                  <span class="sub_icon l-sidebar-icon-grid"></span>
                </router-link>
              </li>
            </ul>
          </nav>
        </div>
        <!-- end-of-sidebar-wrapper -->
      </div>
    </div>
    <!--End-of-#Wrapper-->
    <div id="page-content-wrapper">
      <router-view></router-view>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";

export default {
  data() {
    return {
      sidebarVisible: false
    };
  },
  computed: {
    ...mapState(["app_name", "app_icon", "me", "loading"])
  },
  methods: {
    showSideBar() {
      this.sidebarVisible = !this.sidebarVisible;
    }
  }
};
</script>
 