<template>
  <div
    class="flex flex-grow flex-center"
    style="overflow: auto;min-width: 1024px;padding: 20px;align-items: start;"
  >
    <div style="width: 240px;">
      <ul class="left-nav">
        <!-- <router-link tag="li" to="/payments">
          <i class="fas fa-money-check-alt"></i>
          <span>Payments</span>
          <ul>
            <router-link tag="li" to="/payments/disputes">
              <i></i>
              <span>Disputes</span>
            </router-link>
          </ul>
        </router-link>
        <router-link tag="li" to="/balance">
          <i class="fas fa-exchange-alt"></i>
          <span>Balance</span>
          <ul>
            <router-link tag="li" to="/balance/payouts">
              <i></i>
              <span>Payouts</span>
            </router-link>
            <router-link tag="li" to="/balance/transactions">
              <i></i>
              <span>Transactions</span>
            </router-link>
          </ul>
        </router-link>-->

        <router-link tag="li" to="/">
          <i class="fas fa-home"></i>
          <span>Home</span>
        </router-link>

        <router-link tag="li" to="/chat">
          <i class="fas fa-comments"></i>
          <span>Chat</span>
        </router-link>

        <router-link tag="li" to="/affiliates">
          <i class="fas fa-user-friends"></i>
          <span>Affiliates</span>
        </router-link>

        <router-link tag="li" to="/referral-leaderboard">
          <i class="fas fa-star"></i>
          <span>Leaderboard</span>
        </router-link>

        <router-link tag="li" to="/plans">
          <i class="fas fa-map"></i>
          <span>Plans</span>
        </router-link>

        <router-link v-if="me.user_role == 2" tag="li" to="/admin">
          <i class="fas fa-home"></i>
          <span>Access Admin</span>
        </router-link>

        <!-- <router-link tag="li" to="/membership">
          <i class="fas fa-id-badge"></i>
          <span>Membership</span>
        </router-link>-->

        <!-- <router-link tag="li" to="/settings">
          <i class="fas fa-cog"></i>
          <span>Settings</span>
        </router-link>-->
      </ul>
    </div>
    <div class="flex-grow" style="max-width: 1092px; margin-left: 20px; text-align: left;">
      <router-view></router-view>
    </div>

    <!-- Modal HTML embedded directly into document -->
    <div id="movePlans" class="modal view-plan-popup">
      <p
        class="alert alert-success"
        role="alert"
      >Thanks for signup! Please, proceed further for subscription plans.</p>
      <router-link
        to="/plans"
        tag="div"
        style="cursor: pointer; padding: 20px; box-shadow: inset 0 1px #e3e8ee; color: #4f566b;"
      >
        <a href="#" rel="modal:close" class="btn btn-info">View Plans</a>
      </router-link>
    </div>
    <!-- Link to open the modal -->
    <p>
      <a href="#movePlans" rel="modal:open" id="openPlanPop"></a>
    </p>
    <!--end of modal popup-->
  </div>
</template>

<style lang="scss" scoped>
.left-nav {
  text-align: left;
  font-size: 15px;

  li {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  i {
    width: 22px;
    margin-right: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  padding: 0;
  margin: 0;
  margin-left: 4px;

  .router-link-exact-active {
    > i,
    > span {
      color: var(--color-active-left-nav-link);
    }

    > span {
      font-weight: 500;
    }
  }

  :not(.router-link-active) {
    ul {
      display: none;
    }
  }

  li {
    padding: 4px 0;
  }

  ul {
    padding: 4px 0 8px;
  }

  > li {
    margin: 4px 0;
  }
}
</style>


<script>
import { mapState, mapActions } from "vuex";

export default {
  computed: {
    ...mapState(["me"]),
    connections() {
      return this.me.connections;
    },
    discordAccount() {
      return this.connections.find(
        connection => connection.provider == "discord"
      );
    }
  },
  created: function() {
    this.timer = setTimeout(this.fetchEventsList, 20000);
  },
  methods: {
    fetchEventsList: function() {
      if (
        this.me.subscriptions.length == 0 &&
        localStorage.checkSubscription == 1
      ) {
        localStorage.setItem(
          "checkSubscription",
          parseInt(localStorage.checkSubscription) + 1
        );
        $("#openPlanPop").click();
      }
    }
  }
};
</script>