<template>
  <!-- wrapper -->
  <div id="wrapper" class="home-page font-family">
    <!-- page-content-wrapper -->
    <div id="page-content-wrapper">
      <!-- header -->
      <header class="header">
        <div class="header-inner clearfix">
          <h1 class="heading">Dashboard</h1>
          <div class="header-icons-group">
            <form action class="search-form desktop">
              <div class="form-group has-feedback">
                <label for="search" class="sr-only">Search</label>
                <input
                  type="text"
                  class="form-control"
                  name="search"
                  id="search"
                  placeholder="Search"
                />
                <span class="form-control-feedback">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </span>
              </div>
            </form>
            <div v-if="me" class="nav-item dropdown header-right-items">
              <div class="collapse navbar-collapse pull-right" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto dropit">
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link l-sidebar-icon"
                      href="javascript:void(0);"
                      id="navbarDropdown"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <div class="user" @click="dropItheader ()">
                        <img
                          src="../../assets/images/dashboard-icon/user.jpg"
                          alt="icon"
                          class="user-pic"
                        />

                        <transition class="fade">
                          <div class="list user-list dropped" v-if="isDroppedheader">
                            <div class="user-dropdown">
                              <div class="widget-pic">
                                <div class="user-text" v-if="me">{{ me.name }}</div>
                              </div>
                              <div class="widget-logout" v-if="me" @click="logout">
                                <button class="btn user-button">Logout</button>
                              </div>
                            </div>
                          </div>
                        </transition>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="mobile-small-size">
          <form class="search-container">
            <input type="text" id="search-bar" placeholder="Search" />
            <a href="javascript:void(0);">
              <span class="form-control-search search-icon">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </a>
          </form>
        </div>
      </header>
      <!-- end-of-header -->
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  data() {
    return {
      test: null,
      isDroppedheader: false
    };
  },
  computed: {
    ...mapState(["app_name", "app_icon", "me", "loading"])
  },
  methods: {
    ...mapActions(["logout"]),
    dropItheader() {
      this.isDroppedheader = !this.isDroppedheader;
    }
  }
};
</script>